<!-- <div class="left_top">
	<div class="btn_style2" ng-click="nextStep()">下一步</div>
	<div class="btn_style1" ng-click="preveStep()">上一步</div>
	<div class="btn_style1">关闭</div>
</div> -->

<div ng-click="allClose($event)">
	<div class="AIOSetp_bt">
		<div class="AIOSetp_bt_l"></div>财产损失
	</div>
<!-- 财产损失 -->
<div class="AIOlist">
	<div class="AIOSetp2_cont1 AIOSetp_cont">
		<div class="row" style="margin-top: 20px;">
			<div class="col-xs-6 form-group form-group-sm" style="margin-top: 15px;" ng-repeat="fee in lawCase.feeDetail" ng-if="fee.group == '7'">
				<label class="col-xs-4 control-label text-right">
					<span class="ng-scope ng-binding">{{fee.value}}</span>
				</label>
				<div class="col-xs-7 selected_relative">
					<input type="text" class="form-control ng-pristine ng-valid height" id="name" onkeyup="var p2 = parseFloat(value).toFixed(2);value = p2>=0?(/\.0?$/.test(value)?value:p2.replace(/0$/,'').replace(/\.0$/,'')):''"
					onblur="value = value.replace(/\.0*$/,'')" maxlength="12" ng-model="fee.applyAmount" placeholder="请输入">
					<div class="right_unit">元</div>
				</div>
				<div class="col-xs-1 line-height pr">
                    <iconfont class="iconfont icon--bangzhuqipao" ng-click="dynamicPopoverFn($event, $index)"></iconfont>
                    <p ng-show="isIndex == $index" class="show-title">{{fee.remark}}</p>
                </div>
				<div class="col-xs-1"> </div>
			</div>

		</div>
	</div>
</div>