<div style="position: relative;  padding-bottom: 50px;" role="navigation">
	<left-step-left></left-step-left>
	<div ui-view class="AIOCourtSetpRight"></div>
	<div class="clear"></div>
	<div class="left_top">
	    <div class="btn_style2 complete" ng-click="finishhandleSkipStep(step.stepId)" ng-show="step.stepId==5">完成</div>
	    <div class="btn_style2 complete" ng-click="nexthandleSkipStep(step.stepId)" ng-show="step.stepId!=5">下一步</div>
	    <div class="btn_style1 lastStep" ng-click="prevhandleSkipStep(step.stepId)">上一步</div>
	    <div class="btn_style1 close_btn" ng-click="backIndex()">关闭</div>
	</div>
</div>