<div class="row">

	<!--头部详细字段-->
	<div second-instance-head-detail></div>

	<!-- 审批 分案 排期 庭审赔偿计算-->
	<!-- <div ng-include="includeUrl"></div> -->
	<!-- 立案审批 start-->
	<div ng-if="secondIntanceInfo.state == '1001'">
		<div class="module-box bg-default">
			<div class="nav-line-left">
				<h4>
					<span class="h1_line"></span>
					立案审批
				</h4>
			</div>
			<div class="module-content font-size13">
				<form role="form" class="form-horizontal form-input">
					<div class="row clearfix ">
						<div class="form-group col-lg-6 col-xs-6 row clearfix">
							<div class="col-lg-3 col-xs-5 text-right">
								<label class=" control-label"><i>*</i> 承办部门</label>
							</div>
							<div class="col-lg-9 col-xs-7" ng-class="{'has-error': secondIntanceInfo.contractorIdError}">
								<select class="form-control" ng-model="secondIntanceInfo.contractorId" ng-change="filterListValue(departmentList, secondIntanceInfo.contractorId, 'contractorDepartment')">
									<option ng-value="department.id" ng-selected="department.id == secondIntanceInfo.contractorId" ng-repeat="department in departmentList ">{{department.text}}</option>
								</select>
							</div>
						</div>
						<div class="form-group col-lg-6 col-xs-6 row clearfix">
							<div class="col-lg-3 col-xs-5 text-right">
								<label class=" control-label"><i>*</i> 审批时间</label>
							</div>
							<div class="col-lg-9 col-xs-7">
								<div class="input-group" ng-class="{'has-error': secondIntanceInfo.checkDateError}">
									<input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="secondIntanceInfo.checkDate" ng-readonly="true" is-open="secondIntanceInfo.calendarIsOpen" max-date="minDate" max-date="'2200-06-22'" datepicker-options="{startingDay: 1}" ng-required="true" close-text="关闭" clear-text="清除" current-text="今天" />
									<span class="input-group-btn">
										<button style="padding-top: 6px; padding-bottom: 6px;" type="button" class="btn btn-default btn-default-padding"  ng-click="openCalendar($event, secondIntanceInfo)"><i class="glyphicon glyphicon-calendar"></i></button>
									</span>
								</div>
							</div>
						</div>
						<div class="form-group col-xs-6">
							<div class="col-lg-3 col-xs-5 text-right">
								<label class=" control-label"><i>*</i> 案号</label>
							</div>
							<div class="col-lg-9 col-xs-7" ng-class="{'has-error': secondIntanceInfo.secondLawNoError}">
								<input type="text" class="form-control ng-pristine ng-valid" ng-model="secondIntanceInfo.secondLawNo" placeholder="请输入案号">
							</div>
						</div>
						<div class="form-group col-lg-6 col-xs-6 row clearfix">
							<div class="col-lg-3 col-xs-5 text-right">
								<label class=" control-label"><i>*</i> 标的金额</label>
							</div>
							<div class="col-lg-9 col-xs-7" ng-class="{'has-error': secondIntanceInfo.underlyingAssetError}">
								<input type="text" class="form-control ng-pristine ng-valid" ng-model="secondIntanceInfo.underlyingAsset" placeholder="请输入标的金额" float-only>
							</div>
						</div>
						<div class="form-group col-lg-6 col-xs-6 row clearfix">
							<div class="col-lg-3 col-xs-5 text-right">
								<label class=" control-label"><i>*</i> 预收受理费</label>
							</div>
							<div class="col-lg-9 col-xs-7" ng-class="{'has-error': secondIntanceInfo.acceptanceFeeError}">
								<input type="text" class="form-control ng-pristine ng-valid" ng-model="secondIntanceInfo.acceptanceFee" placeholder="请输入预收受理费" float-only>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="module-box bg-default" style="margin-bottom: 60px;">
			<div class="nav-line-left">
				<h4>
					<span class="h1_line"></span>
					审批意见
				</h4>
			</div>
			<div class="module-content font-size13">
				<!--待审批或者待立案环节-->
				<div>
					<div class="form-group col-md-6 col-xs-12 row clearfix">
						<div class="col-xs-3 text-center">
							<label class=" control-label radio-label"> <i class="Required">*</i> 审批意见</label>
						</div>
						<div class="col-xs-9" >
							<label class="radio-inline col-xs-5" >
								<input type="radio" name="agree" ng-value="0" ng-model="secondIntanceInfo.isAgree" ng-checked="secondIntanceInfo.isAgree == '0'" ng-change="chooseAgree()">
								<span>同意审批</span>
							</label>
							<label class="radio-inline col-xs-6" >
								<input type="radio" name="agree" ng-value="1" ng-model="secondIntanceInfo.isAgree" ng-checked="secondIntanceInfo.isAgree == '1'" ng-change="chooseAgree()">
								<span>驳回</span>
							</label>
						</div>
					</div>
					<div class="row clearfix no-margin-h margin-bottom-15">
						<textarea ng-class="{'has-error': secondIntanceInfo.remarkError}" maxlength="200" class="col-xs-12 text-box" name="remark" ng-model="secondIntanceInfo.remark"></textarea>
					</div>
				</div>
				<!-- 历史记录 -->
				<div second-history-record></div>
			</div>
		</div>
	</div>
	<!-- 立案审批 end-->
	<!-- 分案信息 start-->
	<div ng-if="secondIntanceInfo.state == '1002'">
		<div class="module-box bg-default">
			<div class="nav-line-left">
				<h4>
					<span class="h1_line"></span>
					分案信息
				</h4>
			</div>
			<div class="module-content font-size13">
				<form role="form" class="form-horizontal form-input">
					<div class="row clearfix ">
						<div class="form-group col-lg-6 col-xs-6 row clearfix">
							<div class="col-lg-3 col-xs-5 text-right">
								<label class=" control-label"><i>*</i> 审判长</label>
							</div>
							<div class="col-lg-9 col-xs-7" ng-class="{'has-error': secondIntanceInfo.chiefJudgeNameError}">
								<select class="form-control ng-pristine ng-valid" ng-model="secondIntanceInfo.chiefJudgeId" ng-change="filterListValue(judgeList, secondIntanceInfo.chiefJudgeId, 'chiefJudgeName')">
									<option ng-selected="secondIntanceInfo.chiefJudgeId == x.id" ng-value="x.id" ng-repeat="x in judgeList">{{x.text}}</option>
								</select>
							</div>
						</div>
						<div class="form-group col-lg-6 col-xs-6 row clearfix">
							<div class="col-lg-3 col-xs-5 text-right">
								<label class=" control-label"><i>*</i> 书记员</label>
							</div>
							<div class="col-lg-9 col-xs-7" ng-class="{'has-error': secondIntanceInfo.clerkNameError}">
								<select class="form-control ng-pristine ng-valid" ng-model="secondIntanceInfo.clerkId" ng-change="filterListValue(courtClerkList, secondIntanceInfo.clerkId, 'clerkName')">
									<option ng-selected="secondIntanceInfo.clerkId == x.id" ng-value="x.id" ng-repeat="x in courtClerkList">{{x.text}}</option>
								</select>
							</div>
						</div>
						<div class="form-group col-lg-6 col-xs-6 row clearfix">
							<div class="col-lg-3 col-xs-5 text-right">
								<label class=" control-label"><i>*</i> 合议庭成员1</label>
							</div>
							<div class="col-lg-9 col-xs-7" ng-class="{'has-error': secondIntanceInfo.memberOneNameError}">
								<select class="form-control ng-pristine ng-valid" ng-model="secondIntanceInfo.memberOneId" ng-change="filterListValue(collegiateBenchUsersList, secondIntanceInfo.memberOneId, 'memberOneName')">
									<option ng-selected="secondIntanceInfo.memberOneId == x.id" ng-value="x.id" ng-repeat="x in collegiateBenchUsersList | filterMember: secondIntanceInfo.memberTwoId">{{x.text}}</option>
								</select>
							</div>
						</div>
						<div class="form-group col-lg-6 col-xs-6 row clearfix">
							<div class="col-lg-3 col-xs-5 text-right">
								<label class=" control-label"><i>*</i> 合议庭成员2</label>
							</div>
							<div class="col-lg-9 col-xs-7" ng-class="{'has-error': secondIntanceInfo.memberTwoNameError}">
								<select class="form-control ng-pristine ng-valid" ng-model="secondIntanceInfo.memberTwoId" ng-change="filterListValue(collegiateBenchUsersList, secondIntanceInfo.memberTwoId, 'memberTwoName')">
									<option ng-selected="secondIntanceInfo.memberTwoId == x.id" ng-value="x.id" ng-repeat="x in collegiateBenchUsersList | filterMember: secondIntanceInfo.memberOneId">{{x.text}}</option>
								</select>
							</div>
						</div>
						<div class="form-group col-lg-6 col-xs-6 row clearfix">
							<div class="col-lg-3 col-xs-5 text-right">
								<label class=" control-label"><i>*</i> 承办人</label>
							</div>
							<div class="col-lg-9 col-xs-7" ng-class="{'has-error': secondIntanceInfo.undertakerNameError}">
								<select class="form-control ng-pristine ng-valid" ng-model="secondIntanceInfo.undertakerId" ng-change="filterListValue(undertakerNameList, secondIntanceInfo.undertakerId, 'undertakerName')">
									<option ng-selected="secondIntanceInfo.undertakerId == x.id" ng-value="x.id" ng-repeat="x in undertakerNameList">{{x.name}}</option>
								</select>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="module-box bg-default" style="margin-bottom: 60px;">
			<div class="nav-line-left">
				<h4>
					<span class="h1_line"></span>
					审批意见
				</h4>
			</div>
			<div class="module-content font-size13">
				<!--待审批或者待立案环节-->
				<div>
					<div class="form-group col-md-6 col-xs-12 row clearfix">
						<div class="col-xs-3 text-center">
							<label class=" control-label radio-label"> <i class="Required">*</i> 审批意见</label>
						</div>
						<div class="col-xs-9" >
							<label class="radio-inline col-xs-5" >
								<input type="radio" name="agree" ng-value="0" ng-model="secondIntanceInfo.isAgree" ng-checked="secondIntanceInfo.isAgree == '0'" ng-change="chooseAgree()">
								<span>同意</span>
							</label>
							<label class="radio-inline col-xs-6" >
								<input type="radio" name="agree" ng-value="1" ng-model="secondIntanceInfo.isAgree" ng-checked="secondIntanceInfo.isAgree == '1'" ng-change="chooseAgree()">
								<span>驳回到待审批</span>
							</label>
						</div>
					</div>
					<div class="row clearfix no-margin-h margin-bottom-15">
						<textarea ng-class="{'has-error': secondIntanceInfo.remarkError}" maxlength="200" class="col-xs-12 text-box" name="remark" ng-model="secondIntanceInfo.remark"></textarea>
					</div>
				</div>
				<!-- 历史记录 -->
				<div second-history-record></div>
			</div>
		</div>
	</div>
	<!-- 分案信息 end-->
	<!-- 排期 start -->
	<div ng-if="secondIntanceInfo.state == '1003'">
		<div class="module-box bg-default">
			<div class="nav-line-left">
				<h4>
					<span class="h1_line"></span>
					排期
				</h4>
			</div>
			<div class="module-content font-size13">
				<form role="form" class="form-horizontal form-input">
					<div class="row clearfix ">
						<div class="form-group col-lg-6 col-xs-6 row clearfix">
							<div class="col-lg-3 col-xs-5 text-right">
								<label class=" control-label"><i>*</i> 法庭名称</label>
							</div>
							<div class="col-lg-9 col-xs-7" ng-class="{'has-error': secondIntanceInfo.courtNameError}">
								<select class="form-control ng-pristine ng-valid" ng-model="secondIntanceInfo.courtName">
									<option ng-selected="secondIntanceInfo.courtName == x.text" ng-value="x.text" ng-repeat="x in orgNameList">{{x.text}}</option>
								</select>
							</div>
						</div>
						<div class="form-group col-lg-6 col-xs-6 row clearfix">
							<div class="col-lg-3 col-xs-5 text-right">
								<label class=" control-label"><i>*</i> 庭次</label>
							</div>
							<div class="col-lg-9 col-xs-7" ng-class="{'has-error': secondIntanceInfo.courtNumError}">
								<input type="text" class="form-control ng-pristine ng-valid" placeholder="请输入庭次" ng-model="secondIntanceInfo.courtNum" float-only>
							</div>
						</div>
						<div class="form-group col-xs-6">
							<label class="col-lg-3 col-xs-12 control-label"><i>*</i> 开庭时间</label>
							<div class="col-lg-9 col-xs-11">
								<div class="input-group" ng-class="{'has-error': secondIntanceInfo.courtDateError}">
									<input type="text" readonly class="form-control" datetime-picker="yyyy-MM-dd HH:mm:ss" ng-model="secondIntanceInfo.courtDate" min-date="minDate" enable-date="true" enable-time="true" is-open="secondIntanceInfo.courtDateIsOpen" close-text="关闭" clear-text="清除" current-text="今天" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="openCourtDate($event, secondIntanceInfo)"><i class="glyphicon glyphicon-calendar"></i></button>
								  	</span>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="module-box bg-default" style="margin-bottom: 60px;">
			<div class="nav-line-left">
				<h4>
					<span class="h1_line"></span>
					审批意见
				</h4>
			</div>
			<div class="module-content font-size13">
				<!--待审批或者待立案环节-->
				<div>
					<div class="form-group col-md-6 col-xs-12 row clearfix">
						<div class="col-xs-3 text-center">
							<label class=" control-label radio-label"> <i class="Required">*</i> 审批意见</label>
						</div>
						<div class="col-xs-9" >
							<label class="radio-inline col-xs-5" >
								<input type="radio" name="agree" ng-value="0" ng-model="secondIntanceInfo.isAgree" ng-checked="secondIntanceInfo.isAgree == '0'" ng-change="chooseAgree()">
								<span>同意</span>
							</label>
							<label class="radio-inline col-xs-6" >
								<input type="radio" name="agree" ng-value="1" ng-model="secondIntanceInfo.isAgree" ng-checked="secondIntanceInfo.isAgree == '1'" ng-change="chooseAgree()">
								<span>驳回到待分案</span>
							</label>
						</div>
					</div>
					<div class="row clearfix no-margin-h margin-bottom-15">
						<textarea ng-class="{'has-error': secondIntanceInfo.remarkError}" maxlength="200" class="col-xs-12 text-box" name="remark" ng-model="secondIntanceInfo.remark"></textarea>
					</div>
				</div>
				<!-- 历史记录 -->
				<div second-history-record></div>
			</div>
		</div>
	</div>
	<!-- 排期 end -->
	<div class="panel-footer bg-default text-right bottom_button_box">
		<button class=" btn btn-default" ng-click="approvalSave()">保存</button>
		<button class=" btn btn-brand"  ng-click="approvalSubmit()" style="margin-left: 10px; margin-right: 20px;">提交</button>
	</div>
</div>



