<!-- 流程图 -->
<div class="row FlowChart Applicant">
	<div class="FlowChart_box">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="col-xs-2 one active">
				<dl>
					<dt>
						<img src="views/images/1-1.png">
					</dt>
					<dd>原告</dd>
				</dl>
				<div class="Applicant_e"></div>
			</div>
			<div class="col-xs-2 two active">
				<dl>
					<dt>
						<img class="imgFirst" src="views/images/2.png">
						<img class="imgSecond" src="views/images/2-1.png">
					</dt>
					<dd>被告</dd>
				</dl>
				<div class="Applicant_e"></div>
			</div>
			<div class="col-xs-2 Three active">
				<dl>
					<dt>
						<img class="imgFirst" src="views/images/3.png">
						<img class="imgSecond" src="views/images/3-1.png">
					</dt>
					<dd>事实与理由</dd>
				</dl>
				<div class="Applicant_e"></div>
			</div>
			<div class="col-xs-2 Four">
				<dl>
					<dt>
						<img class="imgFirst" src="views/images/4.png">
						<img class="imgSecond" src="views/images/4-1.png">
					</dt>
					<dd>添加证据</dd>
				</dl>
				<div class="Applicant_e"></div>
			</div>
			<div class="col-xs-2 Five">
				<dl>
					<dt>
						<img class="imgFirst" src="views/images/5.png">
						<img class="imgSecond" src="views/images/5-1.png">
					</dt>
					<dd>诉讼请求</dd>
				</dl>
				<div class="Applicant_e"></div>
			</div>
			<div class="col-xs-2 Six">
				<dl>
					<dt>
						<img class="imgFirst" src="views/images/6.png">
						<img class="imgSecond" src="views/images/6-1.png">
					</dt>
					<dd>诉讼信息</dd>
				</dl>
			</div>
		</div>
		<div class="col-xs-12 Applicant_cont">
			<div class="col-xs-1"></div>
			<div class="col-xs-10">
				<div class="col-xs-3"><p>调解流水号：<span>330102201700028</span></p></div>
				<div class="col-xs-3"><p>调解机构：<span>余杭保险行业调解中心</span></p></div>
				<div class="col-xs-3"><p>填单日期：<span>2017-2-24 10:49:28 </span></p></div>
				<div class="col-xs-3"><p>调解点：<span>第8调解点</span></p></div>
			</div>
		</div>
	</div>
	<div class="FlowChart_bottom FlowChart_b1">
		<img class="FlowChart_bottom_img" src="views/images/2-pre.png">
		<img src="views/images/2-nor.png">
	</div>
	<div class="FlowChart_bottom FlowChart_b2" style="display: none;">
		<img class="FlowChart_bottom_img" src="views/images/1-pre.png">
		<img src="views/images/1-.png">
	</div>
</div>
<!-- 流程图 -->

<!-- 、、、、、、、原告、、、、、、、、 -->
<div class="Applicant_cont_box background_color_d" ng-show="step==0" ng-repeat="applicant in applicantArray">
	<!-- 原告标题-->
	<div class="row background_color_d">
		<div class="col-xs-12 boder_bottom padding_top_bottom ">
			<h4 class="col-xs-8"><span class="h1_line"></span>原告</h4>
			<button type="button" class="btn btn-default pull-right"><i class="iconfont icon-lnicon35"></i> 删除原告</button>
		</div>
	</div>
	<div class="row padding_top_bottom background_color_d">
		<div class="col-xs-6">
			<div class="col-xs-4 text-right line_heght padding-right-33">
				身份证类型
			</div>
			<div class="col-xs-2" ng-repeat="idType in idTypeList">
				<div class="radio">
					<label>
						<input type="radio" ng-model="applicant.idType" ng-value="idType.id"
									 ng-checked="{{idType.id == radioModel.selected}}"
									 ng-click="getIdType($event, idType.id, applicantIndex)" required>{{idType.value}}
					</label>
				</div>
			</div>
		</div>
	</div>
	<!-- 公民显示内容 -->
	<div class="row show_cont background_color_d" ng-show="applicant.idType==0">
		<div class="row">
			<form class="col-xs-6 form-horizontal ">
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName1"><span class="Required">*</span>原告姓名</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="name" ng-model="applicant.personName" placeholder="请填写姓名">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label"><span class="Required">*</span>证件类型</label>
					<div class="col-xs-8">
						<select class="form-control" ng-model="applicant.certificatesType">
							<option ng-repeat="x in certificatesTypeList" value="{{x.id}}">{{x.value}}</option>
						</select>
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label"><span class="Required">*</span>证件号码</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" ng-model="applicant.idNo" placeholder="请填写证件号码">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label"><span class="Required">*</span>原告性别</label>
					<div class="col-xs-8">
						<div class="radio">
							<label>
								<input type="radio" ng-model="applicant.sex" value=0 checked>男
							</label>
							<label>
								<input type="radio" ng-model="applicant.sex" value=1>女
							</label>
						</div>
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label"><span class="Required">*</span>出生日期</label>
					<div class="col-xs-8">
						<p class="input-group">
							<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="applicant.birthDay"
										 is-open="Date_of_birth" min-date="" max-date="'2200-06-22'" datepicker-options="dateOptions"
										 ng-required="true" close-text="Close"/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-default-padding" ng-click="Date_of_birth($event)">
											<i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
						</p>
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label"><span class="Required">*</span>民 族</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" ng-model="applicant.nation" placeholder="请填写民族">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label"><span class="Required">*</span>手机号码</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" ng-model="applicant.telephone" placeholder="请填写手机号码">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label">电子邮箱</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" ng-model="applicant.email" placeholder="请填写电子邮箱">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label"><span class="Required">*</span>户籍所在地</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" ng-model="applicant.domicile" placeholder="请填写户籍所在地">
					</div>
				</div>
			</form>
			<div class="col-xs-6">
				<div class="col-xs-6">
					<div class="margin_top img_box_boder Front">
						<img class="id_img" src="views/images/background.png">
						<div class="img_bottom_bar">
							<p>证件照身份证号面<i class="iconfont icon-iconfont19"></i></p>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class=" margin_top img_box_boder Back">
						<img class="id_img" src="views/images/background.png">
						<div class="img_bottom_bar">
							<p>证件照国徽面<i class="iconfont icon-iconfont19"></i></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<form class="form-horizontal">
				<div class="form-group form-group-sm">
					<label class="col-xs-2 control-label padding-right-10"><span class="Required">*</span>居住地</label>
					<div class="col-xs-6">
						<input type="text" class="form-control margin-left-5" model="applicant.residence" placeholder="请填写居住地">
					</div>
					<div class="col-xs-4 checkbox ">
						<label>
							<input type="checkbox" ng-model="applicant.isLive"> 连续居住已满一年
						</label>
					</div>
				</div>
				<div class="form-group form-group-sm">
					<label class="col-xs-2 control-label padding-right-10"><span class="Required">*</span>送达地址</label>
					<div class="col-xs-9">
						<input type="text" class="form-control margin-left-5" ng-model="applicant.sendAddress"
									 placeholder="请填写送达地址">
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- 公民显示内容 -->
	<!-- 法人显示内容 -->
	<div class="row show_cont background_color_d" ng-show="applicant.idType==1">
		<div class="row">
			<form class="col-xs-6 form-horizontal">
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName9"><span class="Required">*</span>企业名称</label>
					<div class="col-xs-8">
						<input type="text" title="中国人民财产保险股份有限公司丽江分公司" class="form-control" id="InputName9" placeholder="请填写企业名称">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label"><span class="Required">*</span>代表人类型</label>
					<div class="col-xs-8">
						<div class="radio col-xs-4">
							<label>
								<input type="radio" name="optionsRadios3" ng-checked="{{idType.checked}}">法定代表人
							</label>
						</div>
						<div class="radio col-xs-4">
							<label>
								<input type="radio" name="optionsRadios3" ng-checked="{{idType.checked}}">负责人
							</label>
						</div>
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName10"><span class="Required">*</span>代表人姓名</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="InputName10" placeholder="请填写代表人姓名">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName11"><span class="Required">*</span>公司职务</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="InputName11" placeholder="请填写公司职务">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName12"><span class="Required">*</span>组织代码</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="InputName12" placeholder="请填写组织代码">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName13"><span class="Required">*</span>工商注册号</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="InputName13" placeholder="请填写户籍所在地">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName14"><span class="Required">*</span>手机号码</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="InputName14" placeholder="请填写手机号码">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName15">电子邮箱</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="InputName15" placeholder="请填写电子邮箱">
					</div>
				</div>

			</form>
			<div class="col-xs-6">
				<div class="col-xs-6">
					<div class="margin_top img_box_boder Front">
						<img class="id_img" src="views/images/background.png">
						<div class="img_bottom_bar">
							<p>营业执照<i class="iconfont icon-iconfont19"></i></p>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class=" margin_top img_box_boder Back">
						<img class="id_img" src="views/images/background.png">
						<div class="img_bottom_bar">
							<p>法人代表情况说明<i class="iconfont icon-iconfont19"></i></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<form class="form-horizontal">
				<div class="form-group form-group-sm">
					<label class="col-xs-2 control-label padding-right-10" for="InputName16"><span
									class="Required">*</span>所住地址</label>
					<div class="col-xs-6">
						<input type="text" class="form-control margin-left-5" id="InputName16" placeholder="请填写地址">
					</div>
				</div>
				<div class="form-group form-group-sm">
					<label class="col-xs-2 control-label padding-right-10" for="InputName17"><span
									class="Required">*</span>送达地址</label>
					<div class="col-xs-9">
						<input type="text" class="form-control margin-left-5" id="InputName17" placeholder="请填写送达地址">
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- 法人显示内容 -->
	<!-- 其他组织显示内容 -->
	<div class="row show_cont background_color_d" ng-show="applicant.idType==2">
		<div class="row">
			<form class="col-xs-6 form-horizontal">
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName18"><span class="Required">*</span>组织名称</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="InputName18" placeholder="请填写组织名称">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label"><span class="Required">*</span>代表人类型</label>
					<div class="col-xs-8">
						<div class="radio col-xs-4">
							<label>
								<input type="radio" name="optionsRadios4">法定代表人
							</label>
						</div>
						<div class="radio col-xs-4">
							<label>
								<input type="radio" name="optionsRadios4">负责人
							</label>
						</div>
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName19"><span class="Required">*</span>代表人姓名</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="InputName19" placeholder="请填写代表人姓名">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName20"><span class="Required">*</span>公司职务</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="InputName20" placeholder="请填写公司职务">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName21"><span class="Required">*</span>组织代码</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="InputName21" placeholder="请填写组织代码">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName22"><span class="Required">*</span>手机号码</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="InputName22" placeholder="请填写手机号码">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName23">电子邮箱</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="InputName23" placeholder="请填写电子邮箱">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName24"><span class="Required">*</span>所住地址</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="InputName24" placeholder="请填写电子邮箱">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName25"><span class="Required">*</span>送达地址</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="InputName25" placeholder="请填写电子邮箱">
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- 其他组织显示内容 -->
	<!-- 代理人 -->
	<div class="row Agent_list  clearfix">
		<div class="col-xs-10 col-xs-offset-1 Agent_list_e Agent_list_bj">
			<div class="col-xs-12 padding_top_bottom ">
				<div class="col-xs-8">
					<div class="pull-left line_heght">
						<i class="iconfont icon-daixiadan"></i>代理人
					</div>
				</div>
				<div class="col-xs-4">
					<button class="btn btn-defaul pull-right" type="submit">删除代理人</button>
				</div>
			</div>
			<form class="form-horizontal">
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-2 control-label"><span class="Required">*</span>代理人类型</label>
					<div class="col-xs-1">
						<div class="radio">
							<label>
								<input type="radio" name="AgentType" value="opt1" checked ng-model="Agent_Type">委托
							</label>
						</div>
					</div>
					<div class="col-xs-1">
						<div class="radio">
							<label>
								<input type="radio" name="AgentType" value="opt2" ng-model="Agent_Type">法定
							</label>
						</div>
					</div>
					<div class="col-xs-2">
						<div class="checkbox ">
							<label>
								<input type="checkbox"> 主要联系人
							</label>
						</div>
					</div>
				</div>
				<!-- 代理人委托 -->
				<div ng-show="Agent_Type=='opt1'">
					<div class="col-xs-12 form-group form-group-sm">
						<label class="col-xs-2 control-label">代理人身份</label>
						<div class="col-xs-2">
							<select class="form-control" ng-model="DocumentType">
								<option>律师</option>
								<option>公民</option>
								<option>法律工作者</option>
								<option>其他</option>
							</select>
						</div>
						<div class="col-xs-2">
							<select class="form-control" ng-model="CloseRelative" ng-show="DocumentType=='公民'">
								<option>请选择</option>
								<option>近亲属</option>
								<option>单位职员</option>
								<option>公司员工</option>
								<option>有关社会团体推荐</option>
								<option>其他</option>
							</select>
						</div>
						<div class="col-xs-6 form-group form-group-sm" ng-show="CloseRelative=='近亲属'">
							<label class="col-xs-4 control-label" for="InputName26"><span class="Required">*</span>与原告关系</label>
							<div class="col-xs-8">
								<input type="text" class="form-control" id="InputName26" placeholder="请填写与原告关系">
							</div>
						</div>
					</div>
					<div class="col-xs-12 form-group form-group-sm">
						<label class="col-xs-2 control-label">证件类型</label>
						<div class="col-xs-4">
							<select class="form-control">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
						<label class="col-xs-2 control-label" for="Inputid1">证件号码</label>
						<div class="col-xs-4">
							<input type="text" class="form-control" id="Inputid1" placeholder="请填写证件号码">
						</div>
					</div>
					<div class="col-xs-12 form-group form-group-sm">
						<label class="col-xs-2 control-label">委托授权</label>
						<div class="col-xs-4">
							<select class="form-control">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
					</div>
					<div class="col-xs-12 form-group form-group-sm">
						<div class="col-xs-10 col-xs-offset-2">
							<div class="checkbox col-xs-3">
								<label>
									<input type="checkbox"> 代为参加庭审、进行辩论
								</label>
							</div>
							<div class="checkbox col-xs-3">
								<label>
									<input type="checkbox"> 代进行和解、签订调解协议
								</label>
							</div>
							<div class="checkbox col-xs-3">
								<label>
									<input type="checkbox"> 代承认、放弃、变更诉讼请求
								</label>
							</div>
							<div class="checkbox col-xs-3">
								<label>
									<input type="checkbox"> 代提起上诉
								</label>
							</div>
							<div class="checkbox col-xs-3">
								<label>
									<input type="checkbox"> 代签收法律文书
								</label>
							</div>
							<div class="checkbox col-xs-3">
								<label>
									<input type="checkbox"> 代退诉讼费
								</label>
							</div>
							<div class="checkbox col-xs-3">
								<label>
									<input type="checkbox"> 代领执行款（须授权委托书特别明确)
								</label>
							</div>
						</div>
					</div>
					<div class="col-xs-12 form-group form-group-sm">
						<label class="col-xs-2 control-label" for="AgentName1">代理人姓名</label>
						<div class="col-xs-2">
							<input type="text" class="form-control" id="AgentName1" placeholder="请填写代理人姓名">
						</div>
						<label class="col-xs-1 control-label" for="AgentName2">手机号码</label>
						<div class="col-xs-3">
							<input type="text" class="form-control" id="AgentName2" placeholder="请填写手机号码">
						</div>
						<label class="col-xs-1 control-label" for="AgentName3">电子邮箱</label>
						<div class="col-xs-3">
							<input type="text" class="form-control" id="AgentName3" placeholder="请填写电子邮箱">
						</div>
					</div>
					<div class="col-xs-12 form-group form-group-sm">
						<label class="col-xs-2 control-label" for="AgentName4">单位名称</label>
						<div class="col-xs-10">
							<input type="text" class="form-control" id="AgentName4" placeholder="请填写单位名称">
						</div>
					</div>
					<div class="col-xs-12 form-group form-group-sm">
						<label class="col-xs-2 control-label" for="AgentName5">送达地址</label>
						<div class="col-xs-10">
							<input type="text" class="form-control" id="AgentName5" placeholder="请填写送达地址">
						</div>
					</div>
					<div class="col-xs-12 form-group form-group-sm">
						<div class="col-xs-3">
							<div class="margin_top img_box_boder Front">
								<img class="id_img" src="views/images/background.png">
								<div class="img_bottom_bar">
									<p>代理人证件照身份证号面<i class="iconfont icon-iconfont19"></i></p>
								</div>
							</div>
						</div>
						<div class="col-xs-3">
							<div class="margin_top img_box_boder Front">
								<img class="id_img" src="views/images/background.png">
								<div class="img_bottom_bar">
									<p>代理人证件照国徽面<i class="iconfont icon-iconfont19"></i></p>
								</div>
							</div>
						</div>
						<div class="col-xs-3">
							<div class="margin_top img_box_boder Front">
								<img class="id_img" src="views/images/background.png">
								<div class="img_bottom_bar">
									<p>委托书<i class="iconfont icon-iconfont19"></i></p>
								</div>
							</div>
						</div>
						<div class="col-xs-3">
							<div class="margin_top img_box_boder Front">
								<img class="id_img" src="views/images/background.png">
								<div class="img_bottom_bar">
									<p>公函<i class="iconfont icon-iconfont19"></i></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 代理人法定 -->
				<div ng-show="Agent_Type=='opt2'">
					<div class="col-xs-12 form-group form-group-sm">
						<label class="col-xs-2 control-label">证件类型</label>
						<div class="col-xs-2">
							<select class="form-control">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
						<label class="col-xs-2 control-label" for="Inputid2">证件号码</label>
						<div class="col-xs-2">
							<input type="text" class="form-control" id="Inputid2" placeholder="请填写证件号码">
						</div>
						<label class="col-xs-2 control-label">与被告关系</label>
						<div class="col-xs-2">
							<select class="form-control">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
					</div>
					<div class="col-xs-12 form-group form-group-sm">
						<label class="col-xs-2 control-label" for="AgentName16">代理人姓名</label>
						<div class="col-xs-2">
							<input type="text" class="form-control" id="AgentName16" placeholder="请填写代理人姓名">
						</div>
						<label class="col-xs-2 control-label" for="Inputid3">手机号码</label>
						<div class="col-xs-2">
							<input type="text" class="form-control" id="Inputid3" placeholder="请填写手机号码">
						</div>
						<label class="col-xs-2 control-label" for="AgentName17">电子邮箱</label>
						<div class="col-xs-2">
							<input type="text" class="form-control" id="AgentName17" placeholder="请填写电子邮箱">
						</div>
					</div>
					<div class="col-xs-12 form-group form-group-sm">
						<label class="col-xs-2 control-label" for="AgentName5">户籍所在地</label>
						<div class="col-xs-10">
							<input type="text" class="form-control" id="AgentName5" placeholder="请填写户籍所在地">
						</div>
					</div>
					<div class="col-xs-12 form-group form-group-sm">
						<label class="col-xs-2 control-label padding-right-15" for="AgentName12">居住地</label>
						<div class="col-xs-7">
							<input type="text" class="form-control" id="AgentName12" placeholder="请填写居住地">
						</div>
						<div class="col-xs-3 checkbox ">
							<label>
								<input type="checkbox"> 连续居住已满一年
							</label>
						</div>
					</div>
					<div class="col-xs-12 form-group form-group-sm">
						<label class="col-xs-2 control-label padding-right-15" for="AgentName5">送达地址</label>
						<div class="col-xs-10">
							<input type="text" class="form-control" id="AgentName5" placeholder="请填写送达地址">
						</div>
					</div>
					<div class="col-xs-12 form-group form-group-sm">
						<div class="col-xs-3">
							<div class="margin_top img_box_boder Front">
								<img class="id_img" src="views/images/background.png">
								<div class="img_bottom_bar">
									<p>代理人证件照身份证号面<i class="iconfont icon-iconfont19"></i></p>
								</div>
							</div>
						</div>
						<div class="col-xs-3">
							<div class="margin_top img_box_boder Front">
								<img class="id_img" src="views/images/background.png">
								<div class="img_bottom_bar">
									<p>代理人证件照国徽面<i class="iconfont icon-iconfont19"></i></p>
								</div>
							</div>
						</div>
						<div class="col-xs-3">
							<div class="margin_top img_box_boder Front">
								<img class="id_img" src="views/images/background.png">
								<div class="img_bottom_bar">
									<p>与原告的关系证明<i class="iconfont icon-iconfont19"></i></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- 添加代理人按钮 -->
		<div class="col-xs-10 col-xs-offset-1 Agent_list_bj">
			<div class="col-xs-10 col-xs-offset-1 Add_Agent">
				<p><i class="iconfont icon-tianjia"></i>添加代理人</p>
			</div>
		</div>
	</div>
</div>
<!-- 、、、、、、、原告、、、、、、、、 -->

<!-- 、、、、、、、被告、、、、、、、、 -->
<div class="Applicant_cont_box background_color_d" ng-show="step==1" ng-repeat="appellee in appelleeArray">
	<!-- 被告标题-->
	<div class="row background_color_d">
		<div class="col-xs-12 boder_bottom padding_top_bottom ">
			<h4 class="col-xs-8"><span class="h1_line"></span>被告</h4>
			<button type="button" class="btn btn-default pull-right"><i class="iconfont icon-lnicon35"></i> 删除被告</button>
		</div>
	</div>
	<!-- 被告标题-->
	<div class="row padding_top_bottom background_color_d">
		<div class="col-xs-6">
			<div class="col-xs-4 text-right line_heght padding-right-33">
				身份证类型
			</div>
			<div class="col-xs-2" ng-repeat="idType in idTypeList2">
				<div class="radio">
					<label>
						<input type="radio" name="optionsRadios5" ng-model="radioModel.selected" ng-value="idType.id"
									 ng-checked="{{idType.id == radioModel.selected}}" required>{{idType.value}}
					</label>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
		</div>
	</div>
	<!-- 被告公民显示内容 -->
	<div class="row show_cont background_color_d" ng-show="radioModel.selected==0">

		<div class="row">
			<form class="col-xs-6 form-horizontal ">
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName27"><span class="Required">*</span>被告姓名</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="InputName27" placeholder="请填写姓名">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label"><span class="Required">*</span>证件类型</label>
					<div class="col-xs-8">
						<select class="form-control">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName28"><span class="Required">*</span>证件号码</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="InputName28" placeholder="请填写证件号码">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label"><span class="Required">*</span>被告性别</label>
					<div class="col-xs-8">
						<div class="radio">
							<label>
								<input type="radio" name="optionsRadios6" id="optionsRadios1" value="option1" checked>男
							</label>
							<label>
								<input type="radio" name="optionsRadios6" id="optionsRadios1" value="option1" checked>女
							</label>
						</div>
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label"><span class="Required">*</span>出生日期</label>
					<div class="col-xs-8">
						<p class="input-group">
							<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt"
										 is-open="Date_of_birth2" min-date="" max-date="'2200-06-22'" datepicker-options="dateOptions"
										 ng-required="true" close-text="Close"/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-default-padding" ng-click="Date_of_birth2($event)">
											<i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
						</p>
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName29"><span class="Required">*</span>民 族</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="InputName29" placeholder="请填写民族">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName30"><span class="Required">*</span>手机号码</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="InputName30" placeholder="请填写手机号码">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName31">电子邮箱</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="InputName31" placeholder="请填写电子邮箱">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName32">被告车牌号</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="InputName32" placeholder="请填写被告车牌号">
					</div>
				</div>
			</form>
			<div class="col-xs-6">
				<div class="col-xs-6">
					<div class="margin_top img_box_boder Front">
						<img class="id_img" src="views/images/background.png">
						<div class="img_bottom_bar">
							<p>证件照身份证号面<i class="iconfont icon-iconfont19"></i></p>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class=" margin_top img_box_boder Back">
						<img class="id_img" src="views/images/background.png">
						<div class="img_bottom_bar">
							<p>证件照国徽面<i class="iconfont icon-iconfont19"></i></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<form class="form-horizontal">
				<div class="form-group form-group-sm">
					<label class="col-xs-2 control-label" for="InputName33">承保保险公司</label>
					<div class="col-xs-3">
						<input type="text" class="form-control margin-left-5" id="InputName33" placeholder="请填写承保保险公司">
					</div>
					<label class="col-xs-1 control-label" for="InputName34">报案号</label>
					<div class="col-xs-3">
						<input type="text" class="form-control" id="InputName34" placeholder="请填写报案号">
					</div>
					<div class="col-xs-1"><i class="iconfont icon-sousuo"></i></div>
				</div>
				<div class="form-group form-group-sm">
					<label class="col-xs-2 control-label" for="InputName35"><span class="Required">*</span>户籍所在地</label>
					<div class="col-xs-9">
						<input type="text" class="form-control margin-left-5" id="InputName35" placeholder="请填写户籍所在地">
					</div>
				</div>
				<div class="form-group form-group-sm">
					<label class="col-xs-2 control-label padding-right-10" for="InputName36"><span
									class="Required">*</span>居住地</label>
					<div class="col-xs-6">
						<input type="text" class="form-control margin-left-5" id="InputName36" placeholder="请填写居住地">
					</div>
					<div class="col-xs-4 checkbox ">
						<label>
							<input type="checkbox"> 连续居住已满一年
						</label>
					</div>
				</div>
				<div class="form-group form-group-sm">
					<label class="col-xs-2 control-label padding-right-10" for="InputName37"><span
									class="Required">*</span>送达地址</label>
					<div class="col-xs-9">
						<input type="text" class="form-control margin-left-5" id="InputName37" placeholder="请填写送达地址">
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- 被告公民显示内容 -->
	<!-- 被告法人显示内容 -->
	<div class="row show_cont background_color_d" ng-show="radioModel.selected==1">
		<div class="row">
			<form class="col-xs-6 form-horizontal">
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label"><span class="Required">*</span>类型</label>
					<div class="col-xs-8">
						<div class="col-xs-3 radio">
							<label>
								<input type="radio" name="optionsRadios7" value="optionsRadios_company1" ng-model="select_company_val"
											 checked>保险公司
							</label>
						</div>
						<div class="col-xs-3 radio">
							<label>
								<input type="radio" name="optionsRadios7" value="optionsRadios_company2" ng-model="select_company_val">其它公司
							</label>
						</div>
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm " ng-show="select_company_val =='optionsRadios_company1'">
					<div class="col-xs-8 col-xs-offset-4 company_box"><span class="select_company" ng-click="select_company()">选择常用保险公司</span>
						| <span class="select_company">保存到常用保险公司</span>
						<!-- 选择常用保险公司弹出框 -->
						<div class="row select_company_popup" ng-show="popup">
							<div class="col-xs-10 ">
								<div class="col-xs-4"><h4>选择常用保险公司</h4></div>
								<div class="col-xs-6 margin_top">
									<div class="input-group">
										<input type="text" class="form-control" placeholder="">
                        <span class="input-group-btn">
                          <button class="btn btn-default btn-default-padding" type="button">搜索</button>
                        </span>
									</div>
								</div>
							</div>
							<div class="col-xs-1 col-xs-offset-1 "><i class="iconfont icon-guanbi pull-right"
																												ng-click="close_select_company()"></i></div>
							<div class="col-xs-12 select_company_popup_box">
								<div class="col-xs-4 radio">
									<label>
										<input type="radio" name="optionsRadios8" value="" checked>中国人民财产保险股份有限公司
									</label>
								</div>
								<div class="col-xs-4 radio">
									<label>
										<input type="radio" name="optionsRadios8" value="" checked>中国人民财产保险股份有限公司
									</label>
								</div>
								<div class="col-xs-4 radio">
									<label>
										<input type="radio" name="optionsRadios8" value="" checked>中国人民财产保险股份有限公司
									</label>
								</div>
							</div>
							<div class="col-xs-12">
								<button type="button" class="btn btn-brand pull-right">确定</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName38"><span class="Required">*</span>企业名称</label>
					<div class="col-xs-8">
						<input type="text" title="中国人民财产保险股份有限公司丽江分公司" class="form-control" id="InputName38" placeholder="请填写企业名称">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm" ng-show="select_company_val =='optionsRadios_company1'">
					<label class="col-xs-4 control-label"><span class="Required">*</span>总公司</label>
					<div class="col-xs-8">
						<select class="form-control">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm" ng-show="select_company_val =='optionsRadios_company1'">
					<label class="col-xs-4 control-label" for="InputName39"><span class="Required">*</span>报案号</label>
					<div class="col-xs-7">
						<input type="text" title="中国人民财产保险股份有限公司丽江分公司" class="form-control" id="InputName39" placeholder="请填写报案号">
					</div>
					<div class="col-xs-1"><i class="iconfont icon-sousuo"></i></div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label"><span class="Required">*</span>代表人类型</label>
					<div class="col-xs-8">
						<div class="radio col-xs-4">
							<label>
								<input type="radio" name="optionsRadios9" ng-checked="{{idType.checked}}">法定代表人
							</label>
						</div>
						<div class="radio col-xs-4">
							<label>
								<input type="radio" name="optionsRadios9" ng-checked="{{idType.checked}}">负责人
							</label>
						</div>
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName40"><span class="Required">*</span>代表人姓名</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="InputName40" placeholder="请填写代表人姓名">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName41"><span class="Required">*</span>公司职务</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="InputName41" placeholder="请填写公司职务">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName42"><span class="Required">*</span>组织代码</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="InputName42" placeholder="请填写组织代码">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName43"><span class="Required">*</span>工商注册号</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="InputName43" placeholder="请填写户籍所在地">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName44"><span class="Required">*</span>手机号码</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="InputName44" placeholder="请填写手机号码">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName45">电子邮箱</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="InputName45" placeholder="请填写电子邮箱">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName46">被告车牌号</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="InputName46" placeholder="请填写被告车牌号">
					</div>
				</div>
			</form>
			<div class="col-xs-6">
				<div class="col-xs-6">
					<div class="margin_top img_box_boder Front">
						<img class="id_img" src="views/images/background.png">
						<div class="img_bottom_bar">
							<p>营业执照<i class="iconfont icon-iconfont19"></i></p>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class=" margin_top img_box_boder Back">
						<img class="id_img" src="views/images/background.png">
						<div class="img_bottom_bar">
							<p>法人代表情况说明<i class="iconfont icon-iconfont19"></i></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<form class="form-horizontal">
				<div class="form-group form-group-sm">
					<label class="col-xs-2 control-label padding-right-10" for="InputName47"><span
									class="Required">*</span>所住地址</label>
					<div class="col-xs-6">
						<input type="text" class="form-control margin-left-5" id="InputName47" placeholder="请填写地址">
					</div>
				</div>
				<div class="form-group form-group-sm">
					<label class="col-xs-2 control-label padding-right-10" for="InputName48"><span
									class="Required">*</span>送达地址</label>
					<div class="col-xs-9">
						<input type="text" class="form-control margin-left-5" id="InputName48" placeholder="请填写送达地址">
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- 被告法人显示内容 -->

	<!-- 被告其他组织显示内容 -->
	<div class="row show_cont background_color_d" ng-show="radioModel.selected==2">
		<div class="row">
			<form class="col-xs-6 form-horizontal">
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName49"><span class="Required">*</span>组织名称</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="InputName49" placeholder="请填写组织名称">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label"><span class="Required">*</span>代表人类型</label>
					<div class="col-xs-8">
						<div class="radio col-xs-4">
							<label>
								<input type="radio" name="optionsRadios10">法定代表人
							</label>
						</div>
						<div class="radio col-xs-4">
							<label>
								<input type="radio" name="optionsRadios10">负责人
							</label>
						</div>
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName50"><span class="Required">*</span>代表人姓名</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="InputName50" placeholder="请填写代表人姓名">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName51"><span class="Required">*</span>公司职务</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="InputName51" placeholder="请填写公司职务">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName52"><span class="Required">*</span>组织代码</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="InputName52" placeholder="请填写组织代码">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName53"><span class="Required">*</span>手机号码</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="InputName53" placeholder="请填写手机号码">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName54">电子邮箱</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="InputName54" placeholder="请填写电子邮箱">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName55"><span class="Required">*</span>被告车牌号</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="InputName55" placeholder="请填写被告车牌号">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName56"><span class="Required">*</span>所住地址</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="InputName56" placeholder="请填写所住地址">
					</div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-4 control-label" for="InputName57"><span class="Required">*</span>送达地址</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="InputName57" placeholder="请填写送达地址">
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- 被告其他组织显示内容 -->
	<!-- 被申请代理人 -->
	<div class="row Agent_list clearfix">
		<div class="col-xs-10 col-xs-offset-1 Agent_list_e Agent_list_bj">
			<div class="col-xs-12 padding_top_bottom ">
				<div class="col-xs-8">
					<div class="pull-left line_heght">
						<i class="iconfont icon-daixiadan"></i>代理人
					</div>
				</div>
				<div class="col-xs-4">
					<button class="btn btn-defaul pull-right" type="submit">删除代理人</button>
				</div>
			</div>
			<form class="form-horizontal">
				<div class="col-xs-12 form-group form-group-sm">
					<label class="col-xs-2 control-label"><span class="Required">*</span>代理人类型</label>
					<div class="col-xs-1">
						<div class="radio">
							<label>
								<input type="radio" name="AgentType" value="opt1" checked ng-model="Agent_Type">委托
							</label>
						</div>
					</div>
					<div class="col-xs-1">
						<div class="radio">
							<label>
								<input type="radio" name="AgentType" value="opt2" ng-model="Agent_Type">法定
							</label>
						</div>
					</div>
					<div class="col-xs-2">
						<div class="checkbox ">
							<label>
								<input type="checkbox"> 主要联系人
							</label>
						</div>
					</div>
				</div>
				<!-- 代理人委托 -->
				<div ng-show="Agent_Type=='opt1'">
					<div class="col-xs-12 form-group form-group-sm">
						<label class="col-xs-2 control-label">代理人身份</label>
						<div class="col-xs-2">
							<select class="form-control" ng-model="DocumentType">
								<option>律师</option>
								<option>公民</option>
								<option>法律工作者</option>
								<option>其他</option>
							</select>
						</div>
						<div class="col-xs-2">
							<select class="form-control" ng-model="CloseRelative" ng-show="DocumentType=='公民'">
								<option>请选择</option>
								<option>近亲属</option>
								<option>单位职员</option>
								<option>公司员工</option>
								<option>有关社会团体推荐</option>
								<option>其他</option>
							</select>
						</div>
						<div class="col-xs-6 form-group form-group-sm" ng-show="CloseRelative=='近亲属'">
							<label class="col-xs-4 control-label" for="InputName59"><span class="Required">*</span>与原告关系</label>
							<div class="col-xs-8">
								<input type="text" class="form-control" id="InputName59" placeholder="请填写与原告关系">
							</div>
						</div>
					</div>
					<div class="col-xs-12 form-group form-group-sm">
						<label class="col-xs-2 control-label">证件类型</label>
						<div class="col-xs-4">
							<select class="form-control">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
						<label class="col-xs-2 control-label" for="Inputid1">证件号码</label>
						<div class="col-xs-4">
							<input type="text" class="form-control" id="Inputid1" placeholder="请填写证件号码">
						</div>
					</div>
					<div class="col-xs-12 form-group form-group-sm">
						<label class="col-xs-2 control-label">委托授权</label>
						<div class="col-xs-4">
							<select class="form-control">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
					</div>
					<div class="col-xs-12 form-group form-group-sm">
						<div class="col-xs-10 col-xs-offset-2">
							<div class="checkbox col-xs-3">
								<label>
									<input type="checkbox"> 代为参加庭审、进行辩论
								</label>
							</div>
							<div class="checkbox col-xs-3">
								<label>
									<input type="checkbox"> 代进行和解、签订调解协议
								</label>
							</div>
							<div class="checkbox col-xs-3">
								<label>
									<input type="checkbox"> 代承认、放弃、变更诉讼请求
								</label>
							</div>
							<div class="checkbox col-xs-3">
								<label>
									<input type="checkbox"> 代提起上诉
								</label>
							</div>
							<div class="checkbox col-xs-3">
								<label>
									<input type="checkbox"> 代签收法律文书
								</label>
							</div>
							<div class="checkbox col-xs-3">
								<label>
									<input type="checkbox"> 代退诉讼费
								</label>
							</div>
							<div class="checkbox col-xs-3">
								<label>
									<input type="checkbox"> 代领执行款（须授权委托书特别明确)
								</label>
							</div>
						</div>
					</div>
					<div class="col-xs-12 form-group form-group-sm">
						<label class="col-xs-2 control-label" for="AgentName1">代理人姓名</label>
						<div class="col-xs-2">
							<input type="text" class="form-control" id="AgentName1" placeholder="请填写代理人姓名">
						</div>
						<label class="col-xs-1 control-label" for="AgentName2">手机号码</label>
						<div class="col-xs-3">
							<input type="text" class="form-control" id="AgentName2" placeholder="请填写手机号码">
						</div>
						<label class="col-xs-1 control-label" for="AgentName3">电子邮箱</label>
						<div class="col-xs-3">
							<input type="text" class="form-control" id="AgentName3" placeholder="请填写电子邮箱">
						</div>
					</div>
					<div class="col-xs-12 form-group form-group-sm">
						<label class="col-xs-2 control-label" for="AgentName4">单位名称</label>
						<div class="col-xs-10">
							<input type="text" class="form-control" id="AgentName4" placeholder="请填写单位名称">
						</div>
					</div>
					<div class="col-xs-12 form-group form-group-sm">
						<label class="col-xs-2 control-label" for="AgentName5">送达地址</label>
						<div class="col-xs-10">
							<input type="text" class="form-control" id="AgentName5" placeholder="请填写送达地址">
						</div>
					</div>
					<div class="col-xs-12 form-group form-group-sm">
						<div class="col-xs-3">
							<div class="margin_top img_box_boder Front">
								<img class="id_img" src="views/images/background.png">
								<div class="img_bottom_bar">
									<p>代理人证件照身份证号面<i class="iconfont icon-iconfont19"></i></p>
								</div>
							</div>
						</div>
						<div class="col-xs-3">
							<div class="margin_top img_box_boder Front">
								<img class="id_img" src="views/images/background.png">
								<div class="img_bottom_bar">
									<p>代理人证件照国徽面<i class="iconfont icon-iconfont19"></i></p>
								</div>
							</div>
						</div>
						<div class="col-xs-3">
							<div class="margin_top img_box_boder Front">
								<img class="id_img" src="views/images/background.png">
								<div class="img_bottom_bar">
									<p>委托书<i class="iconfont icon-iconfont19"></i></p>
								</div>
							</div>
						</div>
						<div class="col-xs-3">
							<div class="margin_top img_box_boder Front">
								<img class="id_img" src="views/images/background.png">
								<div class="img_bottom_bar">
									<p>公函<i class="iconfont icon-iconfont19"></i></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 代理人法定 -->
				<div ng-show="Agent_Type=='opt2'">
					<div class="col-xs-12 form-group form-group-sm">
						<label class="col-xs-2 control-label">证件类型</label>
						<div class="col-xs-2">
							<select class="form-control">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
						<label class="col-xs-2 control-label" for="Inputid2">证件号码</label>
						<div class="col-xs-2">
							<input type="text" class="form-control" id="Inputid2" placeholder="请填写证件号码">
						</div>
						<label class="col-xs-2 control-label">与被告关系</label>
						<div class="col-xs-2">
							<select class="form-control">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
					</div>
					<div class="col-xs-12 form-group form-group-sm">
						<label class="col-xs-2 control-label" for="AgentName16">代理人姓名</label>
						<div class="col-xs-2">
							<input type="text" class="form-control" id="AgentName16" placeholder="请填写代理人姓名">
						</div>
						<label class="col-xs-2 control-label" for="Inputid3">手机号码</label>
						<div class="col-xs-2">
							<input type="text" class="form-control" id="Inputid3" placeholder="请填写手机号码">
						</div>
						<label class="col-xs-2 control-label" for="AgentName17">电子邮箱</label>
						<div class="col-xs-2">
							<input type="text" class="form-control" id="AgentName17" placeholder="请填写电子邮箱">
						</div>
					</div>
					<div class="col-xs-12 form-group form-group-sm">
						<label class="col-xs-2 control-label" for="AgentName5">户籍所在地</label>
						<div class="col-xs-10">
							<input type="text" class="form-control" id="AgentName5" placeholder="请填写户籍所在地">
						</div>
					</div>
					<div class="col-xs-12 form-group form-group-sm">
						<label class="col-xs-2 control-label padding-right-10" for="AgentName12">居住地</label>
						<div class="col-xs-7">
							<input type="text" class="form-control" id="AgentName12" placeholder="请填写居住地">
						</div>
						<div class="col-xs-3 checkbox ">
							<label>
								<input type="checkbox"> 连续居住已满一年
							</label>
						</div>
					</div>
					<div class="col-xs-12 form-group form-group-sm">
						<label class="col-xs-2 control-label padding-right-10" for="AgentName5">送达地址</label>
						<div class="col-xs-10">
							<input type="text" class="form-control" id="AgentName5" placeholder="请填写送达地址">
						</div>
					</div>
					<div class="col-xs-12 form-group form-group-sm">
						<div class="col-xs-3">
							<div class="margin_top img_box_boder Front">
								<img class="id_img" src="views/images/background.png">
								<div class="img_bottom_bar">
									<p>代理人证件照身份证号面<i class="iconfont icon-iconfont19"></i></p>
								</div>
							</div>
						</div>
						<div class="col-xs-3">
							<div class="margin_top img_box_boder Front">
								<img class="id_img" src="views/images/background.png">
								<div class="img_bottom_bar">
									<p>代理人证件照国徽面<i class="iconfont icon-iconfont19"></i></p>
								</div>
							</div>
						</div>
						<div class="col-xs-3">
							<div class="margin_top img_box_boder Front">
								<img class="id_img" src="views/images/background.png">
								<div class="img_bottom_bar">
									<p>与原告的关系证明<i class="iconfont icon-iconfont19"></i></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- 添加代理人按钮 -->
		<div class="col-xs-10 col-xs-offset-1 Agent_list_bj">
			<div class="col-xs-10 col-xs-offset-1 Add_Agent">
				<p><i class="iconfont icon-tianjia"></i>添加代理人</p>
			</div>
		</div>
	</div>
	<!-- 被申请代理人 -->
</div>
<!-- 、、、、、、、被告、、、、、、、、 -->

<!-- 、、、、、、、事实与理由、、、、、、、、 -->
<div ng-include="'views/pages/mediation_platform/litigation_mediation/reason.html'" ng-show="step==2"></div>
<!-- 、、、、、、、事实与理由、、、、、、、、 -->

<!-- 、、、、、、、添加证据、、、、、、、、 -->
<div ng-include="'views/pages/mediation_platform/litigation_mediation/evidence_list.html'" ng-show="step==3"></div>
<!-- 、、、、、、、添加证据、、、、、、、、 -->

<!-- 、、、、、、、调解信息、、、、、、、、 -->
<div ng-include="'views/pages/mediation_platform/litigation_mediation/adjust_information.html'" ng-show="step==4"></div>
<!-- 、、、、、、、调解信息、、、、、、、、 -->

<!-- 、、、、、、、调解协议、、、、、、、、 -->
<div class="row" ng-include="'views/pages/mediation_platform/litigation_mediation/agreement.html'"
		 ng-show="step==5"></div>
<!-- 、、、、、、、调解协议、、、、、、、、 -->

<!-- 底部按钮 -->
<div class="row Applicant_footer padding_top_bottom button_box background_color_d">
	<div class="col-xs-11 padding_top_bottom ">
		<div class="col-xs-6">
			<h4 class="col-xs-4 flo-l"><i class="iconfont icon-yiwancheng"></i> 全选</h4>
			<h4 class="col-xs-4 flo-l">已选中<span class="error_color">8</span>个</h4>
			<h4 class="col-xs-4 flo-l error_color cur-pointer">批量删除</h4>
		</div>
		<div class="col-xs-6">
			<button type="button" class="btn btn-primary pull-right" ng-click="nextStep()">下一步</button>
			<button type="button" class="btn btn-brand pull-right" ng-click="save()">保存</button>
			<button type="button" class="btn btn-brand pull-right" ng-click="preStep()">上一步</button>
		</div>
	</div>
</div>
<!-- 右下角浮动菜单 -->
<div class="Add_Applicant" ng-click="addApplicant()"><i class="iconfont icon-tianjia"></i> 添加原告</div>
<!--
<div class="MenuNavigation">
  <sidebar></sidebar>
</div> -->