<div class="modal-header">
	<i class="iconfont icon-guanbi close" ng-click="cancel()"></i>
	<h4 class="modal-title" id="myModalLabel">理赔结果</h4>
</div>
<div class="modal-body">
	<div class="bottom_list_e border-default margin-bottom-15" ng-repeat="flow in flowList">
		<div class="row ft-24 bg-color no-margin-h line-height2">
			<div class="col-xs-6">
				<div class="col-xs-4 text-right">任务号&nbsp;&nbsp;&nbsp;：</div>
				<div class="col-xs-6">{{flow.flowNo}}</div>
			</div>
			<div class="col-xs-6">
				<div class="col-xs-4 text-right ">理赔状态：</div>
				<div class="col-xs-6 success-color">{{flow.claimeStatus}}</div>
			</div>
		</div>

		<div ng-repeat="item in flow.paymentlist" class="row border-bottom no-margin-h padding-v-10 line-height2 ">

			<div class="col-xs-6" >
				<div class="col-xs-4 text-right">收款人<span style="color:#fff;">空</span>：</div>
				<div class="col-xs-8">{{item.receiver}}</div>
			</div>

			<div class="col-xs-6">
				<div class="col-xs-4 text-right">收款账号：</div>
				<div class="col-xs-6">{{item.accountNumber}}</div>
			</div>
			<div class="col-xs-6">
				<div class="col-xs-4 text-right">开户行<span style="color:#fff;">空</span>：</div>
				<div class="col-xs-6">{{item.openingBank}}</div>
			</div>
			<div class="col-xs-6">
				<div class="col-xs-4 text-right">款项类别：</div>
				<div class="col-xs-6">
					<span ng-if="item.paymentType == 1">交强险</span>
					<span ng-if="item.paymentType == 2">商业险</span>
					<span ng-if="item.paymentType == 3">其他</span>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="col-xs-4 text-right">付款金额：</div>
				<div class="col-xs-6">{{item.amount}}</div>
			</div>
			<div class="col-xs-6">
				<div class="col-xs-4 text-right">付款时间：</div>
				<div class="col-xs-6">{{item.payTime}}</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<div class="row">
		<div class="col-xs-offset-3 col-xs-6 btn_center">
			<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">关闭</button>
		</div>
	</div>
</div>