\<!-- 鉴定申请单模块 -->
<div style="margin-bottom: 70px;">
    <div class="appraisal_element_box" ng-repeat="appraisalDetailInfo in appraisalInfo.appraisalDetailList"  >
        <div class="appraisal_element_box_t">
            <p>
                <i class="iconfont icon-shudao"></i>
                <span>鉴定申请号</span>
                <span>{{appraisalDetailInfo.appraisalNo}}</span>
                <span class="pull-right cur-pointer" ng-click="deleteAppraisalDetailInfo(appraisalDetailInfo)"><a class="brand-color no-underline"> 删除</a></span>
            </p>
        </div>
        <div class="row margin-top-22">
            <div class="col-xs-12">
                <label class="col-xs-2 control-label text-right-height" >
                    <span class="Required">*</span>申请人
                </label>
                <div class="col-xs-4" ng-class="{'has-error':appraisalDetailInfo.applyNameError}">
                    <select class="form-control ng-pristine ng-valid"  ng-model="appraisalDetailInfo.jyAppraisalApplyerId"  ng-options="x.id as x.personName for x in applyerArray | orgName" ng-change="changeApplyerId(appraisalDetailInfo)"></select>
                </div>
            </div>
        </div>
        <!-- 被鉴定人 -->
        <div class="row mar-top-10">
            <div class="col-xs-12">
                <label class="col-xs-2 control-label text-right-height">
                    <span class="Required">*</span>被鉴定人
                </label>
                <div class="col-xs-10">
                    <!-- card_active  选中状态 -->
                    <div class="card_box cur-pointer" ng-click="selectAppraisalApplyerInfo(appraisalDetailInfo,appraisalApplyerInfo)" ng-class="{'card_active':appraisalApplyerInfo.id ==appraisalDetailInfo.jyAppraisalApplyerInfoId }" ng-repeat="appraisalApplyerInfo in appraisalApplyerInfoList">
                        <img src="views/images/active_fw_r2_c2.png">
                        <p>身份：<span>被鉴定人</span></p>
                        <p>姓名：<span>{{appraisalApplyerInfo.personName}}</span></p>
                        <p>性别：<span>{{appraisalApplyerInfo.sex | id2Text:sexList}}</span></p>
                        <p>证件类型：<span>{{appraisalApplyerInfo.certificatesType | id2Text:certificateTypeList}}</span></p>
                        <p>证件号码：<span>{{appraisalApplyerInfo.idNo}}</span></p>
                        <p>出生日期：<span>{{appraisalApplyerInfo.birthDay | stringDate|date: 'yyyy-MM-dd' }}</span></p>
                        <p>手机号码：<span>{{appraisalApplyerInfo.telephone}}</span></p>
                        <p>
                        <div class="pull-left" style="width: 58px;">居住地：</div>
                        <div class="pull-left" style="width: 288px;">{{appraisalApplyerInfo.residence}}</div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 鉴定类型 -->
        <div class="row margin-top-10">
            <div class="col-xs-12  control-label" style="text-indent: 20px;">
                <label class="col-xs-2 control-label text-right-height">
                    <span class="Required">*</span>鉴定类型
                </label>
                <div class="col-xs-10 radio">
                    <label ng-repeat="appraisalType in appraisalTypeList">
                        <input type="radio" ng-model="appraisalDetailInfo.appraisalType" value="{{appraisalType.id}}" ng-change="changeAppraisalType(appraisalDetailInfo)"> {{appraisalType.value}}
                    </label>
                </div>
            </div>
        </div>
        <!-- 鉴定项目 -->
        <div class="row margin-top-10">
            <div class="col-xs-12">
                <label class="col-xs-2 control-label text-right-height">
                    <span class="Required">*</span>鉴定项目
                </label>
                <div class="col-xs-10 ">
                    <div class="boder-dashed bg-color">
                        <div class="row checkbox " style="padding: 10px 50px;">
                            <label class="col-xs-4" ng-repeat="appraisalItem in appraisalDetailInfo.appraisalItemList">
                                <input type="checkbox"  ng-change="handleAppraisalItem(appraisalDetailInfo)" ng-model="appraisalItem.selected" ng-checked="appraisalItem.selected" ng-disabled="appraisalItem.disabled"> {{appraisalItem.value}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="add_Applicant" ng-click="addAppraisal()"><i class="iconfont icon-tianjia" ></i> 添加被鉴定人</div>