<div class="row header_e no-margin">
	<div class="col-xs-11 no-padding">
		<div class="col-xs-1 text-align-center">
			<img class="Court_logo"  src="views/images/logo.png">
		</div>
		<!-- <p class="col-xs-11 Court_name no-padding"><span>鉴定平台 | </span><span>证据列表</span></p>-->
	</div>
</div>
<div class="case-details-head bg-default font-size13">
	<div class="row clearfix no-margin" >
		<div class="avatar-content">
			<div class="row clearfix no-margin overflow-hidden po-relative" style="border-bottom: 1px solid #ddd;">
				<!-- 确认案件-->
				<div class="col-xs-11  no-padding-l avatar-info border0"  >
					<div class="col-xs-12">
						<h4>
							<b>被鉴定人：{{appraisalDetail.identifiedName }}
								<i class="iconfont icon-zhengjian margin-left-5  brand-color"></i>
							</b>
						</h4>
					</div>
					<div class="second-color line-height2-0 ">
						<div class="col-lg-4 col-xs-6 hide-nowrap" >申请人：{{appraisalDetail.applyName}}</div>
						<div class="col-lg-4 col-xs-6">鉴定申请号：{{appraisalDetail.appraisalNo}}</div>
						<div class="col-lg-4 col-xs-6">申请日期：{{appraisalDetail.appalyDate | stringDate | date: 'yyyy-MM-dd'}}</div>
						<div class="col-lg-4 col-xs-6">鉴定类型：{{appraisalDetail.appraisalType | idValue :appraisalTypeList}}</div>
						<div class="col-lg-4 col-xs-6">鉴定项目：{{appraisalDetail.appraisalItem | idValue :appraisalItemList}}</div>
						<div class="col-lg-4 col-xs-6">委托主体：{{appraisalDetail.principalAgent | idValue:principalAgentList}}</div>
						<div class="col-lg-4 col-xs-6">鉴定用途：{{appraisalDetail.identificationPurpose | idValue:identificationPurposeList}}</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<div class="row no-margin" style="background:#ecf0f3; height: 100%;">
	<div class="col-xs-2 ng-scope"  style="padding:9px 10px 0 0;height: 100%;">
		<div class="col-xs-12 background_color_d Evidence_list_cont_l" style="height: 100%;">
			<div class="Evidence_list_cont_l_e" ng-class="{'active':stage == 'info'}" ng-click="evidenceInfo()">
				<div class="pull-left "></div>
				<p ><i class="iconfont icon-wenshu" ></i>   证据信息</p>
			</div>
			<div class="Evidence_list_cont_l_e" ng-class="{'active':stage == 'supplement'}" ng-click="supplementEvidence()" ng-show="supplement">
				<div class="pull-left "></div>
				<p ><i class="iconfont icon-wenshu" ></i>   补充证据</p>
			</div>
		</div>
	</div>

	<div class="col-xs-10 row_margin bg-default" style="margin-left: -5px; padding-right: 0; min-height: 400px;" ng-if="stage == 'info'">
		<div class="col-xs-12 Evidence_list_cont_r_h">
			<div class="col-xs-1 active" >
				<span >证据信息</span>
			</div>
		</div>
		<div class="col-xs-12" style="padding: 10px 0 10px 0;">
			<div class="Path_nav">分类:</div>
			<div class="Path_nav" ng-class="{'font_color': collapseVar==0}" ng-click="filterFeeType()">全部 </div>
			<div class="Path_nav" ng-click="filterFeeType(classifyType.id)"  ng-class="{'font_color': collapseVar==classifyType.id}" ng-repeat="classifyType in appraisalClassifyList">{{classifyType.value}}</div>
		</div>
		<div class="col-xs-12">
			<div class="evidence-box row" ng-repeat="evidenceInfo in appraisalEvidenceList ">
				<div class="col-xs-12  margin-bottom-10" >
					<div class="evidence-img ">
						<img ng-src="{{bigPictureUrl+evidenceInfo.picture}}" ng-click="zoomImage(bigPictureUrl+evidenceInfo.picture)">
					</div>
					<!-- 举证 -->
					<div style=" margin-left: 250px;">
						<div class="evidence-content bg-color col-xs-12 line-height1" >
							<p>申请人（{{evidenceInfo.operateName}}）举证：</p>
							<p>证据名称：{{evidenceInfo.name}}</p>
							<p>举证时间：{{evidenceInfo.createDate}}</p>
							<p>证据描述：{{evidenceInfo.description}}</p>
							<p>提交环节：<span ng-if="evidenceInfo.operateState == '1000'">调解阶段</span><span ng-if="evidenceInfo.operateState == '1001'">诉讼阶段</span><span ng-if="evidenceInfo.operateState == '1002'">办案阶段</span><span ng-if="evidenceInfo.operateState == '1003'">司法鉴定</span></p>
							<p class="font-size13">
								<span>证据标签：</span>
								<span ng-repeat="tag in evidenceInfo.classify | appraisalItem:appraisalClassifyList">
								<span class="Label hide-nowrap line-height" >
									 {{tag}}
								</span>
							</span>
							</p>
						</div>
					</div>

				</div>
			</div>
		</div>


	</div>
	<div class="col-xs-10 row_margin bg-default" style="margin-left: -5px; padding-right: 0; min-height: 400px;" ng-if="stage == 'supplement'">
		<div class="col-xs-12 Evidence_list_cont_r_h vertical-m">
			<div class="col-xs-1 active" >
				<span >补充证据</span>
			</div>
			<div class="col-xs-8 pull-right">
				<div class="pull-right">
					<button type="button" class="btn btn-brand " ng-click="chooseEvidence(appraisalDetailInfo)"><i class="iconfont icon-tianjia" ></i> 选择已有证据</button>
					<button type="button" class="btn btn-brand "  ngf-pattern="'image/*'" ngf-select="addAppraisalEvidence($files,appraisalDetailInfo)" ng-click="checkflash()"  ngf-multiple="true"><i class="iconfont icon-tianjia"></i> 添加新证据</button>
				</div>
				<div style="color: #999; line-height: 50px; margin-right:15px; float: right; ">温馨提示：上传小于10M大小的图片</div>
			</div>
		</div>
		<div class="col-xs-12">
			<!-- 添加证据列表 -->
			<div class="list_box" ng-repeat="appraisalEvidence in supAppraisalEvidenceList">
				<!-- 证据 -->
				<div class="">
					<input style="display:none"/>
					<div class="row no-margin" style="position: relative;">
						<div class="evidence_left">
							<div class="evidence_picture icon-duihao_box cur-pointer" >
								<img class="img-responsive center-block" ng-src="{{imageAddress+appraisalEvidence.picture}}" ng-click="selectEvidence(appraisalEvidence)">
								<div class="delete_picture" ng-click="removeEvidences(appraisalEvidence)"><i class="iconfont icon-iconfont19"></i>删除</div>
								<i class="iconfont" ng-class="{'icon-duihao-weixuanzhong':!appraisalEvidence.selected,'icon-tupian-xuanzhong':appraisalEvidence.selected}" ng-click="selectEvidence(appraisalEvidence)"></i>
							</div>
						</div>
						<div class="evidence_right">
							<br>
							<div class="row" >
								<form class="form-horizontal" role="form">
									<div class="col-xs-3 text-right">
										<label class="control-label" ng-model="appraisalEvidence.name"><i>*</i>证据名称</label>
									</div>
									<div class="col-xs-5"  ng-class="{'has-error':appraisalEvidence.evidenceNameError}">
										<input ng-model="appraisalEvidence.name" class="form-control" placeholder="请输入证据名称" >
									</div>
									<div class="col-xs-5"></div>
								</form>
							</div>
							<br>
							<div class="row">
								<form class="form-horizontal" role="form">
									<div class="col-xs-3 text-right">
										<label class="control-label"><span class="Required">*</span>证据描述</label>
									</div>
									<div class="col-xs-9" ng-class="{'has-error':appraisalEvidence.evidenceDescriptionError}">
										<textarea ng-model="appraisalEvidence.description" class="form-control" rows="3"></textarea>
									</div>
								</form>
							</div>
							<div class="row">
								<form class="form-horizontal" role="form">
									<div class="col-xs-3 text-right">
										<label class="control-label">证据分类</label>
									</div>
									<div class="col-xs-9">
										<ul class="evidence_classify">
											<span ng-repeat="tag in appraisalEvidence.chooseTagArray">
													<li>{{tag.value}}<i class="iconfont" ng-class="{'icon-guanbi':appraisalEvidence.tagClose}" ng-click="closeTag(appraisalEvidence,tag.id)"></i></li>
											</span>
											<li class="li_tab cur-pointer" ng-show="appraisalEvidence.tagClose" ng-click="appraisalEvidence.tagClose = !appraisalEvidence.tagClose">保存标签</li>
											<li class="li_tab cur-pointer" ng-show="!appraisalEvidence.tagClose" ng-click="appraisalEvidence.tagClose = !appraisalEvidence.tagClose">编辑标签</li>
										</ul>
									</div>
								</form>
							</div>
							<br>
							<div class="row" ng-show="appraisalEvidence.tagClose">
								<div class="col-xs-2"></div>
								<div class="col-xs-10">
									<div class="all_classify" ng-repeat="appraisalClassify in  appraisalClassifyList">
										<li class="cur-pointer" ng-class="{'slide-active2':appraisalEvidence.classify.indexOf(appraisalClassify.id) !=-1}" ng-click="addTag(appraisalEvidence, appraisalClassify.id)">{{appraisalClassify.value}}</li><li>|</li>
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr style="border:1px dashed #dddddd;">
				</div>
			</div>
			<!-- 未添加证据时显示 -->
			<div class="empty_evidence_list" ng-show="supAppraisalEvidenceList.length == 0">
				<i class="iconfont icon-renzheng"></i>
				<span>还没有补充证据，请点击按钮添加证据哦！</span>
			</div>
		</div>


	</div>

</div>
<div class="appraisal_footer" ng-if="stage == 'supplement'">
	<div class="col-xs-7" ng-show="supAppraisalEvidenceList.length > 0">
		<h4 class="col-xs-4 flo-l icon-duihao_box cur-pointer" ng-click="selectAllappraisal()">
			<i class="iconfont" ng-class="{'icon-duihao-weixuanzhong':!selectAllItems,'icon-tupian-xuanzhong':selectAllItems}"></i> 全选</h4>
		<h4 class="col-xs-4 flo-l">已选中<span class="error_color">{{supAppraisalEvidenceList | selectedCount }}</span>个</h4>
		<h4 class="col-xs-4 flo-l error_color cur-pointer" ng-show="supAppraisalEvidenceList | selectedCount" ng-click="removeEvidences()">批量删除</h4>
	</div>
	<button class="btn btn-brand pull-right" ng-click="comfirmProof()">确定举证</button>
	<button class="btn btn-brand pull-right" ng-click="saveAppraisal()">保存</button>
</div>
<!-- 图片放大旋转 -->
<div id="big_img_box">
	<div class="big_img_box_bj"></div>
	<div class="big_img_box_img_box">
		<div id="big_img_box_img_f" style="position: absolute;">
			<div id="big_img_box_img_bar" style="width: 100%; height: 100%;" title="图片可以拖拽移动"></div>
			<img id="big_img_box_img" src="imgSrc">
		</div>
		<div class="big_img_box_bottom">
			<div class="big_img_box_bottom_bg"></div>
			<i class="iconfont icon-qiepian30" onclick="rotateImg();"></i>
			<i class="iconfont icon-iconfontfangda" onclick="enlargeimg();"></i>
			<i class="iconfont icon-iconfontsuoxiao" onclick="narrowimg();"></i>
		</div>
		<i class="iconfont icon--tingqiantiaojieduihao-Xhao" onclick="hideImg();"></i>
	</div> 
</div>
<script type="text/javascript">
    var oBox = document.getElementById("big_img_box_img_f");
    var oBar = document.getElementById("big_img_box_img_bar");
    startDrag(oBar, oBox);
</script>