<div class="modal-header">
  <i class="iconfont icon-guanbi close" ng-click="cancel()"></i>
  <h4 class="modal-title" id="myModalLabel">被抚养人信息</h4>
</div>
<div class="modal-body">
  <form role="form" class="form-horizontal">
    <div class="row row_margin" ng-repeat="dependent in dependents">
      <div class="form-group col-md-6 col-xs-12">
        <label class="col-sm-4 col-xs-12 control-label text-right"><span class="xing">*</span>被扶养人姓名</label>
        <div class="col-sm-8 col-xs-12" ng-class="{'has-error':nameError}">
          <input class="form-control" ng-model="dependent.name" name="name" placeholder="请输入">
        </div>
      </div>
      <div class="form-group col-md-6 col-xs-12">
        <label class="col-sm-4 col-xs-12 control-label text-right"><span class="xing">*</span>出生日期</label>
        <div class="col-sm-8 col-xs-12">
          <div class="input-group" ng-class="{'has-error':birthDateError}">
            <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-change="computeFyAge(dependent)" ng-model="dependent.birthDate" max-date="'2022-06-22'" is-open="dependent.birthDateOpened" datepicker-options="{startingDay: 1}" readonly/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-default-padding" ng-click="openBirthDate($event, dependent)" style="height:34px;"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group col-md-6 col-xs-12">
        <label class="col-sm-4 col-xs-12 control-label text-right"><span class="xing">*</span>扶养年限</label>
        <div class="col-sm-8 col-xs-12">
          <input class="form-control" name="text" ng-model="dependent.fyAge" name="fyAge" placeholder="请输入" ng-disabled="true">
        </div>
      </div>
      <div class="form-group col-md-6 col-xs-12">
        <label class="col-sm-4 col-xs-12 control-label text-right"><span class="xing">*</span>共同扶养人数</label>
        <div class="col-sm-8 col-xs-12" ng-class="{'has-error':countError}">
          <input class="form-control" name="text" ng-model="dependent.count" name="count" placeholder="请输入" >
        </div>
      </div>
      <div class="form-group col-md-6 col-xs-12">
        <label class="col-sm-4 col-xs-12 control-label text-right"><span class="xing">*</span>赔偿标准</label>
        <div class="col-sm-8 col-xs-12">
          <label class="radio-inline" ng-repeat="accountType in accountTypeList">
              <input type="radio" ng-disabled ="true" name="{{dependent.id}}" ng-model="dependent.household" ng-disabled="true" ng-value="accountType.id" ng-checked="{{accountType.id==dependent.household}}">{{accountType.value}}
            </label>
        </div>
      </div>
      <div class="form-group col-md-6 col-xs-12">
        <label class="col-sm-4 col-xs-12 control-label text-right"></label>
        <div class="col-sm-8 col-xs-12 text-right">
          <span ng-click="deleteDependent($index)" class="brand-color cur-pointer">删除被抚养人</span>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6 btn_center">
      <button type="button" class="btn btn-brand" data-dismiss="modal" ng-click="add()">添加被抚养人</button>
      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">取消</button>
      <button type="button" class="btn btn-brand save_btn" ng-click="ok()">保存</button>
    </div>
    <div class="col-xs-3"></div>
  </div>
</div>