<div class="modal-header">
    <i class="iconfont icon-guanbi close" ng-click="cancel()"></i>
    <h4 class="modal-title" id="myModalLabel">公安接口</h4>
</div>
<div class="modal-body row">

    <form role="form" class="form-horizontal">
        <div class="form-group col-xs-12">
            <label class="col-sm-4 col-xs-12 control-label text-right"><span class="xing">*</span>事故当事人身份证明号码</label>
            <div class="col-sm-8 col-xs-12" ng-class="{'has-error':idNoError}">
                <input class="form-control" ng-model="queryCondition.idNo" name="idNo" placeholder="请输入">
            </div>
        </div>
        <div class="form-group  col-xs-12">
            <label class="col-sm-4 col-xs-12 control-label text-right"><span class="xing">*</span>事故认定书号</label>
            <div class="col-sm-8 col-xs-12" ng-class="{'has-error':accidentNumberError}">
                <input class="form-control" name="text" ng-model="queryCondition.accidentNumber" name="accidentNumber" placeholder="请输入">
            </div>
        </div>

        <div class="form-group col-xs-12">
            <label class="col-sm-4 col-xs-12 control-label text-right"><span class="xing">*</span>事故发生地地市代码</label>
            <div class="col-sm-8 col-xs-12" ng-class="{'has-error':cityCodeError}">
                <input class="form-control" ng-model="queryCondition.cityCode" name="cityCode" placeholder="请输入">
            </div>
        </div>
        <div class="form-group col-xs-12">
            <div class="col-sm-4 col-xs-12 text-right">
                <label class=" control-label"><span class="xing">*</span>是否高速</label>
            </div>
            <div class="col-sm-8 col-xs-12" ng-class="{'has-error':highSpeedError}">
                <label class="radio-inline col-xs-3">
                    <input type="radio" name="highSpeed" ng-model="queryCondition.highSpeed" ng-value="1" ng-checked="1 == queryCondition.disabledFlag" id="no">是
                </label>
                <label class="radio-inline col-xs-3">
                    <input type="radio" name="highSpeed" ng-model="queryCondition.highSpeed" ng-value="2" ng-checked="2 == queryCondition.disabledFlag" id="yes">否
                </label>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6 btn_center">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">取消</button>
            <button type="button" class="btn btn-brand save_btn" ng-click="ok()">查询</button>
        </div>
    </div>
</div>