<div class="help-box">

	<div class="bg-default">
		<div class="modal-header bg-default">
			<h4 class="modal-title">
				<span class="h1_line"></span>
				文书模板
				<small class="mar-le-10">共10条文书</small>
			</h4>
		</div>
		<div class="modal-body no-padding-h">

			<div class="instrument-list">
				<table class="table table-middle list-stage" cellspacing="8" cellpadding="0">
					<tr >
						<td class="list-stage-title"><span>调解阶段</span></td>
						<td class="list-stage-li">
							<div class="row no-margin" >
								<div class="col-xs-9 no-padding">
									<span class="img-doc"></span>
									<a>调解协议书.docx</a>
								</div>
								<div class="col-xs-3 no-padding-r">
									<a ng-href="/lawProject/common/downloadFile?fileName=adjustAgree.docx&realName=调解协议书" class="col-xs-6 no-padding cur-pointer text-decoration brand-color"><i class="iconfont icon-xiazai brand-color"></i> 下载</a>
								</div>
							</div>
							<div class="row no-margin" >
								<div class="col-xs-9 no-padding">
									<span class="img-doc"></span>
									<a>司法确认文书.docx</a>
								</div>
								<div class="col-xs-3 no-padding-r">
									<a ng-href="/lawProject/common/downloadFile?fileName=Judicial.docx&realName=司法确认文书" class="col-xs-6 no-padding cur-pointer text-decoration brand-color"><i class="iconfont icon-xiazai brand-color"></i> 下载</a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="list-stage-title"><span>诉讼阶段</span></td>
						<td class="list-stage-li">
							<div class="row no-margin" >
								<div class="col-xs-9 no-padding">
									<span class="img-doc"></span>
									<a>起诉状.docx</a>
								</div>
								<div class="col-xs-3 no-padding-r">
									<a ng-href="/lawProject/common/downloadFile?fileName=Indictment.docx&realName=起诉状" class="col-xs-6 no-padding cur-pointer text-decoration brand-color"><i class="iconfont icon-xiazai brand-color"></i> 下载</a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="list-stage-title"><span>立案阶段</span></td>
						<td class="list-stage-li">
							<div class="row no-margin" >
								<div class="col-xs-9 no-padding">
									<span class="img-doc"></span>
									<a>风险提示书.docx</a>
								</div>
								<div class="col-xs-3 no-padding-r">
									<a ng-href="/lawProject/common/downloadFile?fileName=risk.docx&realName=风险提示书" class="col-xs-6 no-padding cur-pointer text-decoration brand-color"><i class="iconfont icon-xiazai brand-color"></i> 下载</a>
								</div>
							</div>
							<div class="row no-margin" >
								<div class="col-xs-9 no-padding">
									<span class="img-doc"></span>
									<a>举证通知书.docx</a>
								</div>
								<div class="col-xs-3 no-padding-r">
									<a ng-href="/lawProject/common/downloadFile?fileName=proof.docx&realName=举证通知书" class="col-xs-6 no-padding cur-pointer text-decoration brand-color"><i class="iconfont icon-xiazai brand-color"></i> 下载</a>
								</div>
							</div>

							<!--<div class="row no-margin" >-->
							<!--<div class="col-xs-9 no-padding">-->
							<!--<span class="img-doc"></span>-->
							<!--<a>民事诉讼须知.doc</a>-->
							<!--</div>-->
							<!--<div class="col-xs-3 no-padding-r">-->
							<!--<a ng-href="/lawProject/common/downloadFile?fileName=civilProcedure.doc&realName=诉讼须知" class="col-xs-6 no-padding cur-pointer text-decoration brand-color"><i class="iconfont icon-xiazai brand-color"></i> 下载</a>-->
							<!--</div>-->
							<!--</div>-->
							<div class="row no-margin" >
								<div class="col-xs-9 no-padding">
									<span class="img-doc"></span>
									<a>传票.docx</a>
								</div>
								<div class="col-xs-3 no-padding-r">
									<a ng-href="/lawProject/common/downloadFile?fileName=summons.docx&realName=传票" class="col-xs-6 no-padding cur-pointer text-decoration brand-color"><i class="iconfont icon-xiazai brand-color"></i> 下载</a>
								</div>
							</div>
							<div class="row no-margin" >
								<div class="col-xs-9 no-padding">
									<span class="img-doc"></span>
									<a>应诉通知书.docx</a>
								</div>
								<div class="col-xs-3 no-padding-r">
									<a ng-href="/lawProject/common/downloadFile?fileName=respondent.docx&realName=应诉通知书" class="col-xs-6 no-padding cur-pointer text-decoration brand-color"><i class="iconfont icon-xiazai brand-color"></i> 下载</a>
								</div>
							</div>
							<div class="row no-margin" >
								<div class="col-xs-9 no-padding">
									<span class="img-doc"></span>
									<a>受理通知书.docx</a>
								</div>
								<div class="col-xs-3 no-padding-r">
									<a ng-href="/lawProject/common/downloadFile?fileName=acceptance.docx&realName=受理通知书" class="col-xs-6 no-padding cur-pointer text-decoration brand-color"><i class="iconfont icon-xiazai brand-color"></i> 下载</a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="list-stage-title"><span>庭审阶段</span></td>
						<td class="list-stage-li">
							<div class="row no-margin" >
								<div class="col-xs-9 no-padding">
									<span class="img-doc"></span>
									<a>民事判决书.docx</a>
								</div>
								<div class="col-xs-3 no-padding-r">
									<a ng-href="/lawProject/common/downloadFile?fileName=civilAward.docx&realName=民事判决书" class="col-xs-6 no-padding cur-pointer text-decoration brand-color"><i class="iconfont icon-xiazai brand-color"></i> 下载</a>
								</div>
							</div>
							<div class="row no-margin" >
								<div class="col-xs-9 no-padding">
									<span class="img-doc"></span>
									<a>调解书.doxc</a>
								</div>
								<div class="col-xs-3 no-padding-r">
									<a ng-href="/lawProject/common/downloadFile?fileName=adjustLetter.docx&realName=调解书" class="col-xs-6 no-padding cur-pointer text-decoration brand-color"><i class="iconfont icon-xiazai brand-color"></i> 下载</a>
								</div>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
