<div class="modal-header">
    新建角色
    <i class="iconfont pull-right icon-guanbi close" ng-click="cancel()"></i>
</div>
<div class="modal-body">
    <div class="form_box">
         <form class="form-horizontal" >
            <div class="scroll-form-box">
            
                 <div class="form-group margin_top_popup">
                    <label  class="col-xs-offset-1 col-xs-2"><i>*</i> 角色名称</label>
                    <div class="col-xs-6" ng-class="{'has-error':roleNameErrorMessage}">
                        <input name="name" ng-model="name" type="text" class="form-control input-sm"  placeholder="请输入角色名称">
                    </div>
                     <div class="error-message"  ng-bind="roleNameErrorMessage"></div>
                </div>
                <div class="form-group">
                    <label  class="col-xs-offset-1 col-xs-2"><i>*</i> 角色组</label>
                    <div class="col-xs-6">
                        <select name="parentId" ng-model="parentId" class="form-control input-sm" ng-options="x.value for x in roleList" placeholder="请输入角色组"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-xs-offset-1 col-xs-2"><i></i> 角色描述</label>
                    <div class="col-xs-6">
                        <input ng-model="description" type="text" class="form-control input-sm"  placeholder="请输入角色描述">
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
<div class="modal-footer">
     <div class="form-group">
        <div class="col-xs-offset-4 col-xs-1">
            <button type="submit" class="btn btn-default " ng-click="cancel()">取消</button>
        </div>
        <div class=" col-xs-1">
                <button type="submit" class="btn btn-brand bg-brand-color" ng-click="createRole()" >保存</button>
            </div>
             <div class=" col-xs-2">
                <button type="submit" class="btn btn-brand bg-brand-color" ng-click="createRole(1)" >保存并分配权限</button>
            </div>
    </div>
</div>