
<div class="panel-body">
  <p class="idexMaintainP" style="color:red; text-align: center;"><span>导航入口：</span>top1  &ensp;、&ensp;   <span>logo图片：</span>top2  &ensp;、&ensp;    <span>logo图片背景：</span>top2bg  &ensp;、&ensp;    <span>页签切换按钮：</span>top3   &ensp;、&ensp;    <span>banner图：</span>banner   &ensp;、&ensp;    <span>背景色：</span>bg1</p>
  <div class="table-responsive">
    <div class="role_management_right_t_r_d" ng-click="addbox = true"><i class="iconfont icon-tianjia"></i>  新增</div>
    <table class="table table-hover" style="text-align: center;">
      <thead>
      <tr>
        <th class="col-xs-2 text-align-center" >id</th>
        <th class="col-xs-2 text-align-center" >颜色</th>
        <th class="col-xs-2 text-align-center" >位置</th>
        <th class="col-xs-2 text-align-center" >地址</th>
        <th class="col-xs-2 text-align-center" >是否发布</th>
        <th class="col-xs-2 text-align-center" >操作</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-show="addbox" style="background:#faebca;">

        <td class="line-height-30">添加</td>

        <td class="line-height-30">
          <input  type="text" class="form-control input-sm ng-pristine ng-valid" ng-model="imgObj.color"  placeholder="请您输入颜色">
        </td>

        <td class="line-height-30">
          <input  type="text" class="form-control input-sm ng-pristine ng-valid" ng-model="imgObj.hierarchy"  placeholder="请您输入位置">
        </td>

        <td class="line-height-30">{{imgObj.path}}</td>

        <td class="line-height-30">
          <input  type="checkbox"  class="ng-pristine ng-valid" ng-true-value="1" ng-false-value="0" ng-model="imgObj.state" >
        </td>

        <td class="action_bar" class="line-height-30">
          <i class="iconfont icon-shangchuan" style="font-size:18px;" title="上传图片"  ngf-select="uploadImage($file, imgObj)"></i>
          <i class="iconfont icon-wenjian1" style="font-size:18px;" title="保存"  ng-click="addBanner()"></i>
        </td>
      </tr>
      <tr  ng-repeat="img in imgObjList">
        <td class="line-height-30" ng-bind="$index+1"></td>
        <td class="line-height-30">
          <input  type="text" class="form-control input-sm ng-pristine ng-valid" ng-model="img.color"  placeholder="请您输入颜色">
        </td>
        <td class="line-height-30">
          <input  type="text" class="form-control input-sm ng-pristine ng-valid" ng-model="img.hierarchy"  placeholder="请您输入位置">
        </td>
        <td class="line-height-30">{{img.path}}</td>
        <td class="line-height-30">
          <input  type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="img.state" ng-checked="img.state == 1" class="ng-pristine ng-valid">
        </td>
        <td class="action_bar" class="line-height-30">
          <i class="iconfont icon-iconfont19" style="font-size:18px;" title="删除" ng-click="deleteBanner(img)"></i>
          <i class="iconfont icon-shangchuan" style="font-size:18px;" title="上传图片"  ngf-select="uploadImage($file, img)"></i>
          <i class="iconfont icon-wenjian1" style="font-size:18px;" title="保存"  ng-click="addBanner(img)"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
    