<!-- 流程图 -->
<div class="row flowChart applicant">
    <div class="flowChart_box" ng-show="headInfo.mainFlow">
        <div class="col-xs-12" style="height: 70px; margin-top: 10px;">
            <div style="width:467px; margin: 0 auto;">
                <div class="step-circle pull-left" ng-class="{'circle-blue':headInfo.step == 1,'circle-line':headInfo.step < 1,'circle-ok':headInfo.step > 1}"><i>1</i>
                    <span>申请人</span>
                </div>
                <div class="pull-left" ng-repeat="step_e in headInfo.stepArray">
                    <div class="pull-left applicant_e"></div>
                    <div class="step-circle pull-left" ng-class="{'circle-blue':headInfo.step == step_e.id,'circle-line':headInfo.step < step_e.id,'circle-ok':headInfo.step > step_e.id}"><i>{{step_e.id}}</i>
                        <span>{{step_e.value}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 applicant_cont">
            <div class="col-xs-4"><p style="line-height: 40px;">流水号：<span>{{algorithmInfo.serialNo}}</span></p></div>
            <div class="col-xs-4"><p style="line-height: 40px;">调解机构：<span>{{algorithmInfo.orgName}}</span></p></div>
            <div class="col-xs-4"><p style="line-height: 40px;">调解点：<span>{{algorithmInfo.pointName}}</span></p></div>
        </div>
    </div>
    <div class="flowChart_bottom flowChart_b1" ng-show="headInfo.mainFlow" ng-click="headInfo.mainFlow=!headInfo.mainFlow">
        <img class="flowChart_bottom_img" src="views/images/2-pre.png">
        <img src="views/images/2-nor.png">
    </div>
    <div class="flowChart_bottom flowChart_b2" ng-hide="headInfo.mainFlow" ng-click="headInfo.mainFlow=!headInfo.mainFlow">
        <img class="flowChart_bottom_img" src="views/images/1-pre.png">
        <img src="views/images/1-.png">
    </div>
</div>
<!-- UI-VIEW -->
<div ui-view style="padding-bottom: 60px;"></div>

<!-- 右侧添加按钮 赔偿方与索赔方-->
<div class="add_Applicant ng-scope ng-binding" id="addApplicantBtn" style="right:-92px;" ng-show="headInfo.step == 1" ng-click="addAlgorithmApplyerInfo()">
    <i class="iconfont icon-tianjia"></i>
    &nbsp;&nbsp;&nbsp;添加申请人
</div>
<!-- 底部按钮 -->
<div class="row applicant_footer padding_top_bottom button_box background_color_d bottom_btn_fixed">
    <div class="col-xs-12 padding_top_bottom ">
        <button type="button" class="btn btn-brand pull-right" ng-show="headInfo.step < 4" ng-click="nextStep()">下一步</button>
        <button type="button" class="btn btn-brand pull-right" ng-show="headInfo.step == 4" ng-click="saveAlgorithmInfo(undefined,true)">完成</button>
        <button type="button" class="btn btn-brand pull-right" ng-click="saveAlgorithmInfo(undefined,true)">保存</button>
        <button type="button" class="btn btn-default pull-right" ng-show="headInfo.step > 1" ng-click="preStep()">上一步</button>
    </div>
</div>