<div class="modal-header">
	<i class="iconfont icon-guanbi close" ng-click="cancel()"></i>
	<h4 class="modal-title" id="myModalLabel">选择依据</h4>
</div>
<div class="modal-body">
	<table class="table table-bordered">
		<tr>
			<th>发布机构</th>
			<th>文件名称</th>
			<th>条目</th>
			<th>裁判依据</th>
		</tr>
		<tr ng-repeat="item in lawItemArray">
			<td style="width: 10%;" title="{{item.publishOrg}}">{{item.publishOrg}}</td>
			<td style="width: 10%;" title="{{item.itemName}}">{{item.itemName}}</td>
			<td style="width: 10%;" title="{{item.itemNo}}">{{item.itemNo}}</td>
			<td style="width: 70%;" title="{{item.itemDetail}}">{{item.itemDetail}}</td>
		</tr>
	</table>
</div>
<div class="modal-footer">
	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-6 btn_center">
			<button ng-hide="isShow" type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">取消</button>
			<button ng-hide="isShow" type="button" class="btn btn-brand save_btn" ng-click="ok()">确定</button>
			<button ng-show="isShow" type="button" class="btn btn-brand save_btn" ng-click="ok()">关闭</button>
		</div>
		<div class="col-xs-3"></div>
	</div>
</div>