.appeal-head-txt{
    left: -41px !important;
}
.the-center{
    text-align: center;
}
.the-center>thead>tr>th{
    text-align: center;
}
.the-strong{
    font-weight: bold;
}
.choose-appellant-txt{
    padding: 15px 0;
    margin-bottom: 0;
}
.clear:after{
    content: "";
    display: inline-block;
    clear: both;
}
.text-l th, .text-l td{
    text-align: left !important;
}

textarea.has-error{
    border: 1px solid #a94442;
}
.menu-active {
    background: #F4F8F9;
    color: #3F65D6;
}

/*判决书*/
#judgeDocument span{
    float: left;
}

.format-text{
    line-height: 28px;
    color: #888;
}
/*公安交警*/
.police-login-form {
    width: 327px;
    height: 336px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.16);
}
.police-login-txt{
    text-align: center;
    line-height: 64px;
    font-size: 20px;
    height: 64px;
}
.policelLoginbox{
    position: absolute;
    right: 0px;
    top: 200px;
    width: 37%;
}
/*一体机*/
.AIO-navbar-brand{
    float: left;
}
.AIO-navbar-brand img{
    margin-top: 2px;
}
.AIO-bg{
    background: url(../views/images/AIO_bg.jpg) no-repeat;
    height: 100%;
    background-attachment: fixed;
}
.AIOHomeBody{
    /*text-align: center;
    margin-top: 10%;*/
    text-align: center;
    height: 100%;
}
.AIO-header-btn{
    background-image: url("../views/images/AIO_quit.png");
    display: inline-block;
    width: 115px;
    height: 58px;
    background-position: 0px, 0;
    font-size: 28px;
    line-height: 58px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin-top: 16px;
    background-size: 100% 100%;
}
.AIO-header-btn.press{
    background-image: url("../views/images/AIO_quit_press.png");
}
.back{
    background-image: url("../views/images/AIO_number_btn.png");
    background-size: 100% 100%;
}
.AIO-header-btn.press.back{
    background-image: url("../views/images/AIO_button_press.png");
}
.AIOHomeText{
    display: inline-block;
    margin: 150px 75px 0;
    cursor: pointer;
}
.AIOHomeText .home-page-img{
    background-size: 100% 100%;
    display: inline-block;
    width: 387px;
    height: 387px;
    background-repeat: no-repeat;
}
.AIOHomeText .home-page-img.img1{
    background-image: url("../views/images/AIO_nor_1.png");
}
.AIOHomeText .home-page-img.img2{
    background-image: url("../views/images/AIO_nor_2.png");
}
.AIOHomeText .home-page-img.img1.press{
    background-image: url("../views/images/AIO_pre_1.png");
    background-size: 348px 348px;
    background-position: 20px 20px;
}
.AIOHomeText .home-page-img.img2.press{
    background-image: url("../views/images/AIO_pre_2.png");
    background-size: 348px 348px;
    background-position: 20px 20px;
}
.AIOHomeText>p{
    color: #fff;
    font-size: 34px;
}
.IdNoInput{
    width: 600px;
    height: 82px;
    margin: 0 auto;
    background-color: #ccc;
    padding-left: 30px;
}
.inputBox{
    background-color: #fff;
    text-align: center;
    display: block;
    margin: 100px auto 30px;
    width: 700px;
    padding-bottom: 40px;
}
.inputBox > .text{
    color: #333;
    font-size: 38px;
    margin: 0;
    line-height: 140px;
    height: 140px;
}
.IdNoInput{
    text-align: left;
    margin-bottom: 30px;
}
.IdNoInput span{
    line-height: 82px;
    font-size: 30px;
    height: 92px;
    color: #333;
    border-radius: 7px;
}
.btnBox{
    width: 525px;
    margin: 0 auto;
}
.btnBox .numberBtn{
    background-image: url("../views/images/AIO_button_bg.png");
    width: 115px;
    height: 58px;
    line-height: 58px;
    float: left;
    font-size: 35px;
    color: #fff;
    cursor: pointer;
    margin: 0 30px 15px;
    background-size: 100% 100%;
}
.btnBox li.press{
    background-image: url("../views/images/AIO_number_press.png");
}
.btnBox:after{
    content: "";
    display: block;
    clear: both;
}
.AIOIdNoTrue{
    background-image: url("../views/images/AIO_idNo-true.png");
    width: 468px;
    height: 74px;
    line-height: 74px;
    font-size: 36px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    background-size: 100% 100%;
}
.AIOIdNoTrue.press{
    background-image: url("../views/images/AIO_number_true_press.png");
}
.AIO-table-box{
    background-color: #fff;
    padding: 0 70px;
}
.AIO-table{
    background-color: #fff;
    padding: 0 70px;
}
.AIO-table thead tr{
    height: 90px;
    font-size: 30px;
    color: #666;
}
.AIO-table thead th{
    font-weight: normal !important;
    vertical-align: middle !important;
    text-align: center;
}
.AIO-table tbody tr{
    height: 90px;
    font-size: 29px;
}
.AIO-table tbody tr td{
    text-align: center;
    vertical-align: middle !important;
}
.AIO-table tbody tr td a{
    color: #4f85dc;
}
.AIO_scan_img{
    margin: 90px auto 0;
    display: block;
    background-image: url("../views/images/AIO_scan_idNo.png");
    width: 883px;
    height: 741px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
.AIO_scan_card{
    background-image: url("../views/images/AIO_scan_card.png");
    width: 175px;
    height: 119px;
    position: absolute;
    top: 490px;
    left: 882px;
}
.caseListJumpWp{
    text-align: center;
    height: 120px;
    line-height: 155px;
}
.caseListJump{
    background-image: url("../views/images/AIO_button_bg.png");
    display: inline-block;
    width: 111px;
    height: 66px;
    color: #fff;
    line-height: 66px;
    text-align: center;
    font-size: 27px;
    cursor: pointer;
    margin: 0 20px;
    background-size: 100% 100%;
}
.caseListJump.press{
    background-image: url("../views/images/AIO_number_press.png");
}
.caseListNullImg{
    width: 520px;
    margin: 0 auto;
    padding: 260px 0 30px;
    /*height: 1105px;*/
}
.caseListNullImg img{

}
.caseListNullImg p{
    font-size: 36px;
    color: #333;
    text-align: center;
    padding-bottom: 0;
}
.detailContent{
    padding: 60px;
    background-color: #fff;
    height: 950px;
}
.detailContent:after{
    clear: both;
    display: block;
    content: "";
}
.detailMenu{
    font-size: 30px;
    color: #666;
    text-align: right;
    border-right: 1px solid #bbb;
    padding: 40px 0 0;
}
.detailMenu p{
    line-height: 80px;
    height: 80px;
    padding-right: 20px;
    cursor: pointer;
    position: relative;
    margin-bottom: 0;
}
.detailMenu p i.icon{
    background: url("../views/images/AIO_case_menu_icon.png");
    width: 13px;
    height: 25px;
    position: absolute;
    right: -13px;
    top: 35px;
    display: none;
}
.detailMenu p.active{
    background-image: url("../views/images/AIO_case_detail_active.png");
    color: #fff;
    background-size: 100% 100%;
}
.detailMenu p.active i.icon{
    display: block;
}
.detailText>p{
    margin-bottom: 0;
    height: 110px;
    line-height: 110px;
    font-size: 35px;
    padding-left: 47px;
    border-bottom: 1px solid #bbb;
}
.detailText p .caseDetailIcon{
    display: inline-block;
    width: 42px;
    height: 42px;
    position: relative;
    top: 10px;
    left: -18px;
    background-size: 100% 100%;
}
.detailText p .caseDetailIcon.icon1{
    background-image: url(../views/images/AIO_case_detail_icon2.png);
}
.detailText p .caseDetailIcon.icon2{
    background-image: url(../views/images/AIO_case_detail_2.png);
}
.detailText p .caseDetailIcon.icon3{
    background-image: url(../views/images/AIO_case_detail_3.png);
}
.text{
    padding-top: 25px;
}
.text p{
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}
.text span{
    color: #999;
    font-size: 30px !important;
}
.stampButton{
    background-image: url(../views/images/AIO_number_btn.png);
    color: #fff;
    font-size: 30px;
    width: 145px;
    display: inline-block;
    height: 73px;
    line-height: 73px;
    cursor: pointer;
    text-align: center;
    background-size: 100% 100%;
}
.stampIcon{
    background-image: url(../views/images/AIO_stamp_button.png);
    width: 34px;
    height: 35px;
    display: inline-block;
    margin-right: 13px;
    position: relative;
    top: 6px;
    background-size: 100% 100%;
}
.stampButton.press{
    background-image: url(../views/images/AIO_button_press.png);
}
.duty-box, .person-box{
    background-color: #e6f2ff;
    padding: 30px;
    margin-bottom: 38px;
}
.person-box:after{
    display: block;
    clear: both;
    content: "";
}
.duty-title, .person-title{
    border-bottom: none !important;
    height: auto !important;
}
.duty-title h4, .person-title h4{
    font-size: 30px;
    color: #1d82ed;
    margin: 0 0 20px 0;
}
.duty-title h4 span{
    margin: 9px 13px 14px 0 !important;
    height: 31px;
    width: 6px;
}
.duty-content p{
    margin-bottom: 0;
}
.person-img{
    background-image: url("../views/images/AIO_person_img.png");
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    top: 9px;
    background-size: 100% 100%;
}
.person-content{
    padding: 0 40px;
    font-size: 30px !important;
}
.person-content .person-btn{
    color: #1d82ed !important;
    background-color: #d4e3f3;
    margin-right: 24px;
    float: left;
    padding: 5px 30px;
    border-radius: 8px;
    font-size: 30px !important;
    cursor: pointer;
}
.AIO_masker p{
    font-size: 40px;
    text-align: center;
    margin: 80px 0 0 0;
}
.police-model-icon{
    width: 50px;
    height: 50px;
    display: inline-block;
    float: left;
    margin-top: 14px;
    background-size: 100% 100%;
}
.police-model-icon.car{
    background-image: url("../views/images/AIO_police_car.png");
}
.police-model-icon.licenseInfo{
    background-image: url("../views/images/AIO_police_licenseInfo.png");
}
.police-model-icon.inquiry{
    background-image: url("../views/images/AIO_police_inquiry.png");
}
.police-model-icon.textResult{
    background-image: url("../views/images/AIO_test_result.png");
}
.AIO-police-title{
    line-height: 2.43;
    font-size: 32px;
    color: #1d82ed;
    margin-left: 70px;
}
.AIO-modal-header{
    background-color: #fff;
    border-bottom-color: transparent;
}
.AIO-content-title{
    line-height: 50px;
    height: 70px;
}
.AIO-content-title .tit_line{
    width: 6px;
    height: 31px;
    background: #1d82ed;
    float: left;
    margin-right: 13px;
    margin-top: 12px;
}
.AIO-content-text{
    font-size: 28px;
    color: #000;
}
.AIO-content-text .form-group{
    margin-bottom: 20px;
}
.AIO-content-text .text-right{
    color: #999;
}
.AIO-model-table{
    border: 1px solid #bbb;
}
.AIO-model-table>thead>tr>td{
    border: 1px solid #bbb;
}
.AIO-model-table thead tr{
    height: 80px;
    font-size: 30px;
    background-color: #ccc;
    color: #999;
}
.AIO-model-table thead tr td, .AIO-model-table tbody tr td{
    vertical-align: middle;
    text-align: center;
    border: 1px solid #bbb!important;
}
.AIO-model-table tbody tr{
    height: 80px;
    font-size: 30px;
    color: #000;
}
.AIO-line{
    margin: 0;
    border-bottom: 1px dashed #bbb;
    height: 20px;
    margin-bottom: 20px;
}
.AIO-model-closeBtn-wp{
    height: 97px;
    line-height: 97px;
}
.AIO-model-closeBtn{
    background-image: url("../views/images/AIO_button_bg.png") !important;
    width: 120px;
    height: 70px;
    line-height: 70px;
    font-size: 35px !important;
    color: #fff !important;
    padding: 0 !important;
    background-size: 100% 100%;
}
.AIO-model-closeBtn:hover{
    color: #fff;
}
.AIO-model-closeBtn.press{
    background-image: url("../views/images/AIO_button_press.png") !important;
}
.AIO-inquiry-table{
    font-size: 30px;
}
.AIO-inquiry-table tr{
    height: 80px;
}
.AIO-inquiry-table tr td{
    line-height: 80px !important;
    border: 1px solid #999 !important;
}
/*斑马线表格颜色*/
.table-even{
    background-color: #d4e3f3;
}

/*一体机退出提示框样式*/
.AIO-alert-box{
    width: 600px;
    background-color: #fff;
    height: 350px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -175px;
}
.AIO-masker{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.4);
}
.AIO-alert-box .title{
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
}
.AIO-alert-box .content{
    color: #333;
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
    height: 110px;
}
.AIO-alert-box button{
    border: none;
    width: 120px;
    height: 60px;
    background-size: 100% 100%;
    font-size: 22px;
    color: #fff;
    margin: 0 15px;
}
.AIO-alert-box .btn1{
    background-image: url("../views/images/AIO_alert_box_btn.png");
}
.AIO-alert-box .btn1.press{
    background-image: url("../views/images/AIO_alert_box_btn_press.png");
}
.AIO-alert-box .btn2{
    background-image: url("../views/images/AIO_number_btn.png")
}
.AIO-alert-box .btn2.press{
    background-image: url("../views/images/AIO_number_press.png");
}

/*正在加载css样式*/
.main{
    width: 100%;
    height: auto;
    padding-top: 100px;
}
.loadEffect{
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto;
    margin-top:100px;
}
.loadEffect span{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #4f85dc;
    position: absolute;
    animation: load 1.04s ease infinite;
    -webkit-animation: load 1.04s ease infinite;
}
@keyframes load{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0.2;
    }
}
.loadEffect span:nth-child(1){
    left: 0;
    top: 50%;
    margin-top:-8px;
    animation-delay:0.13s;
    -webkit-animation-delay:0.13s;
}
.loadEffect span:nth-child(2){
    left: 14px;
    top: 14px;
    animation-delay:0.26s;
    -webkit-animation-delay:0.26s;
}
.loadEffect span:nth-child(3){
    left: 50%;
    top: 0;
    margin-left: -8px;
    animation-delay:0.39s;
    -webkit-animation-delay:0.39s;
}
.loadEffect span:nth-child(4){
    top: 14px;
    right:14px;
    animation-delay:0.52s;
    -webkit-animation-delay:0.52s;
}
.loadEffect span:nth-child(5){
    right: 0;
    top: 50%;
    margin-top:-8px;
    animation-delay:0.65s;
    -webkit-animation-delay:0.65s;
}
.loadEffect span:nth-child(6){
    right: 14px;
    bottom:14px;
    animation-delay:0.78s;
    -webkit-animation-delay:0.78s;
}
.loadEffect span:nth-child(7){
    bottom: 0;
    left: 50%;
    margin-left: -8px;
    animation-delay:0.91s;
    -webkit-animation-delay:0.91s;
}
.loadEffect span:nth-child(8){
    bottom: 14px;
    left: 14px;
    animation-delay:1.04s;
    -webkit-animation-delay:1.04s;
}
.AIO-model-close-icon:before{
    font-size: 30px;
    position: absolute;
    right: 30px;
    top: 30px;
}
.file-upload-masker{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: 99999999;
}
.police-info-box{
    width: 480px;
    background-color: #fff;
    position: fixed;
    top: 50px;
    left: 50%;
    margin-left: -240px;
    z-index: 1000000;
}
.police-info-box .title{
    font-size: 16px;
    padding: 10px 20px;
    background-color: #eff3f6;
}
.police-info-box .text{
    font-size: 14px;
    font-weight: normal;
}
.police-info-masker{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: 9999;
}
.police-btn span{
    background-color: #3F65D6;
    opacity: 0.65;
    color: #fff;
    border-radius: 3px;
    height: 35px;
    width: 70px;
    display: inline-block;
    line-height: 35px;
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
}
.police-btn span .icon{
    display: inline-block;
    width: 18px;
    height: 18px;
    position: relative;
    margin-right: 7px;
}
.police-btn span .icon1{
    background-image: url("../views/images/policeCheck.png");
    top: 5px;
}
.police-btn span .icon2{
    background-image: url("../views/images/policeGet.png");
    top: 2px;
}
.policeBowFooter{
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #ccc;
}
.police-info-box.getPolice{
    width: 800px;
    margin-left: -400px;
}
.police-info-tab-wp{
    font-size: 16px;
    padding: 10px 20px;
    margin: 0;
}
.police-info-tab-wp:after{
    content: "";
    clear: both;
    display: block;
}
.police-info-tab-wp li{
    border-right: 1px solid #ddd;
    float: left;
    padding: 3px 5px;
}
.police-info-tab-wp li span{
    border-bottom: 3px solid transparent;
    padding: 0 10px 5px 10px;
    cursor: pointer;
}
.police-info-tab-wp li span.active{
    border-color: #3F65D6;
}
.tab2-table tr th, .tab2-table tr td{
    text-align: center;
    vertical-align: middle !important;
}
.tab2-table tr th{
    background-color: #f2f2f2;
}
.evidences li{
    position: relative;
    width: 130px;
    height: 150px;
    border: 2px solid transparent;
    float: left;
    margin-right: 25px;
    cursor: pointer;
}
.evidences:after{
    content: "";
    display: block;
    clear: both;
}
.evidences .icon-normal, .evidences .icon-active{
    width: 26px;
    height: 26px;
    position: absolute;
    left: 10px;
    top: 10px;
}
.evidences .icon-normal{
    background-image: url("../views/images/police_tab4_icon1.png");
}
.evidences .icon-active{
    background-image: url("../views/images/police_tab4_icon2.png");
}
.evidences li{
    margin-bottom: 10px;
}
.evidences li p{
    margin: 0;
    text-align: center;
}
.evidences li img{
    width: 130px;
    height: 130px;
}
.caseDetailIcon{
    display: inline-block;
    width: 33px;
    height: 33px;
    position: relative;
    top: 10px;
    left: -8px;
    background-size: 100% 100%;
}
.caseDetailIcon.icon1{
    background-image: url(../views/images/AIO_case_detail_2.png);
}
.caseDetailIcon.icon2{
    background-image: url(../views/images/police_icon_2.png);
}
.caseDetailIcon.icon3{
    background-image: url(../views/images/police_icon_1.png);
}
.caseDetailIcon.icon4{
    background-image: url(../views/images/police_icon_3.png);
}
.caseDetailIcon.icon5{
    background-image: url(../views/images/police_icon_4.png);
}
.caseDetailIcon.icon6{
    background-image: url(../views/images/police_icon_5.png);
}
.caseDetailIcon.icon7{
    background-image: url(../views/images/police_icon_6.png);
}
.caseDetailIcon.icon8{
    background-image: url(../views/images/police_icon_7.png);
}
.caseDetailIcon.icon9{
    background-image: url(../views/images/police_icon_8.png);
}
.insurance-detail{
    width: 700px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -350px;
    background-color: #fff;
    z-index: 199999999;
    padding-top:35px;
}
.mb-10{
    margin-bottom: 10px;
}
.text-r{
    text-align: right;
}
.pl-34{
    padding-left: 34px;
}
.position_ul li{
    height: 35px;
    line-height: 35px;
}
.message-board{
    padding: 15px;
}

.message-wp{
    margin-bottom: 20px;
}
.message{
    max-width: 600px;
    word-break: break-all;
}
.message-wp .message-left img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.message-right{
    margin-left: 20px;
}
.message-wp.self .message-right{
    margin-right: 20px;
}
.message-right .info{
    color: #a9a9a9;
}
.message-right .text{
    margin-top: 5px;
    background-color: #e7f5fe;
    padding: 5px 10px;
    position: relative;
}
.message-wp.self .message-right .text{
    margin-top: 5px;
    background-color: #368bff;
    padding: 5px 10px;
    position: relative;
    color: #fff;
}
.message-right .text .icon{
    width: 0;
    height: 0;
    position: absolute;
    border-color: transparent #e7f5fe transparent transparent;
    border-width: 4px;
    border-style: solid;
    left: -8px;
    top: 9px;
}
.message-wp.self .message-right .text .icon{
    left: auto;
    right: -8px;
    border-color: transparent transparent transparent #368bff;
}
.message-input{
    resize: none;
    padding: 10px;
    margin-right: 15px;
    width: 89%;
    background-color: #e7f5fe;
    border: none;
}
.scanId-card-hint{
    background-color: #fff;
    border: 1px solid #ccc;
    position: absolute;
    padding: 20px 25px;
    width: 220px;
    top: -65px;
    right: -125px;
    z-index: 999;
    border-radius: 5px;
}
.scanId-card-hint .text{
    text-align: center;
    color: #1c1c1c;
}
.scanId-card-hint .icon1, .scanId-card-hint .icon2{
    width: 0;
    border-style: solid;
    position: absolute;
    left: 98px;
    top: 57px;
}
.scanId-card-hint .icon1{
    border-width: 10px;
    border-color: #fff transparent transparent;
    z-index: 5;
}
.scanId-card-hint .icon2{
    border-width: 11px;
    border-color: #ccc transparent transparent;
    left: 97px;
}
.icon-new{
    position: absolute;
    top: -11px;
    right: -20px;
    border-radius: 3px;
}
.login-logo-wp{
    margin: 20px 0;
}
.login-logo-wp:after{
    content: '';
    clear: both;
    display: block;
}
.login-logo-emblem{
    background-image: url(../views/images/qweasd.png);
    width: 48px;
    height: 48px;
    background-size: 48px;
    background-repeat: no-repeat;
    float: left;
}
.login-logo-text{
    font-size: 18px;
    font-family: '粗体';
    color: #E60012;
    font-weight: 900;
    float: left;
    line-height: 49px;
    margin-left: 5px;
}
.logo-content{
    margin: 7px 0 0 27px;
}
.logo-content .logo-content-img{
    width: 48px;
}
.logo-content .logo-content-text{
    color: #fff;
    font-size: 17px;
    font-weight: 900;
    line-height: 48px;
}
.high-meter-progress{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.high-meter-progress>div{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0px;
    margin-left: -250px;
}
.my97datePicker{
    height: 34px !important;
    background-color: #eee !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
}
.policeInfoBox{
    padding: 10px;
    border: 1px solid #4d4d4d;
    margin: 15px 32px;
    cursor: pointer;
    position: relative;
}
.policeInfoBox.active{
    border-color: #3BB878;
}
.policeInfoBox.normal{
    border-color: #4d4d4d;
}
.randomBox{
    width:400px;
    height:200px;
    position:fixed;
    left:50%;
    top:50%;
    margin-left: -200px;
    margin-top: -100px;
    background: #fff;
    border: 1px solid #000;
    z-index: 9999;
    text-align: center;
    border-radius: 3px;
}
.randomBox span{
    line-height: 120px;
}
.randomBox div{
    text-align: center;
}