<div class="role_management_d relative_top">
  <div class="row bg-default">
    <div class="col-xs-12 role_management_right_d">
      <div class="role_management_right_t_d">
        <div class="col-xs-7 role_management_right_t_l_d no-padding">
			<span class="h1_line" style="margin-top: 16px;"></span>
			<span class="ng-scope ng-binding">案件查询</span>
		</div>
        <div class="col-lg-4 col-xs-4 line-height40 margin-top-6">
          <div class="search_box">
            <input type="text" class="input-xs search_input" ng-model="queryData.conditionQuery"  placeholder="请输入流水号，当事人名称" >
            <i class="iconfont icon-sousuo input-search-img"></i>
          </div>
        </div>
        <div class="col-lg-1 col-xs-1 line-height40 no-padding margin-top-6">
          <button type="button" class="btn btn-brand mar-v-3" ng-click="searchData()">搜索</button>
        </div>
      </div>
      <div style="height: 0;" class="clear"></div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped-info table-hover table-fixed">
            <thead>
            <tr>
              <th class="col-xs-2">流水号</th>
              <th class="col-xs-2">当事人</th>
              <th class="col-xs-1">案件金额</th>
              <th class="col-xs-1">处理人</th>
              <th class="col-xs-2">创建时间</th>
              <th class="col-xs-2">状态</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="case in data.lawCaseList" >
              <td style="line-height: 35px;">
                <a class="cur-pointer ng-binding" ng-click="goCase(case)" title="点击查询详情">{{case.serialNo}}</a>
              </td>
              <td class="text_overflow" title="{{'索赔方: '+case.applicant.split('、').join('，')+'\r赔偿方: '+case.respondent.split('、').join('，')}}">
                <span><span>索赔方：</span>{{case.applicant && case.applicant != "null"? case.applicant.split('、').join('，'): "-"}}</span>
                <br/>
                <span><span>赔偿方：</span>{{case.respondent && case.respondent != "null"? case.respondent.split('、').join('，'): "-"}}</span>
              </td>
              <td style="line-height: 35px;">{{case.applyTotal |currency | valueNull1 }}</td>

              <td style="line-height: 35px;">{{case.createName|| "-"}}</td>

              <td style="line-height: 35px;">{{case.createDate | stringDate | date: 'yyyy-MM-dd' }}</td>

              <td style="line-height: 35px;">{{case.state == 1? '进行中': '已结束'}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="text-center"  ng-if="deleteIndexList.length != 0 ">
            <pagination previous-text="<" next-text=">" first-text="<<" last-text=">>" items-per-page="queryData.pageSize" class="pagination-custom" total-items="queryData.pageTotal" ng-model="queryData.pageNo" ng-change="pageChanged()" max-size="7" boundary-links="true" rotate="false"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>