<div class="bg-default ng-scope row" style="padding-bottom: 30px;">
    <div style="border: 1px solid #ddd;" class="bg-default module-box" style="padding-bottom: 10px;">
        <div class="nav-line-left">
            <h4 class="col-lg-8 col-xs-8" style="padding: 0 20px;margin: 0;">
                <i class="caseDetailIcon icon6"></i>
                伤者信息
            </h4>
        </div>
        <div class="module-content font-size13">
            <form role="form" class="form-horizontal form-input">
                <!--新增-->
                <div class="row clearfix" ng-if="co.stateParams.flag == 'injuryInfoFill' ">
                    <div class="col-xs-6 form-horizontal ng-pristine ng-invalid ng-invalid-required">
                        <div class="form-group col-xs-12">
                            <div class="col-lg-4 col-xs-4 text-right">
                                <label class=" control-label"><i>*</i> 姓名</label>
                            </div>
                            <div class="col-lg-8 col-xs-8" ng-class="{'has-error': police.ijuryPersonInfo.userNameError}">
                                <input type="text" maxlength="50" class="form-control ng-pristine ng-valid" ng-model="police.ijuryPersonInfo.userName" placeholder="请输入姓名">
                            </div>
                        </div>
                        <div class="col-xs-12 form-group form-group-sm">
                            <label class="col-xs-4 control-label">
                                <span class="Required">*</span>
                                <span>性别</span>
                            </label>
                            <div class="col-xs-8">
                                <div class="radio" style="padding-top: 0px;">
                                    <label>
                                        <input type="radio" ng-model="police.ijuryPersonInfo.sex" value="1" ng-checked="police.ijuryPersonInfo.sex == '1'">男
                                    </label>
                                    <label>
                                        <input type="radio" ng-model="police.ijuryPersonInfo.sex" value="0" ng-checked="police.ijuryPersonInfo.sex == '0'">女
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <div class="col-lg-4 col-xs-4 text-right">
                                <label class=" control-label"><i>*</i> 身份证号</label>
                            </div>
                            <div class="col-lg-8 col-xs-8" ng-class="{'has-error': police.ijuryPersonInfo.personCardError}">
                                <input type="text" maxlength="50" class="form-control ng-pristine ng-valid" ng-model="police.ijuryPersonInfo.personCard" ng-blur="checkIdentity(police.ijuryPersonInfo, false)" ng-change="changePersonCard(police.ijuryPersonInfo)" placeholder="请输入身份证号">
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <div class="col-lg-4 col-xs-4 text-right">
                                <label class=" control-label"><i>*</i> 年龄</label>
                            </div>
                            <div class="col-lg-8 col-xs-8" ng-class="{'has-error': police.ijuryPersonInfo.ageError}">
                                <input type="text" maxlength="3" class="form-control ng-pristine ng-valid" ng-model="police.ijuryPersonInfo.age" placeholder="请输入年龄">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6" style="margin-top: -10px;" ng-if="!co.stateParams.tableName">
                        <div class="col-lg-6" ng-class="{'z-index-img':police.ijuryPersonInfo.identityCardApic.indexOf(co.defaultImg)==-1}">
                            <div class="margin_top img_box_boder Front img_width">
                                <img style="height: 177px;" class="id_img" ng-src="{{police.ijuryPersonInfo.identityCardApic && police.ijuryPersonInfo.identityCardApic.indexOf(co.defaultImg)==-1&&police.ijuryPersonInfo.identityCardApic.indexOf(co.defaultImg2)==-1 ?imageAddress+police.ijuryPersonInfo.identityCardApic:co.defaultImg2}}" ngf-pattern="'image/*'" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" ngf-select="addEvidence($file, police.ijuryPersonInfo, 'face')" ng-click="checkflash()">
                                <div class="img_bottom_bar">
                                    <p><span>证件照身份证号面</span><i class="iconfont icon-iconfont19" ng-click="removeApplicantImage(police.ijuryPersonInfo, 'face', 'identityCardApic')"></i></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6"  ng-class="{'z-index-img':police.ijuryPersonInfo.identityCardBpic.indexOf(co.defaultImg)==-1}">
                            <div class=" margin_top img_box_boder Back img_width">
                                <img style="height: 177px;" class="id_img" ng-src="{{police.ijuryPersonInfo.identityCardBpic && police.ijuryPersonInfo.identityCardBpic.indexOf(co.defaultImg)==-1&&police.ijuryPersonInfo.identityCardBpic.indexOf(co.defaultImg3)==-1 ?imageAddress+police.ijuryPersonInfo.identityCardBpic:co.defaultImg3}}" ngf-pattern="'image/*'" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" ngf-select="addEvidence($file, police.ijuryPersonInfo, 'back')" ng-click="checkflash()">
                                <div class="img_bottom_bar">
                                    <p><span>证件照国徽面</span><i class="iconfont icon-iconfont19"  ng-click="removeApplicantImage(police.ijuryPersonInfo, 'back', 'identityCardBpic')"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6" style="margin-top: -10px;" ng-if="co.stateParams.tableName">
                        <div class="col-lg-6" ng-class="{'z-index-img':police.hospitalPersonInfo.identityCardApic.indexOf(co.defaultImg)==-1}">
                            <div class="margin_top img_box_boder Front img_width" style="width:247px">
                                <img style="height: 177px;" class="id_img" ng-src="{{police.hospitalPersonInfo.identityCardApic && police.hospitalPersonInfo.identityCardApic.indexOf(co.defaultImg)==-1&&police.hospitalPersonInfo.identityCardApic.indexOf(co.defaultImg2)==-1 ?imageAddress+police.hospitalPersonInfo.identityCardApic:co.defaultImg2}}" ng-click="zoomImage(police.hospitalPersonInfo.identityCardApic && police.hospitalPersonInfo.identityCardApic.indexOf(co.defaultImg)==-1&&police.hospitalPersonInfo.identityCardApic.indexOf(co.defaultImg2)==-1 ?bigPictureUrl+police.hospitalPersonInfo.identityCardApic:co.defaultImg2)">
                                <div class="img_bottom_bar">
                                    <p><span>证件照身份证号面</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6"  ng-class="{'z-index-img':police.hospitalPersonInfo.identityCardBpic.indexOf(co.defaultImg)==-1}">
                            <div class=" margin_top img_box_boder Back img_width" style="width:247px">
                                <img style="height: 177px;" class="id_img" ng-src="{{police.hospitalPersonInfo.identityCardBpic && police.hospitalPersonInfo.identityCardBpic.indexOf(co.defaultImg)==-1&&police.hospitalPersonInfo.identityCardBpic.indexOf(co.defaultImg3)==-1 ?imageAddress+police.hospitalPersonInfo.identityCardBpic:co.defaultImg3}}" ng-click="zoomImage(police.hospitalPersonInfo.identityCardBpic && police.hospitalPersonInfo.identityCardBpic.indexOf(co.defaultImg)==-1&&police.hospitalPersonInfo.identityCardBpic.indexOf(co.defaultImg3)==-1 ?bigPictureUrl+police.hospitalPersonInfo.identityCardBpic:co.defaultImg3)">
                                <div class="img_bottom_bar">
                                    <p><span>证件照国徽面</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <div class="col-lg-2 col-xs-2 text-right">
                            <label class=" control-label"><i>*</i> 户籍地</label>
                        </div>
                        <div class="col-lg-10 col-xs-10" ng-class="{'has-error': police.ijuryPersonInfo.placeDomicileError}">
                            <input type="text" maxlength="50" class="form-control ng-pristine ng-valid" ng-model="police.ijuryPersonInfo.placeDomicile" placeholder="请输入户籍地">
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <div class="col-lg-2 col-xs-2 text-right">
                            <label class=" control-label"><i>*</i> 实际居住地</label>
                        </div>
                        <div class="col-lg-10 col-xs-10" ng-class="{'has-error': police.ijuryPersonInfo.addressError}">
                            <input type="text" maxlength="50" class="form-control ng-pristine ng-valid" ng-model="police.ijuryPersonInfo.address" placeholder="请输入实际居住地">
                        </div>
                    </div>
                </div>
                <!--补录-->
                <div class="row clearfix" ng-if="co.stateParams.flag == 'injuryInfoSupplement' || stateParams.tableName">
                    <div class="col-xs-6 form-horizontal ng-pristine ng-invalid ng-invalid-required">
                        <div class="form-group col-xs-12" style="padding-bottom: 1px;">
                            <div class="col-xs-12 margin_top">
                                <div class="col-xs-4 text-right text-muted">姓名：</div>
                                <div class="col-xs-8 no-padding ng-binding">{{stateParams.tableName? police.ijuryPersonInfo.userName : police.policePersonInformation.userName}}</div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12" style="padding-bottom: 1px;">
                            <div class="col-xs-12 margin_top">
                                <div class="col-xs-4 text-right text-muted">性别：</div>
                                <div class="col-xs-8 no-padding ng-binding">{{stateParams.tableName?  (police.ijuryPersonInfo.sex == '1'? '男':'女') : (police.policePersonInformation.sex == '1'? '男':'女')}}</div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12" style="padding-bottom: 1px;">
                            <div class="col-xs-12 margin_top">
                                <div class="col-xs-4 text-right text-muted">身份证号：</div>
                                <div class="col-xs-8 no-padding ng-binding">{{stateParams.tableName? police.ijuryPersonInfo.personCard : police.policePersonInformation.personCard}}</div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12" style="padding-bottom: 1px;">
                            <div class="col-xs-12 margin_top">
                                <div class="col-xs-4 text-right text-muted">年龄：</div>
                                <div class="col-xs-8 no-padding ng-binding">{{stateParams.tableName? police.ijuryPersonInfo.age : police.policePersonInformation.age}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6" style="margin-top: -10px;" ng-if="!co.stateParams.tableName">
                        <div class="col-lg-6" ng-class="{'z-index-img':police.policePersonInformation.identityCardApic.indexOf(co.defaultImg)==-1}">
                            <div class="margin_top img_box_boder Front img_width">
                                <img style="height: 177px; cursor:pointer;" class="id_img" ng-src="{{police.policePersonInformation.identityCardApic && police.policePersonInformation.identityCardApic.indexOf(co.defaultImg)==-1&&police.policePersonInformation.identityCardApic.indexOf(co.defaultImg2)==-1 ?imageAddress+police.policePersonInformation.identityCardApic:co.defaultImg2}}" ng-click="zoomImage(police.policePersonInformation.identityCardApic && police.policePersonInformation.identityCardApic.indexOf(co.defaultImg)==-1&&police.policePersonInformation.identityCardApic.indexOf(co.defaultImg2)==-1 ?bigPictureUrl+police.policePersonInformation.identityCardApic:co.defaultImg2)">
                                <div class="img_bottom_bar">
                                    <p><span>证件照身份证号面</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6"  ng-class="{'z-index-img':police.policePersonInformation.identityCardBpic.indexOf(co.defaultImg)==-1}">
                            <div class=" margin_top img_box_boder Back img_width">
                                <img style="height: 177px; cursor:pointer;" class="id_img" ng-src="{{police.policePersonInformation.identityCardBpic && police.policePersonInformation.identityCardBpic.indexOf(co.defaultImg)==-1&&police.policePersonInformation.identityCardBpic.indexOf(co.defaultImg3)==-1 ?imageAddress+police.policePersonInformation.identityCardBpic:co.defaultImg3}}" ng-click="zoomImage(police.policePersonInformation.identityCardBpic && police.policePersonInformation.identityCardBpic.indexOf(co.defaultImg)==-1&&police.policePersonInformation.identityCardBpic.indexOf(co.defaultImg3)==-1 ?bigPictureUrl+police.policePersonInformation.identityCardBpic:co.defaultImg3)">
                                <div class="img_bottom_bar">
                                    <p><span>证件照国徽面</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6" style="margin-top: -10px;" ng-if="co.stateParams.tableName">
                        <div class="col-lg-5" ng-class="{'z-index-img':police.ijuryPersonInfo.identityCardApic.indexOf(co.defaultImg)==-1}">
                            <div class="margin_top img_box_boder Front img_width">
                                <img style="height: 177px; cursor:pointer;" class="id_img" ng-src="{{police.ijuryPersonInfo.identityCardApic && police.ijuryPersonInfo.identityCardApic.indexOf(co.defaultImg)==-1&&police.ijuryPersonInfo.identityCardApic.indexOf(co.defaultImg2)==-1 ?imageAddress+police.ijuryPersonInfo.identityCardApic:co.defaultImg2}}" ng-click="zoomImage(police.ijuryPersonInfo.identityCardApic && police.ijuryPersonInfo.identityCardApic.indexOf(co.defaultImg)==-1&&police.ijuryPersonInfo.identityCardApic.indexOf(co.defaultImg2)==-1 ?bigPictureUrl+police.ijuryPersonInfo.identityCardApic:co.defaultImg2)">
                                <div class="img_bottom_bar">
                                    <p><span>证件照身份证号面</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5"  ng-class="{'z-index-img':police.ijuryPersonInfo.identityCardBpic.indexOf(co.defaultImg)==-1}">
                            <div class=" margin_top img_box_boder Back img_width">
                                <img style="height: 177px; cursor:pointer;" class="id_img" ng-src="{{police.ijuryPersonInfo.identityCardBpic && police.ijuryPersonInfo.identityCardBpic.indexOf(co.defaultImg)==-1&&police.ijuryPersonInfo.identityCardBpic.indexOf(co.defaultImg3)==-1 ?imageAddress+police.ijuryPersonInfo.identityCardBpic:co.defaultImg3}}" ng-click="zoomImage(police.ijuryPersonInfo.identityCardBpic && police.ijuryPersonInfo.identityCardBpic.indexOf(co.defaultImg)==-1&&police.ijuryPersonInfo.identityCardBpic.indexOf(co.defaultImg3)==-1 ?bigPictureUrl+police.ijuryPersonInfo.identityCardBpic:co.defaultImg3)">
                                <div class="img_bottom_bar">
                                    <p><span>证件照国徽面</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-xs-12" style="padding-bottom: 1px;">
                        <div class="col-xs-12 margin_top">
                            <div class="col-xs-2 text-right text-muted">户籍地：</div>
                            <div class="col-xs-10 no-padding ng-binding">{{stateParams.tableName? police.ijuryPersonInfo.placeDomicile : police.policePersonInformation.placeOfDomicile}}</div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12" style="padding-bottom: 1px;">
                        <div class="col-xs-12 margin_top">
                            <div class="col-xs-2 text-right text-muted">实际居住地：</div>
                            <div class="col-xs-10 no-padding ng-binding">{{stateParams.tableName?police.ijuryPersonInfo.address : police.policePersonInformation.address}}</div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--工伤信息-->
    <div style="border: 1px solid #ddd;" class="module-box bg-default" style="padding-bottom: 10px;" ng-if="!stateParams.tableName">
        <div class="nav-line-left">
            <h4 class="col-lg-8 col-xs-8" style="padding: 0 20px;margin: 0;">
                <i class="caseDetailIcon icon8"></i>
                工伤信息
            </h4>
        </div>
        <div class="module-content font-size13">
            <form role="form" class="form-horizontal form-input">
                <div class="row clearfix ">
                    <div class="form-group col-xs-6" style="padding-bottom: 1px;">
                        <div class="col-xs-12 margin_top">
                            <div class="col-xs-4 text-right text-muted">主管部门：</div>
                            <div class="col-xs-8 no-padding ng-binding">{{co.stateParams.id? police.indMedInfo.indInjuryDep : userDepart.orgName}}</div>
                        </div>
                    </div>
                    <div class="form-group col-xs-6" style="padding-bottom: 1px;" ng-if="co.stateParams.flag == 'injuryInfoFill'">
                        <div class="col-xs-12 margin_top">
                            <div class="col-xs-4 text-right text-muted">关联状态：</div>
                            <div class="col-xs-8 no-padding ng-binding">{{police.indMedInfo.indRelationState == '1'? '已关联': '待关联'}}</div>
                        </div>
                    </div>
                    <div class="form-group col-xs-6" style="padding-bottom: 1px;" ng-if="co.stateParams.flag != 'injuryInfoFill'">
                        <div class="col-xs-12 margin_top">
                            <div class="col-xs-4 text-right text-muted">补充状态：</div>
                            <div class="col-xs-8 no-padding ng-binding">{{police.indMedInfo.sendType == '1'? '待补充': '已补充'}}</div>
                        </div>
                    </div>
                    <div class="form-group col-lg-6 col-xs-6 row clearfix" ng-if="co.stateParams.flag == 'injuryInfoSupplement'">
                        <label class="col-lg-4 col-xs-5 text-right  control-label"><i>*</i> 反馈时间</label>
                        <div class="col-lg-8 col-xs-7" ng-class="{'has-error':police.indMedInfo.sendDateError}">
                            <div class="input-group">
                                <input type="text" class="form-control form_datetime_2" max-date="today" datepicker-popup="yyyy-MM-dd" ng-readonly="true" ng-model="police.indMedInfo.sendDate" is-open="police.indMedInfo.sendDate1IsOpen" datepicker-options="{startingDay: 1}" close-text="关闭" clear-text="清除" current-text="今天"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openSendDate1($event, police.indMedInfo)" ng-disabled="police.indMedInfo.sendType == '2'"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-6 col-xs-6 row clearfix">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="col-lg-4 col-xs-5 text-right  control-label"><span class="Required">*</span> 是否符合工伤要求</label>
                                <div class="col-lg-8 col-xs-7" ng-class="{'has-error':police.indMedInfo.indPastMusterError}">
                                    <label class="radio-inline">
                                        <input type="radio" ng-model="police.indMedInfo.indPastMuster" value="1" ng-checked="police.indMedInfo.indPastMuster == '1'" ng-disabled="police.indMedInfo.sendType == '2'"> 符合
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" ng-model="police.indMedInfo.indPastMuster" value="0" ng-checked="police.indMedInfo.indPastMuster == '0'" ng-disabled="police.indMedInfo.sendType == '2'">不符合
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--医保信息-->
    <div style="border: 1px solid #ddd;" class="module-box bg-default" style="padding-bottom: 10px;" ng-if="!stateParams.tableName">
        <div class="nav-line-left">
            <h4 class="col-lg-8 col-xs-8" style="padding: 0 20px;margin: 0;">
                <i class="caseDetailIcon icon9"></i>
                医保信息
            </h4>
        </div>
        <div class="module-content font-size13">
            <form role="form" class="form-horizontal form-input">
                <div class="row clearfix ">
                    <div class="form-group col-lg-12 col-xs-12 row clearfix" style="margin-bottom: 0">
                        <div class="form-group col-xs-6" style="padding-bottom: 1px;">
                            <div class="col-xs-12 margin_top">
                                <div class="col-xs-4 text-right text-muted">主管部门：</div>
                                <div class="col-xs-8 no-padding ng-binding">{{co.stateParams.id? police.indMedInfo.medInsuranceDep : userDepart.orgName}}</div>
                            </div>
                        </div>
                        <div class="form-group col-xs-6" style="padding-bottom: 1px;" ng-if="co.stateParams.flag == 'injuryInfoFill'">
                            <div class="col-xs-12 margin_top">
                                <div class="col-xs-4 text-right text-muted">关联状态：</div>
                                <div class="col-xs-8 no-padding ng-binding">{{police.indMedInfo.medRelationState == '1'? '已关联': '待关联'}}</div>
                            </div>
                        </div>
                        <div class="form-group col-xs-6" style="padding-bottom: 1px;" ng-if="co.stateParams.flag != 'injuryInfoFill'">
                            <div class="col-xs-12 margin_top">
                                <div class="col-xs-4 text-right text-muted">补充状态：</div>
                                <div class="col-xs-8 no-padding ng-binding">{{police.indMedInfo.sendType == '1'? '待补充': '已补充'}}</div>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-xs-6 row clearfix" ng-if="co.stateParams.flag == 'injuryInfoSupplement'">
                            <label class="col-lg-4 col-xs-5 text-right  control-label"><i>*</i> 反馈时间</label>
                            <div class="col-lg-8 col-xs-7" ng-class="{'has-error':police.indMedInfo.sendDateError}">
                                <div class="input-group">
                                    <input type="text" class="form-control form_datetime_2" max-date="today" datepicker-popup="yyyy-MM-dd" ng-readonly="true" ng-model="police.indMedInfo.sendDate" is-open="police.indMedInfo.sendDate2IsOpen" datepicker-options="{startingDay: 1}" close-text="关闭" clear-text="清除" current-text="今天"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openSendDate2($event, police.indMedInfo)" ng-disabled="police.indMedInfo.sendType == '2'"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-xs-6 row clearfix">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="col-lg-4 col-xs-5 text-right  control-label"><span class="Required">*</span> 是否符合医保要求</label>
                                    <div class="col-lg-8 col-xs-7" ng-class="{'has-error':police.indMedInfo.medPastMusterError}">
                                        <label class="radio-inline">
                                            <input type="radio" ng-model="police.indMedInfo.medPastMuster" value="1" ng-checked="police.indMedInfo.medPastMuster == '1'" ng-disabled="police.indMedInfo.sendType == '2'">符合
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" ng-model="police.indMedInfo.medPastMuster" value="0" ng-checked="police.indMedInfo.medPastMuster == '0'" ng-disabled="police.indMedInfo.sendType == '2'">不符合
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--关联查看数据-->
    <div style="border: 1px solid #ddd;" class="module-box bg-default" style="padding-bottom: 10px;" ng-if="stateParams.tableName">
        <div class="nav-line-left">
            <h4 class="col-lg-8 col-xs-8" style="padding: 0 20px;margin: 0;">
                <i class="caseDetailIcon icon8"></i>
                工伤信息
            </h4>
        </div>
        <div class="module-content font-size13">
            <form role="form" class="form-horizontal form-input">
                <div class="row clearfix ">
                    <div class="form-group col-xs-6" style="padding-bottom: 1px;">
                        <div class="col-xs-12 margin_top">
                            <div class="col-xs-4 text-right text-muted">主管部门：</div>
                            <div class="col-xs-8 no-padding ng-binding">{{police.indMedInfo.indInjuryDep}}</div>
                        </div>
                    </div>
                    <div class="form-group col-xs-6" style="padding-bottom: 1px;">
                        <div class="col-xs-12 margin_top">
                            <div class="col-xs-4 text-right text-muted">关联状态：</div>
                            <div class="col-xs-8 no-padding ng-binding">{{police.indMedInfo.indRelationState == '1'? '已关联':'待关联'}}</div>
                        </div>
                    </div>
                    <div class="form-group col-xs-6" style="padding-bottom: 1px;">
                        <div class="col-xs-12 margin_top">
                            <div class="col-xs-4 text-right text-muted">反馈时间：</div>
                            <div class="col-xs-8 no-padding ng-binding">{{police.indMedInfo.indRegisterTime | stringDate | date:'yyyy-MM-dd'}}</div>
                        </div>
                    </div>
                    <div class="form-group col-xs-6" style="padding-bottom: 1px;">
                        <div class="col-xs-12 margin_top">
                            <div class="col-xs-4 text-right text-muted">是否符合工伤要求：</div>
                            <div class="col-xs-8 no-padding ng-binding">{{police.indMedInfo.indPastMuster == '1'? '是':'否'}}</div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--医保信息-->
    <div style="border: 1px solid #ddd;" class="module-box bg-default" style="padding-bottom: 10px;" ng-if="stateParams.tableName">
        <div class="nav-line-left">
            <h4 class="col-lg-8 col-xs-8" style="padding: 0 20px;margin: 0;">
                <i class="caseDetailIcon icon9"></i>
                医保信息
            </h4>
        </div>
        <div class="module-content font-size13">
            <form role="form" class="form-horizontal form-input">
                <div class="row clearfix ">
                    <div class="form-group col-lg-12 col-xs-12 row clearfix" style="margin-bottom: 0">
                        <div class="form-group col-xs-6" style="padding-bottom: 1px;">
                            <div class="col-xs-12 margin_top">
                                <div class="col-xs-4 text-right text-muted">主管部门：</div>
                                <div class="col-xs-8 no-padding ng-binding">{{police.indMedInfo.medInsuranceDep}}</div>
                            </div>
                        </div>
                        <div class="form-group col-xs-6" style="padding-bottom: 1px;">
                            <div class="col-xs-12 margin_top">
                                <div class="col-xs-4 text-right text-muted">关联状态：</div>
                                <div class="col-xs-8 no-padding ng-binding">{{police.indMedInfo.medRelationState == '1'? '已关联': '待关联'}}</div>
                            </div>
                        </div>
                        <div class="form-group col-xs-6" style="padding-bottom: 1px;">
                            <div class="col-xs-12 margin_top">
                                <div class="col-xs-4 text-right text-muted">反馈时间：</div>
                                <div class="col-xs-8 no-padding ng-binding">{{police.indMedInfo.medRegisterTime | stringDate | date:'yyyy-MM-dd'}}</div>
                            </div>
                        </div>
                        <div class="form-group col-xs-6" style="padding-bottom: 1px;">
                            <div class="col-xs-12 margin_top">
                                <div class="col-xs-4 text-right text-muted">是否符合医保要求：</div>
                                <div class="col-xs-8 no-padding ng-binding">{{police.indMedInfo.medPastMuster == '1'? '是': '否'}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="big_img_box">
    <div class="big_img_box_bj"></div>
    <div class="big_img_box_img_box">
        <div id="big_img_box_img_f" style="position: absolute;">
            <div id="big_img_box_img_bar" style="width: 100%; height: 100%;" title="可以拖拽移动"></div>
            <img id="big_img_box_img" src="imgSrc">
        </div>
        <div class="big_img_box_bottom">
            <div class="big_img_box_bottom_bg"></div>
            <i class="iconfont icon-qiepian30" onclick="rotateImg();"></i>
            <i class="iconfont icon-iconfontfangda" onclick="enlargeimg();"></i>
            <i class="iconfont icon-iconfontsuoxiao" onclick="narrowimg();"></i>
        </div>
        <i class="iconfont icon--tingqiantiaojieduihao-Xhao" onclick="hideImg();"></i>
        <i class="iconfont icon-zuoyoujiantou-copy-copy-copy" onclick="leftImg();"></i>
        <i class="iconfont icon-zuoyoujiantou-copy-copy" onclick="rightImg();"></i>
    </div>
</div>
<script type="text/javascript">
  var oBox = document.getElementById("big_img_box_img_f");
  var oBar = document.getElementById("big_img_box_img_bar");
  startDrag(oBar, oBox);
</script>

