<div class="role_management_d relative_top">
    <div class="row bg-default">
        <div class="col-xs-12 role_management_right_d">
            <div style="padding-bottom: 10px;">
                <h4 class="col-lg-4 col-xs-4">
                    <span class="h1_line"></span>
                    {{co.listTitle}}
                </h4>
                <div class="col-lg-5 col-xs-5">
                    <button ng-show="co.isAddBtnShow" type="button" class="btn btn-brand pull-right" style="margin-top: 6px;" ng-click="appendPolice(co.stateFlag)">
                        <span style="font-size: 12px;" class="glyphicon glyphicon-plus"></span>
                        新增
                    </button>
                </div>
                <div class="search_box col-lg-3 col-xs-3 margin-top-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="请输入认定书编号、人员姓名" ng-model="queryVO.searchText">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="initOrg(true)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="panel-body no-padding-v">
                <!--案件信息登记-->
                <table class="table table-striped-info table-hover table-fixed" ng-if="co.policeList.length > 0 && co.stateFlag == 'case'">
                    <thead>
                    <tr>
                        <th width="15%" >事故编号</th>
                        <th width="10%" >当事人</th>
                        <th width="20%" >事故时间</th>
                        <th width="15%" >事故地点</th>
                        <th width="10%" >事故类型</th>
                        <th width="15%" >时限提醒</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="police in co.policeList">
                        <td>
                            <label class="cur-pointer">
                                <a ng-click="handleCaseInfo(police)" title="点击查询详细" class="ng-binding">{{police.accidentCode}}</a>
                            </label>
                        </td>
                        <td>{{police.partyName}}</td>
                        <td>{{police.accidentTime | stringDate | date:'yyyy-MM-dd'}}</td>
                        <td>{{police.accidentPlace}}</td>
                        <td>{{police.accidentType | id2Text:accidentTypeList}}</td>
                        <td>{{police.timeLimRem}}</td>
                    </tr>
                    </tbody>
                </table>
                <!--鉴定信息列表-->
                <table class="table table-striped-info table-hover table-fixed" ng-if="co.policeList.length > 0 && co.stateFlag == 'inspect'">
                    <thead>
                        <tr>
                            <th width="15%" >事故编号</th>
                            <th width="10%" >当事人</th>
                            <th width="10%" >鉴定类型</th>
                            <th width="10%" >事故时间</th>
                            <th width="15%" >委托机构</th>
                            <th width="10%" >委托日期</th>
                            <th width="10%" >约定完成日期</th>
                            <th width="15%" >时限提醒</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="appraisal in co.policeList">
                            <td>
                                <label class="cur-pointer">
                                    <a ng-click="handleCaseInfo(appraisal)" title="点击查询详细" class="ng-binding">{{appraisal.accidentCode}}</a>
                                </label>
                            </td>
                            <td>{{appraisal.partyName}}</td>
                            <td  ng-if="appraisal.appraisalType=='0'">伤情鉴定</td>
                            <td  ng-if="appraisal.appraisalType=='1'">车辆技术鉴定</td>
                            <td  ng-if="appraisal.appraisalType=='2'">吸毒检测</td>
                            <td  ng-if="appraisal.appraisalType=='3'">酒精检测</td>
                            <td  ng-if="appraisal.appraisalType=='4'">其他鉴定</td>
                            <td  ng-if="appraisal.appraisalType==null"></td>
                            <td>{{appraisal.accidentTime | stringDate | date:'yyyy-MM-dd'}}</td>
                            <td>{{appraisal.appraisalOrgName}}</td>
                            <td>{{appraisal.entrustTime | stringDate | date:'yyyy-MM-dd'}}</td>
                            <td>{{appraisal.promiseTime | stringDate | date:'yyyy-MM-dd'}}</td>
                            <td>{{appraisal.timeLimRem}}</td>
                        </tr>
                    </tbody>
                </table>

                <!--保险信息填报-->
                <table class="table table-striped-info table-hover table-fixed" ng-if="co.policeList.length > 0 && co.stateFlag == 'insurance'">
                    <thead>
                        <tr>
                            <th width="15%" >事故编号</th>
                            <th width="10%" >当事人</th>
                            <th width="15%" >身份证号</th>
                            <th width="20%" >事故时间</th>
                            <th width="10%" >车牌号码</th>
                            <th width="10%" >险种名称</th>
                            <th width="20%" >发送补充时间</th>
                            <th width="20%" >补充状态</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="police in co.policeList">
                            <td>
                                <label class="cur-pointer">
                                    <a ng-click="handleCaseInfo(police)" title="点击查询详细" class="ng-binding">{{police.accidentCode}}</a>
                                </label>
                            </td>
                            <td>{{police.userName}}</td>
                            <td>{{police.personCard}}</td>
                            <td>{{police.accidentTime| stringDate | date:'yyyy-MM-dd'}}</td>
                            <td>{{police.palteNo}}</td>
                            <td>{{riskTypesMap['riskType'+police.riskTypes]}}</td>
                            <td>{{police.sendDate | stringDate | date:'yyyy-MM-dd'}}</td>
                            <td ng-show="police.sendState==1">未发送</td>
                            <td ng-show="police.sendState==2">已发送</td>
                            <td ng-show="police.sendState==3">已补录</td>
                            <td ng-show="police.sendState!=3&&police.sendState!=2&&police.sendState!=1"></td>
                        </tr>
                    </tbody>
                </table>

                <!--卫生部门信息填报-->
                <table class="table table-striped-info table-hover table-fixed" ng-if="co.policeList.length > 0 && co.stateFlag == 'healthInfoFill'">
                    <thead>
                    <tr>
                        <th width="10%" >当事人</th>
                        <th width="15%" >身份证号</th>
                        <th width="15%" >登记日期</th>
                        <th width="10%" >就医医院</th>
                        <th width="10%" >关联状态</th>
                        <th width="15%" >关联事故编号</th>
                        <th width="15%" >关联日期</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="health in co.policeList">
                        <td>
                            <label class="cur-pointer">
                                <a ng-click="handleCaseInfo(health)" title="点击查询详细" class="ng-binding">{{health.userName}}</a>
                            </label>
                        </td>
                        <td>{{health.personCard}}</td>
                        <td>{{health.createTime| stringDate | date:'yyyy-MM-dd'}}</td>
                        <td>{{health.hospital}}</td>
                        <td>{{health.relationState == '1'? '已关联' : '待关联'}}</td>
                        <td>{{health.accidentCode}}</td>
                        <td>{{health.relationDate| stringDate | date:'yyyy-MM-dd'}}</td>
                    </tr>
                    </tbody>
                </table>
                <!--卫生部门信息补录 登记-->
                <table class="table table-striped-info table-hover table-fixed" ng-if="co.policeList.length > 0 && co.stateFlag == 'healthInfoSupplement'">
                    <thead>
                    <tr>
                        <th width="10%" >当事人</th>
                        <th width="15%" >身份证号</th>
                        <th width="15%" >事故编号</th>
                        <th width="10%" >事故时间</th>
                        <th width="10%" >就医医院</th>
                        <th width="15%" >发送补充时间</th>
                        <th width="15%" >补充状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="health in co.policeList">
                        <td>
                            <label class="cur-pointer">
                                <a ng-click="handleCaseInfo(health)" title="点击查询详细" class="ng-binding">{{health.userName}}</a>
                            </label>
                        </td>
                        <td>{{health.personCard}}</td>
                        <td>{{health.accidentCode}}</td>
                        <td>{{health.accidentTime| stringDate | date:'yyyy-MM-dd'}}</td>
                        <td>{{health.hospital}}</td>
                        <td>{{health.sendDate| stringDate | date:'yyyy-MM-dd'}}</td>
                        <td>{{health.sendType=='1'? '待补充' : '已补充'}}</td>
                    </tr>
                    </tbody>
                </table>
                <!--工伤医保信息填报-->
                <table class="table table-striped-info table-hover table-fixed" ng-if="co.policeList.length > 0 && co.stateFlag == 'injuryInfoFill'">
                    <thead>
                    <tr>
                        <th width="10%" >当事人</th>
                        <th width="15%" >身份证号</th>
                        <th width="10%" >登记日期</th>
                        <th width="10%" >主管部门</th>
                        <th width="10%" >是否符合工伤要求</th>
                        <th width="10%" >是否符合医保要求</th>
                        <th width="10%" >关联状态</th>
                        <th width="15%" >关联事故编号</th>
                        <th width="10%" >关联日期</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="indMedInfo in co.policeList">
                        <td>
                            <label class="cur-pointer">
                                <a ng-click="handleCaseInfo(indMedInfo)" title="点击查询详细" class="ng-binding">{{indMedInfo.userName}}</a>
                            </label>
                        </td>
                        <td>{{indMedInfo.personCard}}</td>
                        <td>{{indMedInfo.createTime| stringDate | date:'yyyy-MM-dd'}}</td>
                        <td>{{indMedInfo.indInjuryDep}}</td>
                        <td>{{indMedInfo.indPastMuster == '1'? '符合': '不符合'}}</td>
                        <td>{{indMedInfo.medPastMuster == '1'? '符合': '不符合'}}</td>
                        <td>{{indMedInfo.indRelationState==1?'已关联':'待关联'}}</td>
                        <td>{{indMedInfo.accidentCode}}</td>
                        <td>{{indMedInfo.relationDate| stringDate | date:'yyyy-MM-dd'}}</td>
                    </tr>
                    </tbody>
                </table>

                <!--工伤医保信息补录  登记-->
                <table class="table table-striped-info table-hover table-fixed" ng-if="co.policeList.length > 0 && co.stateFlag == 'injuryInfoSupplement'">
                    <thead>
                    <tr>
                        <th width="10%" >当事人</th>
                        <th width="15%" >身份证号</th>
                        <th width="10%" >事故编号</th>
                        <th width="10%" >事故时间</th>
                        <th width="10%" >主管部门</th>
                        <th width="10%" >是否符合工伤要求</th>
                        <th width="10%" >是否符合医保要求</th>
                        <th width="15%" >发送补充时间</th>
                        <th width="10%" >补充状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="indMedInfo in co.policeList">
                        <td>
                            <label class="cur-pointer">
                                <a ng-click="handleCaseInfo(indMedInfo)" title="点击查询详细" class="ng-binding">{{indMedInfo.userName}}</a>
                            </label>
                        </td>
                        <td>{{indMedInfo.personCard}}</td>
                        <td>{{indMedInfo.accidentCode}}</td>
                        <td>{{indMedInfo.accidentTime| stringDate | date:'yyyy-MM-dd'}}</td>
                        <td>{{indMedInfo.indInjuryDep}}</td>
                        <td>{{indMedInfo.indPastMuster=='0'?'否':'是'}}</td>
                        <td>{{indMedInfo.medPastMuster=='0'?'否':'是'}}</td>
                        <td>{{indMedInfo.sendDate| stringDate | date:'yyyy-MM-dd'}}</td>
                        <td>{{indMedInfo.sendType == '1'? '待补充':'已补充'}}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-center" ng-if="co.policeList.length == 0" style="padding: 20px 0">
                    <img src="views/images/search_null.png" ><br>
                    抱歉，未找到相关内容！
                </div>
                <div class="text-center" ng-if="co.policeList.length != 0 ">
                    <pagination previous-text="<" next-text=">" first-text="<<" last-text=">>" items-per-page="queryVO.pageSize" class="pagination-custom" total-items="queryVO.pageTotal" ng-model="queryVO.pageNo" ng-change="initOrg()" max-size="7" boundary-links="true" rotate="false"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>