<div class="role_management_d relative_top">
    <div class="row bg-default">
        <div class="col-xs-12 role_management_right_d">
            <div class="role_management_right_t_d">
                <div class="col-xs-7 role_management_right_t_l_d no-padding">行业收入表</div>
                <div class="col-lg-4 col-xs-4 line-height40 margin-top-6">
                    <div class="search_box">
                        <input type="text" class="input-xs search_input" ng-model="tradeIncomeObj.searchText" placeholder="区域名称或行业名称">
                        <i class="iconfont icon-sousuo input-search-img"></i>
                    </div>
                </div>
                <div class="col-lg-1 col-xs-1 line-height40 no-padding margin-top-6">
                    <button type="button" class="btn btn-brand mar-v-3" ng-click="handleSearch()">搜索</button>
                </div>
                <div class="role_management_right_t_r_d" ng-click="handleModalShow()"><i class="iconfont icon-tianjia"></i>  新增</div>
            </div>
            <div class="clear"></div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover" style="text-align: center;">
                        <thead>
                        <tr>
                            <th width="30" style="text-align: center;">序号</th>
                            <th width="10%" style="text-align: center;">区域名称</th>
                            <th width="10%" style="text-align: center;">起始时间</th>
                            <th width="10%" style="text-align: center;">终止时间</th>
                            <!--<th width="10%" style="text-align: center;">行业类别代码</th>-->
                            <th width="12%" style="text-align: center;">行业类别名称</th>
                            <th width="15%" style="text-align: center;">具体行业名称</th>
                            <th width="12%" style="text-align: center;">平均年收入水平</th>
                            <th width="12%" style="text-align: center;">平均月收入水平</th>
                            <th width="10%" style="text-align: center;">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in tradeIncomeObj.dataList">
                            <td>{{$index+1}}</td>
                            <td>{{item.regionName}}</td>
                            <td>{{item.startDate | timeFormat}}</td>
                            <td>{{item.endDate | timeFormat}}</td>
                            <td>{{item.industryTypeName}}</td>
                            <td>{{item.industryName}}</td>
                            <td>{{item.yearIncome | moneyFormat}}</td>
                            <td>{{item.avgIncome | moneyFormat}}</td>
                            <td class="action_bar">
                                <i class="iconfont icon-bianji" ng-click="handleModalShow(item)"></i>
                                <i class="iconfont icon-iconfont19" ng-click="handleDelBtn(item)"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="text-center"  ng-if="pageData.showList.length != 0 ">
                        <pagination previous-text="<" next-text=">" first-text="<<" last-text=">>" items-per-page="pageObj.itemNum" class="pagination-custom" total-items="pageObj.totalPage" ng-model="pageObj.pageNo" ng-change="pageChanged()" max-size="7" boundary-links="true" rotate="false"></pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>