<div class="login-bg">
	<img class="login-bg-img" src="views/images/bg_dangshiren.jpg">
	<div class="heaer-back">
		<span ui-sref="home_page.homeContent">回到首页&nbsp;&nbsp;<i class="iconfont icon-iconset0416"></i></span>
	</div>
	<div class="register-box">
		<div class="tab-under" style="padding-right: 4%;">
			<div class="tab">忘记密码</div>
			<div style="float: right; line-height: 48px;">
				<a class="brand-color" ui-sref="litigantLogin({type:0})" ng-hide="(forgetStep == 2 && phoneOrEmail && !email)||(forgetStep == 2 && !phoneOrEmail && !mobile)">取消</a>
			</div>
			<div class="tab-right">已有账号，<a ui-sref="litigantLogin({type:0})" class="brand-color">去登录</a></div>
		</div>
		<div class="schedule">
			<div class="clearfix">
				<div class="step-circle" ng-class="{'circle-blue':forgetStep == 1,'circle-ok':forgetStep == 2 || forgetStep == 3}"><i>1</i>
					<span>确认账号</span>
				</div>
				<div class="step-line"></div>
				<div class="step-circle" ng-class="{'circle-line':forgetStep == 1,'circle-blue':forgetStep == 2,'circle-ok': forgetStep == 3 }"><i>2</i>
					<span>安全验证</span>
				</div>
				<div class="step-line"></div>
				<div class="step-circle"  ng-class="{'circle-line':forgetStep == 1||forgetStep == 2,'circle-blue':forgetStep == 3 }"><i>3</i>
					<span>重置密码</span>
				</div>
			</div>
		</div>

		<div ng-show="!emailComplete">
			<!--确认账号 表单-->
			<form class="form-horizontal row clearfix"  ng-show="forgetStep == 1">
				<div class="form-group">
					<label class="col-xs-3 control-label"><i>*</i>用户名</label>
					<div class="col-xs-6">
						<input type="text" ng-model="username" name="username" class="form-control" placeholder="请输入用户名" maxlength="22">
					</div>
					<span class="error-message" ng-bind="ErrorMessage"></span>
				</div>
				<div class="form-group">
					<label class="col-xs-3 control-label"><i>*</i>验证码</label>
					<div class="col-xs-4">
						<input type="text" ng-model="verificationCode" name="verificationCode" class="form-control" placeholder="请输入验码" maxlength="4">
					</div>
					<div class="col-xs-2 no-padding-l">
						<img class="veri-size" ng-src="{{chaptcha}}" ng-click="chaptcha_click()">
					</div>
					<span class="error-message" ng-bind="verificationCodeErrorMessage"></span>
				</div>


			</form>
			<!--安全验证 表单-->
			<form class="form-horizontal row clearfix" ng-show="forgetStep == 2">
				<div class="form-group clearfix">
					<label class="col-xs-3 control-label"><i>*</i>验证方式</label>
					<div class="col-xs-6">
						<div class="forget-tab" ng-class="{'forget-tab-active': phoneOrEmail == 0}" ng-click="phoneOrEmail = 0">
							<i class="iconfont icon-shouji font20"></i>手机方式验证
							<div class="sj"></div>
						</div>
						<div class="forget-tab" ng-class="{'forget-tab-active': phoneOrEmail == 1}" ng-click="phoneOrEmail = 1">
							<i class="iconfont icon-youxiang1 font20"></i>邮箱方式验证
							<div class="sj"></div>
						</div>
					</div>
				</div>
				<div class="email-box" ng-show="phoneOrEmail">
					<div class="form-group" ng-show="email">
						<label class="control-label col-xs-3 "><i>*</i>已绑定的邮箱</label>
						<div class="col-xs-6 ">
							<input type="email" id="email" ng-model="email" class="form-control"  placeholder="请输入已绑定邮箱" readonly>
						</div>
					</div>
					<div class="col-xs-offset-3 col-xs-6 line-height40 error-color"  ng-show="!email">未绑定邮箱，请通过其他方式找回</div>
				</div>
				<div class="phone-box"  ng-show="!phoneOrEmail">
					<div ng-show="mobile">
						<div class="form-group">
							<label class="control-label col-xs-3"><i>*</i>已绑定的手机</label>
							<div class="col-xs-6">
								<div class="input-group">
									<span class="input-group-addon">+86</span>
									<input type="text" id="mobile" ng-model="mobile" class="form-control"  placeholder="手机号"  readonly>
								</div>
							</div>

						</div>
						<div class="form-group">
							<label class="control-label col-xs-3"><i>*</i>验证码</label>
							<div class="col-xs-6">
								<div class="input-group">
									<input type="text" ng-model="mobileCode" name="mobileCode" class="form-control" placeholder="输入验证码" maxlength="6">
									<span class="input-group-addon cur-pointer" ng-show="!codeTime"  ng-click="getMobileCode()">获取验证码</span>
									<span class="input-group-addon cur-pointer" ng-show="codeTime">{{codeTime}}</span>
								</div>
							</div>
							<span class="error-message" ng-bind="iponeMessageCodeError"></span>
						</div>
					</div>

					<div class="col-xs-offset-3 col-xs-6 line-height40 error-color"  ng-show="!mobile">未绑定手机号，请通过其他方式找回</div>
				</div>
				<div class="sv_bottom_p">如果手机号和邮箱无法使用，请拨打电话<span class="brand-color">4006180508</span></div>
			</form>
			<!--重置密码 表单-->
			<form class="form-horizontal" ng-show="forgetStep == 3">
				<div class="form-group">
					<label class="control-label col-xs-3"><i>*</i>新密码</label>
					<div class="col-xs-6">
						<input type="password" name="newPassword" ng-model="newPassword" class="form-control "  minlength="6" maxlength="16" placeholder="输入新密码">
					</div>
					<span class="error-message" ng-bind="iponeMessagePasswordError"></span>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-3"><i>*</i>确认新密码</label>
					<div class="col-xs-6">
						<input type="password" name="confirmPassword" ng-model="confirmPassword" class="form-control"  minlength="6"  maxlength="16" placeholder="再次输入密码">
					</div>
					<span class="error-message" ng-bind="iponeMessagePasswordErrorNew"></span>
				</div>
			</form>
			<!-- 下一步-->
			<div class="forget-btn-group">
				<div class="col-xs-3"></div>
				<div class="col-xs-6 no-padding" ng-show="forgetStep == 1 || ( forgetStep == 2 &&((phoneOrEmail && email)|| (!phoneOrEmail && mobile)))">
					<button class="btn btn-brand btn-step" ng-click="nextStep()">下一步</button>
				</div>
				<div class="col-xs-6 no-padding" ng-show="forgetStep == 3">
					<button class="btn btn-brand btn-step" ng-click="modifyPassword()">确认修改</button>
				</div>
			</div>
		</div>
	</div>
</div>