<div class="login-bg" style="background:#3e4184; left: 70px;" >
	<img class="login-bg-img" src="views/images/1(1).jpg">
	<div class="tjLogin_top">
		<span ui-sref="home_page.homeContent">回到首页&nbsp;&nbsp;<i class="iconfont icon-iconset0416"></i></span>
	</div>
	<div class="insuranceHospitalLogin_left_cont" style="width: 40%; ">
		<img src="views/images/img.png">
	</div>

	<div class="insuranceHospitalLoginbox">
		<div class="login-form">
			<form role="form" name="loginForm" ng-submit="submitForm()" novalidate>
				<div class="col-xs-12 Loginbox_bt">用户登录</div>
				<div class="form-group ">
					<div class="input-group" ng-class="{'has-error':isUsernameError}">
						<span class="input-group-addon" style="background: transparent;"><i class="iconfont icon-yonghu font20 " style="color:#c4c1cd;"></i></span>
						<input type="text" name="username" ng-model="username" style="background: transparent;" minlength="3" maxlength="22" class="form-control form-con-h hospitallInput"  placeholder="{{loginTip}}" required>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group" ng-class="{'has-error':isPasswordError}">
						<span class="input-group-addon" style="background: transparent;"><i class="iconfont icon-key font20 " style="color:#c4c1cd;"></i></span>
						<input type="password" name="password" ng-model="password" style="background: transparent;" class="form-control form-con-h hospitallInput" minlength="6" maxlength="16"   placeholder="输入密码" required >
					</div>
				</div>
				<div class="form-group" ng-show="showVeriCode">
					<div class="input-group veri-code">
					<span class="input-group-addon" style="background: transparent;">
						<i class="iconfont icon-yanzhengma font20" style="color:#c4c1cd;"></i>
					</span>
						<input type="text" name="verificationCode" style="background: transparent;" ng-model="verificationCode" class="form-control form-con-h" maxlength="4" placeholder="输入验证码" >
					</div>
					<div class="veri-code-img" style="top:174px; right:40px; width: 82px;">
						<img class="veri-size" style="height: 40px; width: 82px; margin-left:0px;" ng-src="{{chaptcha}}" ng-click="chaptchaClick()">
					</div>
				</div>
				<div class="error-message"  ng-bind="errorMessage"></div>
				<!--<div class="forget-password">
					<a ui-sref="forget_password" class="brand-color" style="font-size: 14px;">忘记密码?</a>
				</div>-->
				<button class="login-submit" type="submit" value="登录">登录</button>
				<!--<div class="login-go-register">还没有账号，
					<a ui-sref="register">立即注册</a>
				</div>-->
			</form>
		</div>
	</div>
</div>