<div class="login-bg">
	<img class="login-bg-img" src="views/images/bg_dangshiren.jpg">
	<div class="heaer-back">
		<span ui-sref="home_page.homeContent">回到首页&nbsp;&nbsp;<i class="iconfont icon-iconset0416"></i></span>
	</div>
	<div class="register-box row">
		<div class="tab-under">
			<div class="tab">忘记密码</div>
			<div class="tab-right">已有账号，<a ui-sref="login" class="brand-color">去登录</a></div>
		</div>
		<i class="iconfont icon-duihao icon-complete"></i>
		<p class="register_succ_p">恭喜您，密码修改成功。</p>
		<p class="register_succ_p_l">您现在可以登录啦！</p>
		<a ui-sref="login"><div class="go-login">去登录</div></a>
	</div>
</div>