<style type="text/css">.form-group{margin-bottom: 20px;}</style>
<div id="step12Ctrl">
  <div class="applicant_cont_box background_color_d" id="{{'name' + applicant.hashIndex}}" ng-repeat="applicant in adjust.applicantArray | filter:{personType:co.step-1}" >
    <!-- 申请人标题-->
    <div  ng-bind=""></div>
    <div class="row background_color_d" style="padding-left: 15px; padding-right: 15px;">
      <div class="col-xs-12 boder_bottom padding_top_bottom" style="padding: 5px 0px;">
        <h4 class="col-xs-8" style="margin-left: -10px;"> <span class="h1_line"></span>
        <span ng-if="applicant.personType==0">{{co.lblApplicant}}信息</span>
        <span ng-if="applicant.personType==1">{{co.lblRespondent}}信息</span>
        </h4>
        <div class="pull-right" ng-click="co.removeApplicant(applicant)" ng-if="applicant.personType==0" style="color: #3F65D6; line-height: 40px; cursor: pointer; margin-right: 20px;">删除{{co.lblApplicant}}</div>
        <div class="pull-right" ng-click="co.removeApplicant(applicant)" ng-if="applicant.personType==1" style="color: #3F65D6; line-height: 40px; cursor: pointer; margin-right: 20px;">删除{{co.lblRespondent}}</div>
      </div>
    </div>
    <div class="row padding_top_bottom background_color_d" >
      <div class="col-xs-12">
        <label class="col-xs-2 text-right line_heght control-label" style="padding-right: 40px; font-size: 13px;">
          身份类型
        </label>
        <div class="col-xs-4">
          <div class="radio" style="margin-left: -22px;" >
            <label ng-repeat="idType in idTypeList" style="margin-right: 20px;">
              <input type="radio" ng-model="applicant.idType" ng-value="idType.id" ng-checked="idType.id == applicant.idType">{{idType.value}}
            </label>
          </div>
        </div>
        <div class="col-xs-6 text-right line_heght control-label" style="color:#666">温馨提示：请先上传证件照片，上传小于10M大小的图片</div>
      </div>
    </div>
    <!-- 公民显示内容 -->
    <div class="row show_cont background_color_d" ng-show="applicant.idType==0" style="overflow-x: hidden;">
      <div class="row">
        <form class="col-xs-6 form-horizontal" novalidate="">
          <div class="col-xs-12 form-group form-group-sm">
            <label class="col-xs-4 control-label" >
              <span class="Required">*</span>
              <span ng-if="applicant.personType == 0">{{co.lblApplicant}}姓名</span>
              <span ng-if="applicant.personType == 1">{{co.lblRespondent}}姓名</span>
            </label>
            <div class="col-xs-8" ng-class="{'has-error':applicant.personNameError}" >
              <input type="text" class="form-control" id="name" ng-model="applicant.personName" placeholder="请填写姓名" maxlength="15">
            </div>
          </div>
          <div class="col-xs-12 form-group form-group-sm">
            <label class="col-xs-4 control-label"><span class="Required" ng-if="applicant.personType == 0">*</span>证件类型</label>
            <div class="col-xs-8">
              <select class="form-control" ng-model="applicant.certificatesType" ng-options="x.id as x.value for x in certificatesTypeList"  ng-change="change_options(applicant,applicant.certificatesType,1)">
              </select>
            </div>
          </div>
          <div class="col-xs-12 form-group form-group-sm">
            <label class="col-xs-4 control-label"><span class="Required" ng-if="applicant.personType == 0">*</span>证件号码</label>
            <div class="col-xs-8" ng-class="{'has-error':applicant.idNoError}">
              <input type="text" class="form-control" ng-model="applicant.idNo" placeholder="请填写证件号码" ng-blur="checkIdentity(applicant, false)" maxlength="30">
            </div>
          </div>
          <div class="col-xs-12 form-group form-group-sm">
            <label class="col-xs-4 control-label">
              <span class="Required" ng-if="applicant.personType == 0">*</span>
              <span>性别</span>
            </label>
            <div class="col-xs-8">
              <div class="radio" style="padding-top: 0px;">
                <label>
                  <input type="radio" ng-model="applicant.sex" value="0" ng-checked >男
                </label>
                <label></label>
                <label>
                  <input type="radio" ng-model="applicant.sex" value="1">女
                </label>
              </div>
            </div>
          </div>
          <div class="col-xs-12 form-group form-group-sm">
            <label class="col-xs-4 control-label"><i ng-if="applicant.personType == 0">*</i>出生日期</label>
            <div class="col-xs-8" ng-class="{'has-error':applicant.birthDayError}">
              <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" show-button-bar="false" ng-model="applicant.birthDay" ng-readonly="true" is-open="applicant.calendarIsOpen" max-date="minDate" max-date="'2200-06-22'" datepicker-options="{startingDay: 1}" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default btn-default-padding" ng-click="openCalendar($event, applicant)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
            </div>
          </div>
          <div class="col-xs-12 form-group form-group-sm" style="margin-top: -10px;">
            <label class="col-xs-4 control-label"><span class="Required" ng-if="applicant.personType == 0">*</span>民 族</label>
            <div class="col-xs-8" ng-class="{'has-error':applicant.nationError}">
              <input type="text" class="form-control" ng-model="applicant.nation" placeholder="请填写民族" maxlength="4">
            </div>
          </div>
          <div class="col-xs-12 form-group form-group-sm">
            <label class="col-xs-4 control-label"><span class="Required" ng-if="applicant.personType == 0">*</span>电话号码</label>
            <div class="col-xs-8" ng-class="{'has-error':applicant.telephoneError}" style="position: relative;">
              <input type="text"  maxlength="20" class="form-control" ng-model="applicant.telephone" placeholder="请填写手机号或座机号(注：座机号无法接收短信)">
            </div>
          </div>
          <!--<div class="col-xs-12 form-group form-group-sm">
            <label class="col-xs-4 control-label">电子邮箱</label>
            <div class="col-xs-8" ng-class="{'has-error':applicant.emailError}">
              <input type="text" class="form-control" ng-model="applicant.email" placeholder="请填写电子邮箱" maxlength="30">
            </div>
          </div>-->
          <!--被申请人公民的情况填写-->
          <div ng-show="applicant.personType == 1">
            <div class="col-xs-12 form-group form-group-sm" >
              <label class="col-xs-4 control-label">{{co.lblRespondent}}车牌号</label>
              <div class="col-xs-8" ng-class="{'has-error':applicant.plateNoError}">
                <input type="text" class="form-control" ng-model="applicant.plateNo" placeholder="请填写{{co.lblRespondent}}车牌号" maxlength="20">
              </div>
            </div>
            <!--<div class="col-xs-12 form-group form-group-sm" >
              <label class="col-xs-4 control-label">承保保险公司</label>
              <div class="col-xs-8">
                <input type="text" class="form-control" ng-model="applicant.companyName" placeholder="请填写承保保险公司"  maxlength="30">
              </div>
            </div>
            <div class="col-xs-12 form-group form-group-sm" >
              <label class="col-xs-4 control-label">报案号</label>
              <div class="col-xs-7">
                <input type="text" class="form-control" ng-model="applicant.lossNo" placeholder="请填写报案号"  maxlength="30">
              </div>
              <div class="col-xs-1"><i class="iconfont icon-sousuo" style="margin-left: -10px; font-size: 20px; color: #3F65D6;"></i></div>
            </div>-->
          </div>

        </form>
        <div class="col-xs-6" style="margin-top: -10px;">
          <div class="col-lg-6" ng-class="{'z-index-img':applicant.idFacePicture.indexOf(co.defaultImg)==-1}">
            <div class="margin_top img_box_boder Front img_width">
              <img class="id_img" ng-src="{{applicant.idFacePicture.indexOf(co.defaultImg)==-1&&applicant.idFacePicture.indexOf(co.defaultImg2)==-1 ?imageAddress+applicant.idFacePicture:applicant.idFacePicture}}" ngf-pattern="'image/*'" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" ngf-select="uploadImage($file, applicant, 'face')" ng-click="checkflash()">
              <div class="img_bottom_bar">

                <p>
                    <span ng-if="applicant.certificatesType==0">证件照身份证号面</span><span ng-if="applicant.certificatesType!=0">{{applicant.certificatesType|certificatesTypeToText:certificatesTypeList}}正面</span>
                  <i class="iconfont icon-iconfont19" ng-click="removeApplicantImage(applicant, 'face')"></i>
                  <i class=" iconfont icon-sousuo" ng-click="zoomImage(applicant.idFacePicture.indexOf(co.defaultImg)==-1&&applicant.idFacePicture.indexOf('7.png')==-1 ?bigPictureUrl+applicant.idFacePicture:applicant.idFacePicture)"></i>

                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6"  ng-class="{'z-index-img':applicant.idBackPicture.indexOf(co.defaultImg)==-1}">
            <div class=" margin_top img_box_boder Back img_width">
              <img class="id_img" ng-src="{{applicant.idBackPicture.indexOf(co.defaultImg)==-1&&applicant.idBackPicture.indexOf(co.defaultImg3)==-1 ?imageAddress+applicant.idBackPicture:applicant.idBackPicture}}" ngf-pattern="'image/*'" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" ngf-select="uploadImage($file, applicant, 'back')" ng-click="checkflash()">
              <div class="img_bottom_bar">
                <p>
                  <span ng-if="applicant.certificatesType==0">证件照国徽面</span><span ng-if="applicant.certificatesType!=0">{{applicant.certificatesType|certificatesTypeToText:certificatesTypeList}}反面</span>
                  <i class="iconfont icon-iconfont19"  ng-click="removeApplicantImage(applicant, 'back')"></i>
                  <i class=" iconfont icon-sousuo" ng-click="zoomImage(applicant.idBackPicture.indexOf(co.defaultImg)==-1&&applicant.idBackPicture.indexOf('6.png')==-1 ?bigPictureUrl+applicant.idBackPicture:applicant.idBackPicture)"></i>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <form class="form-horizontal" style="overflow: hidden;">
          <div class="form-group form-group-sm">
            <label class="col-xs-2 control-label padding-right-10"><span class="Required" ng-if="applicant.personType == 0">*</span>户籍所在地</label>
            <div class="col-xs-6" ng-class="{'has-error':applicant.domicileError}">
              <input type="text" class="form-control margin-left-5" ng-model="applicant.domicile" placeholder="请填写户籍所在地"  maxlength="50">
            </div>
          </div>
          <div class="form-group form-group-sm">
            <label class="col-xs-2 control-label padding-right-10">
              <span class="Required" ng-if="applicant.personType == 0">*</span>居住地
            </label>
            <div class="col-xs-6" ng-class="{'has-error':applicant.residenceError}">
              <input type="text" class="form-control margin-left-5" ng-model="applicant.residence" placeholder="请填写居住地"  maxlength="50">
            </div>
            <div class="col-xs-4 checkbox ">
              <label>
                <input type="checkbox" ng-model="applicant.isLive" ng-checked="applicant.isLive"> 连续居住已满一年
              </label>
            </div>
          </div>
          <div class="form-group form-group-sm" >
            <label class="col-xs-2 control-label padding-right-10"><span class="Required" ng-if="applicant.personType == 0">*</span>送达地址</label>
            <div class="col-xs-9" ng-class="{'has-error':applicant.sendAddressError}">
              <input type="text" class="form-control margin-left-5" ng-model="applicant.sendAddress" placeholder="请填写送达地址"  maxlength="100">
            </div>
          </div>




          <div class="col-xs-12 form-group form-group-sm" ng-show="userDepart.isPassDocument =='0' || userDepart.isEndDocument =='0' ">
            <label class="col-xs-2 control-label"><span class="Required" ng-if="applicant.personType == 0">*</span>是否电子送达</label>
            <div class="col-xs-10" ng-class="{'has-error':applicant.isEmailError}">
              <div class="radio col-xs-1" style="margin-left: -14px;">
                <label>
                  <input type="radio" name="isEmail" value="0" ng-model="applicant.isEmail" ng-checked="applicant.isEmail == '0'">是
                </label>
              </div>
              <div class="radio col-xs-1" style="margin-left: -14px;">
                <label>
                  <input type="radio" name="isEmail" value="1" ng-model="applicant.isEmail" ng-checked="applicant.isEmail == '1'">否
                </label>
              </div>
            </div>
          </div>

          <div ng-if="applicant.personType == 0">
            <label class="col-xs-2 control-label"><span class="Required">*</span>是否死亡</label>
            <div class="col-xs-10">
              <div class="radio col-xs-1" style="margin-left: -14px;">
                <label>
                  <input type="radio" value="1" ng-model="applicant.isDeath">是
                </label>
              </div>
              <div class="radio col-xs-1" style="margin-left: -14px;">
                <label>
                  <input type="radio"  value="2" ng-model="applicant.isDeath">否
                </label>
              </div>
            </div>
          </div>
          <!--<div class="form-group form-group-sm" ng-show="applicant.email || applicant.isEmail == '0'">
            <label class="col-xs-2 control-label padding-right-10"><span class="Required">*</span>电子邮箱地址</label>
            <div class="col-xs-9" ng-class="{'has-error':applicant.emailError}">
              <input type="text" class="form-control margin-left-5" ng-model="applicant.email" placeholder="请填写电子邮箱地址">
            </div>
          </div>-->
        </form>
      </div>
    </div>
    <!-- 公民显示内容 -->
    <!-- 法人显示内容 -->
    <!--法人和其他组织一个VIEW，通过控制进行处理相应的字段-->
    <div class="row show_cont background_color_d" ng-show="applicant.idType==1 || applicant.idType==2"  style="overflow-x: hidden;">
      <div class="row">
        <form class="col-xs-6 form-horizontal">
          <div class="col-xs-12 form-group form-group-sm" ng-show="applicant.personType == 1 && applicant.idType == 1">
            <label class="col-xs-4 control-label">类型</label>
            <div class="col-xs-8">
              <div class="row radio col-xs-6" ng-repeat="companyType in companyTypeList">
                <label>
                  <input type="radio" ng-model="applicant.enterpriseType" ng-value="companyType.id" >{{companyType.value}}
                </label>
              </div>
            </div>
          </div>
          <div class="col-xs-12 form-group form-group-sm">
            <label class="col-xs-4 control-label">
              <span class="Required">*</span>
              <span ng-show="applicant.idType==1">企业名称</span>
              <span ng-show="applicant.idType==2">组织名称</span>
            </label>
            <div class="col-xs-8" ng-class="{'has-error':applicant.orgNameError}">
              <input type="text" class="form-control" ng-model="applicant.orgName" placeholder="请填写名称"  maxlength="50">
            </div>
          </div>
          <!--如果为被申请人并且为法人的判断-->
          <div ng-show="applicant.personType == 1 && applicant.idType == 1">
            <!--如果类型为保险公司-->
            <div ng-show="applicant.enterpriseType == 1">
              <div class="col-xs-12 form-group form-group-sm" >
                <label class="col-xs-4 control-label">总公司</label>
                <div class="col-xs-8" style="position: relative;">
                  <input type="text" class="form-control" ng-focus="insuranceFocus()" ng-blur="blurInsurance()" ng-model="applicant.companyName" placeholder="请填写承保保险公司" readonly maxlength="50">
                  <ul class="select_border position_ul" ng-show="insuranceShow">
                    <li ng-repeat="x in insuranceList" id = "x.id" ng-click="selectItems(applicant, x)">{{x.text}}</li>
                  </ul>
                </div>
              </div>
              <div class="col-xs-12 form-group form-group-sm " >
                <div class="col-xs-8 col-xs-offset-4 company_box">
                  <span class="select_company" ng-click="selectCompanyPopup = true">选择常用保险公司</span> | <span class="select_company" ng-click="saveInsurance(applicant, '1')">保存到常用保险公司</span>
                  <div class="row select_company_popup" ng-show="selectCompanyPopup">
                    <div class="col-xs-12 ">
                      <div class="col-xs-4 mar-top-10"><h4>选择常用保险公司</h4></div>
                      <div class="col-xs-1 pull-right  line-height-34 no-padding"><i class="iconfont icon-guanbi pull-right" ng-click="selectCompanyPopup = false"></i></div>
                      <div class="col-xs-7 margin_top pull-right">
                        <div class="input-group col-xs-12">
                          <input type="text" class="form-control" placeholder="请输入关键字搜索" ng-model="commonCompany.searchName" >
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 select_company_popup_box" style="max-height:114px; overflow: auto">
                      <div class="col-xs-12 radio" ng-repeat="x in commonInsuranceList | filter:{headOffice:commonCompany.searchName, type:'1'}" style="overflow: hidden; height: 25px;">
                        <label>
                          <input type="radio" ng-model="applicant.commonInsurance" value="{{x.id}}" ng-checked="applicant.commonInsurance == x.id">{{x.headOffice}} | {{x.companyName}} | {{x.legalName}} | {{x.telephone}}
                        </label>
                      </div>
                    </div>
                    <div class="col-xs-12" style="margin-bottom: 10px;">
                      <button type="button" class="btn btn-brand pull-right" ng-click="selectCommonInsurance(applicant, 1);selectCompanyPopup=false">确定</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 form-group form-group-sm" >
                <label class="col-xs-4 control-label">报案号</label>
                <div class="col-xs-7">
                  <input type="text" class="form-control" ng-model="applicant.lossNo" placeholder="请填写报案号"  maxlength="30">
                </div>
                <!--<div class="col-xs-1"><i class="iconfont icon-sousuo" style="margin-left: -10px; font-size: 20px; color: #3F65D6;"></i></div>-->
                <div class="col-xs-1"><i class="iconfont icon-sousuo" style="margin-left: -10px; font-size: 20px; color: #3F65D6;" ng-click="queryPeopleInjured(applicant)"></i></div>
              </div>
            </div>
            <div ng-show="applicant.enterpriseType == 2">
              <div class="col-xs-12 form-group form-group-sm " >
                <div class="col-xs-8 col-xs-offset-4 company_box">
                  <span class="select_company" ng-click="commonCompanyPopup = true">选择常用公司</span> | <span class="select_company" ng-click="saveInsurance(applicant, '2')">保存到常用公司</span>
                  <div class="row select_company_popup" ng-show="commonCompanyPopup">
                    <div class="col-xs-12 ">
                      <div class="col-xs-4 mar-top-10"><h4>选择常用公司</h4></div>
                      <div class="col-xs-1 pull-right  line-height-34 no-padding"><i class="iconfont icon-guanbi pull-right" ng-click="commonCompanyPopup = false"></i></div>
                      <div class="col-xs-7 margin_top pull-right">
                        <div class="input-group col-xs-12">
                          <input type="text" class="form-control" placeholder="请输入关键字搜索" ng-model="commonCompany.searchName" >
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 select_company_popup_box" style="max-height:114px; overflow: auto">
                      <div class="col-xs-12 radio" ng-repeat="x in commonInsuranceList | filter:{companyName:commonCompany.searchName, type:'2'}" style="overflow: hidden; height: 25px;">
                        <label>
                          <input type="radio" ng-model="applicant.commonCompany" value="{{x.id}}" ng-checked="applicant.commonCompany == x.id">{{x.companyName}} | {{x.legalName}} | {{x.telephone}}
                        </label>
                      </div>
                    </div>
                    <div class="col-xs-12" style="margin-bottom: 10px;">
                      <button type="button" class="btn btn-brand pull-right" ng-click="selectCommonInsurance(applicant, 2);commonCompanyPopup=false">确定</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 form-group form-group-sm">
            <label class="col-xs-4 control-label"><span class="Required" ng-if="applicant.personType == 0">*</span>代表人类型</label>
            <div class="col-xs-8">
              <div class="radio col-xs-6" ng-repeat="x in legalTypeArray" style="margin-left: -14px;">
                <label>
                  <input type="radio" ng-model="applicant.legalType" ng-value="x.id" ng-checked="x.id == applicant.legalType">{{x.value}}
                </label>
              </div>
            </div>
          </div>
          <div class="col-xs-12 form-group form-group-sm">
            <label class="col-xs-4 control-label"><span class="Required" ng-if="applicant.personType == 0">*</span>代表人姓名</label>
            <div class="col-xs-8" ng-class="{'has-error':applicant.legalNameError}">
              <input type="text" class="form-control" ng-model="applicant.legalName" placeholder="请填写代表人姓名"  maxlength="20">
            </div>
          </div>
          <div class="col-xs-12 form-group form-group-sm">
            <label class="col-xs-4 control-label"><span class="Required" ng-if="applicant.personType == 0">*</span>公司职务</label>
            <div class="col-xs-8" ng-class="{'has-error':applicant.jobError}">
              <input type="text" class="form-control" ng-model="applicant.job" placeholder="请填写公司职务"  maxlength="10">
            </div>
          </div>
          <div class="col-xs-12 form-group form-group-sm hide">
            <label class="col-xs-4 control-label">组织代码</label>
            <div class="col-xs-8">
              <input type="text" class="form-control" ng-model="applicant.orgCode" placeholder="请填写组织代码"  maxlength="20">
            </div>
          </div>
          <div class="col-xs-12 form-group form-group-sm" ng-show="applicant.idType==1">
            <label class="col-xs-4 control-label">工商注册号</label>
            <div class="col-xs-8">
              <input type="text" class="form-control" ng-model="applicant.registerCode" placeholder="请填写工商注册号"  maxlength="20">
            </div>
          </div>
          <div class="col-xs-12 form-group form-group-sm">
            <label class="col-xs-4 control-label"><span class="Required" ng-if="applicant.personType == 0">*</span>电话号码</label>
            <div class="col-xs-8" ng-class="{'has-error':applicant.telephoneError}" style="position: relative;">
              <input type="text" class="form-control" maxlength="20" ng-model="applicant.telephone" placeholder="请填写手机号或座机号(注：座机号无法接收短信)">
            </div>
          </div>
          <!--<div class="col-xs-12 form-group form-group-sm">
            <label class="col-xs-4 control-label">电子邮箱</label>
            <div class="col-xs-8" ng-class="{'has-error':applicant.emailError}">
              <input type="text" class="form-control" ng-model="applicant.email" placeholder="请填写电子邮箱"  maxlength="30">
            </div>
          </div>-->
          <!--为被申请人公民填写-->
          <div class="col-xs-12 form-group form-group-sm" ng-show="applicant.personType == 1">
            <label class="col-xs-4 control-label" ng-if="applicant.idType == 1 && applicant.enterpriseType == 1"><span class="Required" ng-if="applicant.personType == 0">*</span>承保车牌号</label>
            <label class="col-xs-4 control-label" ng-if="applicant.idType != 1 || applicant.enterpriseType == 2"><span class="Required" ng-if="applicant.personType == 0">*</span>{{co.lblRespondent}}车牌号</label>
            <div class="col-xs-8" ng-class="{'has-error':applicant.plateNoError}">
              <input type="text" id="plateNo" class="form-control" ng-model="applicant.plateNo" placeholder="请填写{{co.lblRespondent}}车牌号"  maxlength="20">
            </div>
          </div>
        </form>
        <!--法人有图片，其他组织没有图片-->
        <div class="col-xs-3 no-padding-r" ng-show="applicant.idType == 1" ng-class="{'z-index-img':applicant.businessLicensePicture.indexOf(co.defaultImg)==-1}">
          <div class="col-xs-12 " >
            <div class="margin_top img_box_boder Front">
              <img class="id_img" ng-src="{{applicant.businessLicensePicture.indexOf(co.defaultImg)==-1?imageAddress + applicant.businessLicensePicture:applicant.businessLicensePicture}}" ngf-pattern="'image/*'" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" ngf-select="uploadImage($file, applicant, 'business')"  ng-click="checkflash()">
              <div class="img_bottom_bar">
                <p>营业执照<i class="iconfont icon-iconfont19" ng-click="removeApplicantImage(applicant, 'business')"></i>
                  <i class=" iconfont icon-sousuo" ng-click="zoomImage(applicant.businessLicensePicture.indexOf(co.defaultImg)==-1?bigPictureUrl + applicant.businessLicensePicture:applicant.businessLicensePicture)"></i>
                </p>
              </div>
            </div>
          </div>
              </div>
              <div class="col-xs-3 no-padding-l" ng-show="applicant.idType == 1" ng-class="{'z-index-img':applicant.legalPersonPicture.indexOf(co.defaultImg)==-1}">
          <div class="col-xs-12">
            <div class=" margin_top img_box_boder Back">
              <img class="id_img" ng-src="{{applicant.legalPersonPicture.indexOf(co.defaultImg)==-1?imageAddress + applicant.legalPersonPicture:applicant.legalPersonPicture}}" ngf-pattern="'image/*'" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" ngf-select="uploadImage($file, applicant, 'legal')"  ng-click="checkflash()">
              <div class="img_bottom_bar">
                <p>法人代表情况说明<i class="iconfont icon-iconfont19" ng-click="removeApplicantImage(applicant, 'legal')"></i>
                  <i class=" iconfont icon-sousuo" ng-click="zoomImage(applicant.legalPersonPicture.indexOf(co.defaultImg)==-1?bigPictureUrl + applicant.legalPersonPicture:applicant.legalPersonPicture)"></i>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <form class="form-horizontal">
          <div class="form-group form-group-sm">
            <label class="col-xs-2 control-label padding-right-10"><span class="Required" ng-if="applicant.personType == 0">*</span>所住地址</label>
            <div class="col-xs-6" ng-class="{'has-error':applicant.residenceError}">
              <input type="text" class="form-control margin-left-5" ng-model="applicant.residence" placeholder="请填写地址"  maxlength="50">
            </div>
          </div>
          <div class="form-group form-group-sm">
            <label class="col-xs-2 control-label padding-right-10"><span class="Required" ng-if="applicant.personType == 0">*</span>送达地址</label>
            <div class="col-xs-9" ng-class="{'has-error':applicant.sendAddressError}">
              <input type="text" class="form-control margin-left-5" ng-model="applicant.sendAddress" placeholder="请填写送达地址"  maxlength="50">
            </div>
          </div>
          <div class="col-xs-12 form-group form-group-sm" ng-show="userDepart.isPassDocument =='0' || userDepart.isEndDocument =='0'">
            <label class="col-xs-2 control-label"><span class="Required" ng-if="applicant.personType == 0">*</span>是否电子送达</label>
            <div class="col-xs-10" ng-class="{'has-error':applicant.isEmailError}">
              <div class="radio col-xs-1" style="margin-left: -14px;">
                <label>
                  <input type="radio" name="isEmail" value="0" ng-change="clearEmail(applicant, '0')" ng-model="applicant.isEmail" ng-checked="applicant.isEmail == '0'">是
                </label>
              </div>
              <div class="radio col-xs-1" style="margin-left: -14px;">
                <label>
                  <input type="radio" name="isEmail" value="1" ng-change="clearEmail(applicant, '1')" ng-model="applicant.isEmail" ng-checked="applicant.isEmail == '1'">否
                </label>
              </div>
            </div>
          </div>
          <!--<div class="form-group form-group-sm" ng-show="applicant.email || applicant.isEmail == '0'">
            <label class="col-xs-2 control-label padding-right-10"><span class="Required">*</span>电子邮箱地址</label>
            <div class="col-xs-9" ng-class="{'has-error':applicant.emailError}">
              <input type="text" class="form-control margin-left-5" ng-model="applicant.email" placeholder="请填写电子邮箱地址">
            </div>
          </div>-->
        </form>
      </div>
    </div>
    <!-- 法人显示内容 -->
    <!-- 其他组织显示内容 -->
    <!-- 代理人 -->
    <div class="row agent_list clearfix" id="{{'name' + agent.hashIndex}}" ng-repeat="agent in applicant.agentArray" style="padding-left: 20px; padding-right: 20px;">
      <div class="col-xs-12 agent_list_e agent_list_bj" style="border-bottom: 1px dashed #b8b8b8;" ng-if="$index != 0"></div>
      <div class="col-xs-12 agent_list_e agent_list_bj">
        <div class="col-xs-12 padding_top_bottom ">
          <div class="col-xs-8">
            <div class="pull-left line_heght">
              代理人
            </div>
          </div>
          <div class="col-xs-4">
            <div class="pull-right" ng-click="co.removeAgent(applicant, agent)" style="color: #3F65D6; line-height: 40px; cursor: pointer;">删除代理人</div>
          </div>
        </div>
        <form class="form-horizontal">
          <div class="col-xs-12 form-group form-group-sm">
            <label class="col-xs-2 control-label">代理人类型</label>
            <div class="col-xs-2" ng-repeat="x in agentTypeList">
              <div class="radio">
                <label>
                  <input type="radio" name="AgentType" value="{{x.id}}" ng-model="agent.agentType" ng-checked="agent.agentType==x.id" ng-click="changeAgentType($event,agent)">{{x.text}}
                </label>
              </div>
            </div>
            <div class="col-xs-3 col-lg-2">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="agent.mainContacts" ng-checked="agent.mainContacts"> 主要联系人
                </label>
              </div>
            </div>
          </div>
          <div class="col-xs-12 form-group form-group-sm">
            <div class="col-xs-8 col-xs-offset-2 company_box">
              <span class="select_company" ng-click="commonAgent = true">选择常用代理人</span> | <span class="select_company" ng-click="saveCommonAgent(agent)">保存到常用代理人</span>
              <div class="row select_company_popup" ng-show="commonAgent">
                <div class="col-xs-12 ">
                  <div class="col-xs-4 mar-top-10"><h4>选择常用代理人</h4></div>
                  <div class="col-xs-1 pull-right  line-height-34 no-padding"><i class="iconfont icon-guanbi pull-right" ng-click="commonAgent = false"></i></div>
                  <div class="col-xs-7 margin_top pull-right">
                    <div class="input-group col-xs-12">
                      <input type="text" class="form-control" placeholder="请输入关键字搜索" ng-model="agent.searchName" >
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 select_company_popup_box" style="max-height:114px; overflow: auto">
                  <div class="col-xs-12 radio" ng-repeat="x in commonAgentList |  filter:{agentName:agent.searchName}" style="overflow: hidden; height: 25px;">
                    <label>
                      <input type="radio" ng-model="agent.commonAgent" value="{{x.id}}" ng-checked="agent.commonAgent == x.id">
                      {{x.agentName}}  |
                      <span ng-if="x.agentType == 0">{{ proxyTypeConstantList |agentIdentityFilter:x.agentIdentity }}</span>
                      <span ng-if="x.agentType == 1">法定</span>
                      | {{x.telephone}}
                    </label>
                    <a class=" pull-right" ng-click="deletCommonAgent(x);commonAgent=false">删除</a>
                  </div>
                </div>
                <div class="col-xs-12" style="margin-bottom: 10px;">
                  <button type="button" class="btn btn-brand pull-right" ng-click="selectCommonAgent(agent);commonAgent=false">确定</button>
                </div>
              </div>
            </div>
          </div>
          <!-- 代理人委托 -->
          <div ng-show="agent.agentType==0">
            <div class="col-xs-12 form-group form-group-sm">
              <label class="col-xs-2 control-label" >代理人身份</label>
              <div class="col-xs-2">
                <select class="form-control" ng-model="agent.agentIdentity" ng-change="changeIdentity(agent)" ng-options="x.id as x.value for x in proxyTypeConstantList">
                </select>
              </div>
              <div class="col-xs-2">
                <select class="form-control" ng-model="agent.agentIdentityItem" ng-show="agent.agentIdentity=='1'" ng-options="x.id as x.value for x in agentIdentifySubList">
                </select>
              </div>
              <div class="col-xs-6 form-group-sm" ng-show="agent.agentIdentityItem==1">
                <label class="col-xs-6 control-label"><span class="Required" ng-if="applicant.personType == 0">*</span>与当事人关系</label>
                <div class="col-xs-6 no-padding" ng-class="{'has-error':agent.relationError}">
                  <input type="text" class="form-control" ng-model="agent.relation" maxlength="30"/>
                </div>
              </div>
            </div>
            <div class="col-xs-12 form-group form-group-sm">
              <label class="col-xs-2 control-label" > <i ng-if="applicant.personType == 0">*</i>证件类型</label>
              <div class="col-xs-4">
                <select class="form-control" ng-model="agent.certificatesType" ng-options="x.id as x.value for x in certificatesTypeList" ng-change="change_options(agent,agent.certificatesType,2)">
                </select>
              </div>
              <label class="col-xs-2 control-label" style="padding-right: 25px;"><i ng-if="applicant.personType == 0">*</i>证件号码</label>
              <div class="col-xs-4" ng-class="{'has-error':agent.idNoError}">
                <input type="text" class="form-control" ng-model="agent.idNo" style="margin-left: -10px;" placeholder="请填写证件号码" ng-blur="checkIdentity(agent, true)"  maxlength="30">
              </div>
            </div>
            <div class="col-xs-12 form-group form-group-sm" ng-if="agent.agentIdentity==1">
              <label class="col-xs-2 control-label"><i ng-if="applicant.personType == 0">*</i>出生日期</label>
              <div class="col-xs-3">
                <p class="input-group">
                  <input  type="text" class="form-control" datepicker-popup="yyyy-MM-dd" show-button-bar="false" ng-readonly="true" ng-model="agent.birthDay" is-open="agent.calendarIsOpen" max-date="minDate" max-date="'2200-06-22'" datepicker-options="{startingDay: 1}" close-text="Close" />
                  <span class="input-group-btn">
                     <button  type="button" class="btn btn-default btn-default-padding" ng-click="openAgentCalendar($event, agent)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
              </div>
              <label class="col-xs-1 control-label" ><i ng-if="applicant.personType == 0">*</i>性别</label>
              <div class="col-xs-2" ng-class="">
                <div class="radio" style="margin-top: -7px;">
                  <label>
                    <input type="radio" ng-model="agent.sex" value="0" ng-checked="agent.sex==0" >男
                  </label>
                  <label></label>
                  <label>
                    <input type="radio" ng-model="agent.sex" value="1" ng-checked="agent.sex==1" >女
                  </label>
                </div>
              </div>
              <label class="col-xs-1 control-label"><i ng-if="applicant.personType == 0">*</i>民族</label>
              <div class="col-xs-3">
                <input type="text" class="form-control" ng-model="agent.nation" placeholder="请填写民族"  maxlength="4">
              </div>
            </div>
            <div class="col-xs-12 form-group form-group-sm">
              <label class="col-xs-2 control-label">委托授权</label>
              <div class="col-xs-4">
                <select class="form-control" ng-model="agent.entrustPower" ng-change="changePower(agent)" ng-options="x.id as x.value for x in proxyPermissionConstantList">
                </select>
              </div>
            </div>
            <div class="col-xs-12 form-group form-group-sm">
              <div class="col-xs-10 col-xs-offset-2">
                <div class="checkbox col-xs-6 col-lg-4" ng-repeat="power in agentPowerList"  style="padding-right: 0px;">
                  <label style="margin-left:-12px;">
                    <input type="checkbox" ng-checked="agent.entrustPowerDetail.indexOf(power.id)>-1" ng-click="updateSelection($event,power.id, agent)" ng-disabled="power.powerDisabled" >{{power.name}}
                  </label>
                </div>
              </div>
            </div>
            <div class="col-xs-12 form-group form-group-sm">
              <label class="col-xs-2 control-label"><i ng-if="applicant.personType == 0">*</i>代理人姓名</label>
              <div class="col-xs-4" ng-class="{'has-error':agent.agentNameError}">
                <input type="text" class="form-control" ng-model="agent.agentName" placeholder="请填写代理人姓名" maxlength="20">
              </div>
              <label class="col-xs-2 control-label"><i ng-if="applicant.personType == 0">*</i>电话号码</label>
              <div class="col-xs-4" ng-class="{'has-error':agent.telephoneError}">
                <input type="text" maxlength="20" class="form-control" ng-model="agent.telephone" placeholder="请填写电话号码">
              </div>
            </div>
            <!--<div class="col-xs-12 form-group form-group-sm">
              <label class="col-xs-2 control-label">电子邮箱</label>
              <div class="col-xs-10" ng-class="{'has-error':agent.emailError}">
                <input type="text" class="form-control" ng-model="agent.email" placeholder="请填写电子邮箱" maxlength="30">
              </div>
            </div>-->
            <div class="col-xs-12 form-group form-group-sm" ng-if="agent.agentIdentity==1">
              <label class="col-xs-2 control-label"><i ng-if="applicant.personType == 0">*</i>户籍地</label>
              <div class="col-xs-10" ng-class="{'has-error':agent.domicileError}">
                <input type="text" class="form-control" ng-model="agent.domicile" placeholder="请填写户籍地" maxlength="100">
              </div>
            </div>
            <div class="col-xs-12 form-group form-group-sm">
              <label class="col-xs-2 control-label"><i ng-show="agent.agentIdentity==0 || agent.agentIdentity==2" ng-if="applicant.personType == 0">*</i>单位名称</label>
              <div class="col-xs-10" ng-class="{'has-error':agent.companyNameError}">
                <input type="text" class="form-control" ng-model="agent.companyName" placeholder="请填写单位名称" maxlength="50">
              </div>
            </div>
            <div class="col-xs-12 form-group form-group-sm">
              <label class="col-xs-2 control-label"><i ng-if="applicant.personType == 0">*</i>送达地址</label>
              <div class="col-xs-10" ng-class="{'has-error':agent.sendAddressError}">
                <input type="text" class="form-control" ng-model="agent.sendAddress" placeholder="请填写送达地址" maxlength="100">
              </div>
            </div>
            <div class="col-xs-12 form-group form-group-sm" >
              <div class="col-xs-12" style="color: #666;">温馨提示：上传小于10M大小的图片</div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" ng-show="agent.agentIdentity !='0'"  ng-class="{'z-index-img':agent.idFront.indexOf(co.defaultImg)==-1}">
                <div class="margin_top img_box_boder Front">
                  <img class="id_img" ng-src="{{agent.idFront.indexOf(co.defaultImg)==-1&&agent.idFront.indexOf(co.defaultImg2)==-1?imageAddress+agent.idFront:agent.idFront}}" ngf-pattern="'image/*'" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" ngf-select="uploadAgentImage($file, agent, 'front')"  ng-click="checkflash()">
                  <div class="img_bottom_bar">
                    <p>代理人证件照身份证号面<i class="iconfont icon-iconfont19" ng-click="removeAgentImage(agent, 'front')"></i>
                      <i class=" iconfont icon-sousuo" ng-click="zoomImage(agent.idFront.indexOf(co.defaultImg)==-1&&agent.idFront.indexOf(co.defaultImg2)==-1?bigPictureUrl+agent.idFront:agent.idFront)"></i>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" ng-show="agent.agentIdentity !='0'"  ng-class="{'z-index-img':agent.idBack.indexOf(co.defaultImg)==-1}">
                <div class="margin_top img_box_boder Front">
                  <img class="id_img" ng-src="{{agent.idBack.indexOf(co.defaultImg)==-1&&agent.idBack.indexOf(co.defaultImg3)==-1?imageAddress+agent.idBack:agent.idBack}}" ngf-pattern="'image/*'" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" ngf-select="uploadAgentImage($file, agent, 'back')"  ng-click="checkflash()">
                  <div class="img_bottom_bar">
                    <p>代理人证件照国徽面<i class="iconfont icon-iconfont19" ng-click="removeAgentImage(agent, 'back')"></i>
                      <i class=" iconfont icon-sousuo" ng-click="zoomImage(agent.idBack.indexOf(co.defaultImg)==-1&&agent.idBack.indexOf(co.defaultImg3)==-1?bigPictureUrl+agent.idBack:agent.idBack)"></i>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" ng-show="agent.agentIdentity=='0'"  ng-class="{'z-index-img':agent.lawyerCard.indexOf(co.defaultImg)==-1}">
                <div class="margin_top img_box_boder Front">
                  <img class="id_img" ng-src="{{agent.lawyerCard.indexOf(co.defaultImg)==-1?imageAddress+agent.lawyerCard:agent.lawyerCard}}" ngf-pattern="'image/*'" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" ngf-select="uploadAgentImage($file, agent, 'lawyer')"  ng-click="checkflash()">
                  <div class="img_bottom_bar">
                    <p>律师证<i class="iconfont icon-iconfont19" ng-click="removeAgentImage(agent, 'lawyer')"></i>
                      <i class=" iconfont icon-sousuo" ng-click="zoomImage(agent.lawyerCard.indexOf(co.defaultImg)==-1?bigPictureUrl+agent.lawyerCard:agent.lawyerCard)"></i>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3"  ng-class="{'z-index-img':agent.entrustFile.indexOf(co.defaultImg)==-1}">
                <div class="margin_top img_box_boder Front">
                  <img class="id_img" ng-src="{{agent.entrustFile.indexOf(co.defaultImg)==-1?imageAddress+agent.entrustFile:agent.entrustFile}}" ngf-pattern="'image/*'" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" ngf-select="uploadAgentImage($file, agent, 'entrust')"  ng-click="checkflash()">
                  <div class="img_bottom_bar">
                    <p>委托书<i class="iconfont icon-iconfont19" ng-click="removeAgentImage(agent, 'entrust')"></i>
                      <i class=" iconfont icon-sousuo" ng-click="zoomImage(agent.entrustFile.indexOf(co.defaultImg)==-1?bigPictureUrl+agent.entrustFile:agent.entrustFile)"></i>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" ng-show="agent.agentIdentity=='0' || agent.agentIdentity=='2'"  ng-class="{'z-index-img':agent.letterFile.indexOf(co.defaultImg)==-1}">
                <div class="margin_top img_box_boder Front">
                  <img class="id_img" ng-src="{{agent.letterFile.indexOf(co.defaultImg)==-1?imageAddress+agent.letterFile:agent.letterFile}}" ngf-pattern="'image/*'" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" ngf-select="uploadAgentImage($file, agent, 'letter')"  ng-click="checkflash()">
                  <div class="img_bottom_bar">
                    <p>公函<i class="iconfont icon-iconfont19" ng-click="removeAgentImage(agent, 'letter')"></i>
                      <i class=" iconfont icon-sousuo" ng-click="zoomImage(agent.letterFile.indexOf(co.defaultImg)==-1?bigPictureUrl+agent.letterFile:agent.letterFile)"></i>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" ng-show="agent.agentIdentity=='1'"  ng-class="{'z-index-img':agent.feeCertificate.indexOf(co.defaultImg)==-1}">
                <div class="margin_top img_box_boder Front">
                  <img class="id_img" ng-src="{{agent.feeCertificate.indexOf(co.defaultImg)==-1?bigPictureUrl+agent.feeCertificate:agent.feeCertificate}}" ngf-pattern="'image/*'" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" ngf-select="uploadAgentImage($file, agent, 'fee')"  ng-click="checkflash()">
                  <div class="img_bottom_bar">
                    <p>不收取费用证件书<i class="iconfont icon-iconfont19" ng-click="removeAgentImage(agent, 'fee')"></i>
                      <i class=" iconfont icon-sousuo" ng-click="zoomImage(agent.feeCertificate.indexOf(co.defaultImg)==-1?bigPictureUrl+agent.feeCertificate:agent.feeCertificate)"></i>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 代理人法定 -->
          <div ng-show="agent.agentType==1">
            <div class="col-xs-12 form-group form-group-sm">
              <label class="col-xs-2 control-label"><i ng-if="applicant.personType == 0">*</i>证件类型</label>
              <div class="col-xs-4">
                <select class="form-control" ng-model="agent.certificatesType" ng-options="x.id as x.value for x in certificatesTypeList | filter:{id:'0'}" ng-change="change_options(agent,agent.certificatesType,3)">
                </select>
              </div>
              <label class="col-xs-2 control-label" ><i ng-if="applicant.personType == 0">*</i>证件号码</label>
              <div class="col-xs-4" ng-class="{'has-error':agent.idNoError}">
                <input type="text" class="form-control" ng-model="agent.idNo" ng-blur="checkIdentity(agent, true)" placeholder="请填写证件号码" maxlength="30">
              </div>
            </div>
            <div class="col-xs-12 form-group form-group-sm">
              <label class="col-xs-2 control-label"><i ng-if="applicant.personType == 0">*</i>与当事人关系</label>
              <div class="col-xs-4" ng-class="{'has-error':agent.relationError}">
                <select class="form-control" ng-model="agent.relation" ng-options="x.id as x.value for x in relation2Applicant">
                </select>
              </div>
              <label class="col-xs-2 control-label" ><i ng-if="applicant.personType == 0">*</i>代理人姓名</label>
              <div class="col-xs-4" ng-class="{'has-error':agent.reagentNameError}">
                <input type="text" class="form-control" ng-model="agent.agentName" placeholder="请填写代理人姓名" maxlength="20">
              </div>
            </div>
            <div class="col-xs-12 form-group form-group-sm">
              <label class="col-xs-2 control-label"><i ng-if="applicant.personType == 0">*</i>电话号码</label>
              <div class="col-xs-4" ng-class="{'has-error':agent.telephoneError}">
                <input type="text" class="form-control" ng-model="agent.telephone" placeholder="请填写电话号码">
              </div>
              <!--<label class="col-xs-2 control-label">电子邮箱</label>-->
              <!--<div class="col-xs-4" ng-class="{'has-error':agent.emailError}">-->
                <!--<input type="text" class="form-control" ng-model="agent.email" placeholder="请填写电子邮箱" maxlength="30">-->
              <!--</div>-->
            </div>
            <div class="col-xs-12 form-group form-group-sm">
              <label class="col-xs-2 control-label"><i ng-if="applicant.personType == 0">*</i>户籍所在地</label>
              <div class="col-xs-10" ng-class="{'has-error':agent.domicileError}">
                <input type="text" class="form-control" ng-model="agent.domicile" placeholder="请填写户籍所在地" maxlength="50">
              </div>
            </div>
            <div class="col-xs-12 form-group form-group-sm">
              <label class="col-xs-2 control-label padding-right-15"><i ng-if="applicant.personType == 0">*</i>居住地</label>
              <div class="col-xs-7" ng-class="{'has-error':agent.residenceError}">
                <input type="text" class="form-control" ng-model="agent.residence" placeholder="请填写居住地" maxlength="50">
              </div>
              <div class="col-xs-3 checkbox ">
                <label>
                  <input type="checkbox" ng-model="agent.isLive" ng-checked="agent.isLive" > 连续居住已满一年
                </label>
              </div>
            </div>
            <div class="col-xs-12 form-group form-group-sm">
              <label class="col-xs-2 control-label padding-right-15"><i ng-if="applicant.personType == 0">*</i>送达地址</label>
              <div class="col-xs-10" ng-class="{'has-error':agent.sendAddressError}">
                <input type="text" class="form-control" ng-model="agent.sendAddress" placeholder="请填写送达地址" maxlength="100">
              </div>
            </div>
            <div class="col-xs-12 form-group form-group-sm" >
              <div class="col-xs-3"  ng-class="{'z-index-img':agent.idFront.indexOf(co.defaultImg)==-1}">
                <div class="margin_top img_box_boder Front">
                  <img class="id_img" ng-src="{{agent.idFront.indexOf(co.defaultImg)==-1&&agent.idFront.indexOf(co.defaultImg2)==-1?imageAddress+agent.idFront:co.defaultImg2}}" ngf-pattern="'image/*'" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" ngf-select="uploadAgentImage($file, agent, 'front')"  ng-click="checkflash()">
                  <div class="img_bottom_bar">
                    <p>代理人证件照身份证号面<i class="iconfont icon-iconfont19" ng-click="removeAgentImage(agent, 'front')"></i>
                      <i class=" iconfont icon-sousuo" ng-click="zoomImage(agent.idFront.indexOf(co.defaultImg)==-1&&agent.idFront.indexOf(co.defaultImg2)==-1?bigPictureUrl+agent.idFront:co.defaultImg2)"></i>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xs-3"  ng-class="{'z-index-img':agent.idBack.indexOf(co.defaultImg)==-1}">
                <div class="margin_top img_box_boder Front">
                  <img class="id_img" ng-src="{{agent.idBack.indexOf(co.defaultImg)==-1&&agent.idBack.indexOf(co.defaultImg3)==-1?imageAddress+agent.idBack:co.defaultImg3}}" ngf-pattern="'image/*'" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" ngf-select="uploadAgentImage($file, agent, 'back')"  ng-click="checkflash()">
                  <div class="img_bottom_bar">
                    <p>代理人证件照国徽面<i class="iconfont icon-iconfont19" ng-click="removeAgentImage(agent, 'back')"></i>
                      <i class=" iconfont icon-sousuo" ng-click="zoomImage(agent.idBack.indexOf(co.defaultImg)==-1&&agent.idBack.indexOf(co.defaultImg3)==-1?bigPictureUrl+agent.idBack:co.defaultImg3)"></i>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xs-3"  ng-class="{'z-index-img':agent.relationSupport.indexOf(co.defaultImg)==-1}">
                <div class="margin_top img_box_boder Front">
                  <img class="id_img" ng-src="{{agent.relationSupport.indexOf(co.defaultImg)==-1?imageAddress+agent.relationSupport:agent.relationSupport}}" ngf-pattern="'image/*'" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" ngf-select="uploadAgentImage($file, agent, 'relation')"  ng-click="checkflash()">
                  <div class="img_bottom_bar">
                    <p>与当事人的关系证明<i class="iconfont icon-iconfont19" ng-click="removeAgentImage(agent, 'relation')"></i>
                      <i class=" iconfont icon-sousuo" ng-click="zoomImage(agent.relationSupport.indexOf(co.defaultImg)==-1?bigPictureUrl+agent.relationSupport:agent.relationSupport)"></i>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
    <!-- 添加代理人按钮 -->
    <div class="row background_color_d" style="margin-bottom: 10px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px;">
      <div class="col-xs-12 agent_list_bj">
        <div class="add_Agent" style="width: 100%;" ng-click="addAgent(applicant)">
          <p><i class="iconfont icon-tianjia"></i>添加代理人</p>
        </div>
      </div>
    </div>
  </div>
  <!-- 右下角浮动菜单 -->
  <div class="add_Applicant" ng-show="co.step==1" ng-click="addApplicant()"><i class="iconfont icon-tianjia"></i> 添加{{co.lblApplicant}}</div>
  <div class="panel-body left_bottom_nav " ng-show="co.step==1" ng-class="{'left_bottom_nav_open':isNavHashOpened,'left_bottom_nav_close':!isNavHashOpened}">
    <div ng-repeat="applicant in adjust.applicantArray | filter:{personType:0}">
      <a class="left_bottom_nav_e" ng-click="locate(applicant.hashIndex)" >
        <i class="iconfont icon-geren1"></i>
        <span ng-if="applicant.idType==0">
          <span ng-if="!applicant.personName">第 {{applicant.hashName}} 位申请人</span>
          <span ng-if="applicant.personName">{{applicant.personName}}</span>
        </span>
        <span ng-if="applicant.idType!=0">
          <span ng-if="!applicant.orgName">第 {{applicant.hashName}} 位申请人</span>
          <span ng-if="applicant.orgName">{{applicant.orgName}}</span>
        </span>
      </a>
      <div ng-repeat="agent in applicant.agentArray" class="hide-nowrap" style="background: #f4f8f9; width: 100%; text-indent: 34px;">
        <a class="left_bottom_nav_e_e" ng-click="locate(agent.hashIndex)" style="font-size: 12px; line-height: 34px;" >
          <span ng-if="!agent.agentName">第 {{agent.hashName}} 位代理人</span>
          <span ng-if="agent.agentName">{{agent.agentName}}</span>
        </a>
      </div>
    </div>
  </div>
  <div class="add_Applicant" ng-show="co.step==2" ng-click="addApplicant()"><i class="iconfont icon-tianjia"></i> 添加{{co.lblRespondent}}</div>
  <div class="panel-body left_bottom_nav" ng-show="co.step==2" ng-class="{left_bottom_nav_open:isNavHashOpened,left_bottom_nav_close:!isNavHashOpened}" >
    <div ng-repeat="applicant in adjust.applicantArray | filter:{personType:1}">
      <a class="left_bottom_nav_e" ng-click="locate(applicant.hashIndex)" >
        <i class="iconfont icon-geren1"></i>
        <span ng-if="applicant.idType==0">
          <span ng-if="!applicant.personName">第 {{applicant.hashName}} 位被申请人</span>
          <span ng-if="applicant.personName">{{applicant.personName}}</span>
        </span>
        <span ng-if="applicant.idType!=0">
          <span ng-if="!applicant.orgName">第 {{applicant.hashName}} 位被申请人</span>
          <span ng-if="applicant.orgName">{{applicant.orgName}}</span>
        </span>
      </a>
      <div ng-repeat="agent in applicant.agentArray" class="hide-nowrap" style="background: #f4f8f9; width: 100%; text-indent: 34px;">
        <a class="left_bottom_nav_e_e" ng-click="locate(agent.hashIndex)" style="font-size: 12px; line-height: 34px;" >
          <span ng-if="!agent.agentName">第 {{agent.hashName}} 位代理人</span>
          <span ng-if="agent.agentName">{{agent.agentName}}</span>
        </a>
      </div>
    </div>
  </div>
  <i class="iconfont" ng-class="{'icon-jiantou':!isNavHashOpened,'icon-rjiantou':isNavHashOpened}" ng-click="isNavHashOpened=!isNavHashOpened"></i>
  <div class="SeizeASeat"></div>
</div>