<div class="role_management_d relative_top">
	<div class="row bg-default">
		<div class="col-xs-12 role_management_right_d">
			<div class="role_management_right_t_d ">
				<div class="col-xs-2 role_management_right_t_l_d no-padding">帮助中心列表</div>
				<div class="col-xs-10 margin-top-6 navbar-form" style="width: 83%;">

					<div class="col-lg-offset-6 col-xs-offset-4 col-lg-6 col-xs-8 no-padding ">
						<button class="btn btn-default mar-le-10 flo-r" type="button" ng-click="delInterfaceConfig()"><i class="iconfont icon-iconfont19 icon-blue" ></i> 删除</button>
						<button class="btn btn-brand flo-r" ng-click="queryInterfaceConfig()"  ><i class="iconfont icon-tianjia"></i>新建文件</button>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
					<tr>
						<th class="col-xs-1"><input type="checkbox" name="orgCheckbox" ng-change="interfaceToggleSelectAll()"  ng-model="interfaceSelectAll" ng-checked="interfaceSelectAll"></th>
						<th class="col-xs-2">文件名称</th>
						<th class="col-xs-2">文件src</th>
						<th class="col-xs-2">文件类型</th>
						<th class="col-xs-2">操作</th>

					</tr>
					</thead>
					<tbody >
					<tr ng-repeat="file in showList">
						<td>
							<input type="checkbox" name="orgCheckbox" ng-change="interfaceChxChange(file)" ng-checked="file.checked" ng-model="file.checked">
						</td>
						<td>{{file.name}}</td>
						<td>{{file.path}}</td>
						<td><span ng-if="file.type == 1">文档</span><span ng-if="file.type == 2">视频</span></td>
						<td class="action_bar">
							<i class="iconfont icon-iconfont19" ng-click="delInterfaceConfig(file)"></i>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div class="text-center"  ng-if="showList.length != 0 ">
				<pagination previous-text="<" next-text=">" first-text="<<" last-text=">>" items-per-page="itemNum" class="pagination-custom" total-items="queryData.totalItems" ng-model="queryData.currentPage" ng-change="pageChanged()" max-size="7" boundary-links="true" rotate="false"></pagination>
			</div>

			<div ng-show="showList.length == 0" class="text-center">
				<img src="views/images/search_null.png" ><br>
				抱歉，未找到相关内容！
			</div>
		</div>
	</div>
</div>