<div class="role_management_d relative_top">
    <div class="row bg-default">
        <div class="col-xs-12 role_management_right_d">
            <div class="role_management_right_t_d">
                <div class="col-xs-7 role_management_right_t_l_d no-padding">区域名称备注维护</div>
                <div class="col-lg-4 col-xs-4 line-height40 margin-top-6">
                    <div class="search_box">
                        <input type="text" class="input-xs search_input" ng-model="regionalNameRemark.regionName" placeholder="搜索">
                        <i class="iconfont icon-sousuo input-search-img"></i>
                    </div>
                </div>
                <div class="col-lg-1 col-xs-1 line-height40 no-padding margin-top-6">
                    <button type="button" class="btn btn-brand mar-v-3" ng-click="handleSearchBtn()">搜索</button>
                </div>
                <div class="role_management_right_t_r_d" ng-click="handleModalShow()"><i class="iconfont icon-tianjia"></i>  新增</div>
            </div>
            <div class="clear"></div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover" style="text-align: center;">
                        <thead>
                            <tr class="row">
                                <th class="col-xs-1" style="text-align: center;">序号</th>
                                <th class="col-xs-1" style="text-align: center;">区域名称</th>
                                <th class="col-xs-1" style="text-align: center;">起始时间</th>
                                <th class="col-xs-1" style="text-align: center;">终止时间</th>
                                <th class="col-xs-1" style="text-align: center;">医疗费备注</th>
                                <th class="col-xs-1" style="text-align: center;">营养费备注</th>
                                <th class="col-xs-1" style="text-align: center;">误工费备注</th>
                                <th class="col-xs-1" style="text-align: center;">护理费备注</th>
                                <th class="col-xs-1" style="text-align: center;">丧葬费备注</th>
                                <th class="col-xs-1" style="text-align: center;">交通费备注</th>
                                <th class="col-xs-1" style="text-align: center;">住宿费备注</th>
                                <th class="col-xs-1" style="text-align: center;">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row" ng-repeat="data in dataList">
                                <td>{{$index+1}}</td>
                                <td>{{data.regionName}}</td>
                                <td>{{data.startDate}}</td>
                                <td>{{data.endDate}}</td>
                                <td>{{data.medicalFee}}</td>
                                <td>{{data.nutritionFee}}</td>
                                <td>{{data.lossOfWorking}}</td>
                                <td>{{data.nursingFee}}</td>
                                <td>{{data.funeralExpenses}}</td>
                                <td>{{data.trafficExpense}}</td>
                                <td>{{data.hotelExpense}}</td>
                                <td class="action_bar">
                                    <i class="iconfont icon-bianji" ng-click="handleModalShow(data)"></i>
                                    <i class="iconfont icon-iconfont19" ng-click="handleDelete(data)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center"  ng-if="dataList.length != 0 ">
                        <pagination previous-text="<" next-text=">" first-text="<<" last-text=">>" items-per-page="regionalNameRemark.pageSize" class="pagination-custom" total-items="regionalNameRemark.totalPage" ng-model="regionalNameRemark.pageNo" ng-change="pageChanged()" max-size="7" boundary-links="true" rotate="false"></pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>