<div class="bg-default" style="margin-left: -15px; margin-right: -15px;">
    <div class=" panel-heading">
        <div class="row">
            <h4 class="col-xs-4 col-lg-7">
                <span class="h1_line"></span>
                <span>案件删除申请</span>
            </h4>
            <div class="row col-xs-8 col-lg-5">
                <button class="btn btn-brand col-xs-3" ng-click="handleApplyFor('add')">
                    <i class="iconfont icon-tianjia"></i>
                    新增申请
                </button>
                <div class="col-xs-8 line-height40">
                    <button type="button" class="btn btn-brand pull-right" style="margin-right: 15px; margin-left: 20px; margin-top: 3px;" ng-click="handleQueryApplyFor()">搜索</button>
                    <div class="search_box pull-right" style="width: 212px;">
                        <input type="text" class="input-xs search_input" ng-model="queryInfoVO.searchOverallSituation" placeholder="流水号、案号、当事人">
                        <i class="iconfont icon-sousuo input-search-img"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body no-padding-v">
        <table class="table table-striped-info table-hover table-fixed" ng-show="applyForList.length > 0">
            <thead>
                <tr>
                    <th class="col-xs-2">流水号</th>
                    <th class="col-xs-2">调解号</th>
                    <th class="col-xs-2">案号</th>
                    <th class="col-xs-1">当事人</th>
                    <th class="col-xs-1">案件阶段</th>
                    <th class="col-xs-1">申请日期</th>
                    <th class="col-xs-1">审核结果</th>
                    <th class="col-xs-1">审核日期</th>
                    <th class="col-xs-1">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in applyForList">
                    <td >
                        <label>
                            <a class="cur-pointer po-relative" ng-click="handleApplyFor('detail', x)" title="点击查询详细">{{x.serialNo}}</a>
                        </label>
                    </td>
                    <td>{{x.regulationNo}}</td>
                    <td>{{x.lawNo}}</td>
                    <td class="hide-nowrap">
                        <span title="{{x.applicant}}" class="ng-binding">申请人：{{x.applicant}}</span>
                        <br>
                        <span title="{{x.respondent}}" class="ng-binding">被申请人：{{x.respondent}}</span>
                    </td>
                    <td>
                        <span ng-show="sysUser.userType == '2'" ng-repeat="a in mediationState|filter:{id:x.state}">{{a.value}}</span>
                        <span ng-show="sysUser.userType == '1'" ng-repeat="a in judgeStateList|filter:{id:x.state}">{{a.value}}</span>
                    </td>
                    <td>{{x.createDate | stringDate | date: 'yyyy-MM-dd'}}</td>
                    <td>{{x.auditeResult? (x.auditeResult == '1'? '同意':'驳回') : ''}}</td>
                    <td>{{x.auditeTime | stringDate | date: 'yyyy-MM-dd'}}</td>
                    <td>
                        <label ng-show="x.auditeResult == '2'">
                            <a class="cur-pointer po-relative" ng-click="handleApplyFor('again', x)">重新申请</a>
                        </label>
                    </td>
                    <!--<td>{{appraisalInfo.appalyDate | stringDate|date: 'yyyy-MM-dd'}}</td>-->
                </tr>
            </tbody>
        </table>
        <div  class="text-center" ng-show="applyForList.length == 0">
            <img src="views/images/search_null.png" ><br>
            抱歉，未找到相关内容！
        </div>
        <div class="text-center" ng-show="applyForList.length > 0">
            <pagination previous-text="<" next-text=">" first-text="<<" last-text=">>" items-per-page="queryInfoVO.pageSize" class="pagination-custom" total-items="queryInfoVO.pageTotal" ng-model="queryInfoVO.pageNo" ng-change="queryApplyForList()" max-size="7" boundary-links="true" rotate="false"></pagination>
        </div>
    </div>
</div>

<div class="file-upload-masker ng-scope" ng-show="isApplyForShow" style="z-index: 9999"></div>
<div class="insurance-detail ng-scope" ng-show="isApplyForShow" ng-style="applyForStyle">
    <h4 class="col-xs-4 col-lg-7" style="padding-bottom: 10px;">
        <span class="h1_line"></span>
        <span>{{applyForType == 'detail'? '案件删除结果':'案件删除申请'}}</span>
    </h4>
    <div ng-show="applyForType == 'detail'" style="font-size: 13px;margin-bottom: 30px;float: left;">
        <div class="col-xs-12 mb-10">
            <div class="col-lg-2 col-xs-2 ng-binding" style="padding-right: 0">案件流水号：</div>
            <div class="col-lg-10 col-xs-10 ng-binding">{{applyForInfoVO.serialNo}}</div>
        </div>
        <div class="col-xs-12 mb-10">
            <div class="col-lg-2 col-xs-2 ng-binding">联系方式：</div>
            <div class="col-lg-10 col-xs-10 ng-binding">{{applyForInfoVO.telephone}}</div>
        </div>
        <div class="col-xs-12 mb-10">
            <div class="col-lg-2 col-xs-2 ng-binding">删除原因：</div>
            <div class="col-lg-10 col-xs-10 ng-binding">{{applyForInfoVO.reason}}</div>
        </div>
        <div class="col-xs-12 mb-10">
            <div class="col-lg-2 col-xs-2 ng-binding">审核时间：</div>
            <div class="col-lg-10 col-xs-10 ng-binding">{{applyForInfoVO.auditeTime | stringDate | date: 'yyyy-MM-dd'}}</div>
        </div>
        <div class="col-xs-12 mb-10">
            <div class="col-lg-2 col-xs-2 ng-binding">审核结果：</div>
            <div class="col-lg-10 col-xs-10 ng-binding">{{applyForInfoVO.auditeResult? (applyForInfoVO.auditeResult == '1'? '同意':'驳回') : ''}}</div>
        </div>
        <div class="col-xs-12 mb-10">
            <div class="col-lg-2 col-xs-2 ng-binding">驳回原因：</div>
            <div class="col-lg-10 col-xs-10 ng-binding">{{applyForInfoVO.auditeReason}}</div>
        </div>
    </div>
    <div ng-show="applyForType == 'add' || applyForType == 'again'">
        <div class="col-xs-12 form-group form-group-sm">
            <label class="col-xs-3 control-label" style="line-height: 30px;">
                <span class="Required">*</span>
                <span class="ng-scope ng-binding">案件流水号：</span>
            </label>
            <div class="col-xs-9" ng-class="{'has-error':applyForInfoVO.serialNoError}">
                <input type="text" class="form-control ng-pristine ng-valid" ng-model="applyForInfoVO.serialNo" placeholder="请填写案件流水号" maxlength="20">
            </div>
        </div>
        <div class="col-xs-12 form-group form-group-sm">
            <label class="col-xs-3 control-label" style="line-height: 30px;">
                <span class="Required">*</span>
                <span class="ng-scope ng-binding">联系方式：</span>
            </label>
            <div class="col-xs-9" ng-class="{'has-error':applyForInfoVO.telephoneError}">
                <input type="text" class="form-control ng-pristine ng-valid" ng-model="applyForInfoVO.telephone" placeholder="请填写联系方式" maxlength="11">
            </div>
        </div>
        <div class="col-xs-12 form-group form-group-sm">
            <label class="col-xs-3 control-label" style="line-height: 30px;">
                <span class="Required">*</span>
                <span class="ng-scope ng-binding">删除原因</span>
            </label>
            <div class="col-xs-9">
                <textarea class="col-xs-12" ng-class="{'has-error':applyForInfoVO.reasonError}" cols="10" rows="5" style="resize: none;padding: 15px;" ng-model="applyForInfoVO.reason" maxlength="200"></textarea>
            </div>
        </div>
    </div>

    <div class="col-xs-12" style="text-align: center;">
        <button type="button" class="btn btn-brand" style="margin-right: 30px;" ng-click="submitApplyFor()" ng-hide="applyForType == 'detail'">提交</button>
        <button type="button" class="btn btn-brand" ng-click="isApplyForShow=fasle">关闭</button>
    </div>
</div>
