<style type="text/css">
    .b1{white-space-collapsing:preserve;}
    .b2{margin: 1.0in 1.25in 1.0in 1.25in;}
    .s1{font-weight:bold;}
    .p1{margin-right:0.10208333in;text-align:center;hyphenate:auto;font-family:Times New Roman;font-size:22pt;}
    .p2{margin-top:0.21666667in;text-align:center;hyphenate:auto;font-family:Times New Roman;font-size:26pt;}
    .p3{text-indent:0.39375in;text-align:end;hyphenate:auto;font-family:Times New Roman;font-size:15pt;}
    .p4{text-indent:0.41666666in;text-align:start;hyphenate:auto;font-family:仿宋_GB2312;font-size:15pt;}
    .p5{text-indent:0.41666666in;text-align:start;hyphenate:auto;font-family:Times New Roman;font-size:15pt;}
    .p6{text-align:start;hyphenate:auto;font-family:仿宋_GB2312;font-size:15pt;}
    .p7{hyphenate:auto;font-family:仿宋_GB2312;font-size:15pt;margin-left: 80%;}
    .p8{text-align:justify;hyphenate:auto;font-family:Times New Roman;font-size:10pt;}
    .margin-top0{margin-top: 0px; height: 100%;}
    .padding-top30{ padding-top:30px;}
    .margin-left42{margin-left: 42px;}
</style>
<div class="b1 b2 margin-top0 padding-top30">
    <p class="p1">
        <span class="s1">{{adjustInfo.lawOrgName}}</span>
    </p>
    <p class="p2">
        <span class="s1">民事裁定书</span>
    </p>
    <p class="p3">
        <span>{{adjustInfo.lawNo}}</span>
    </p>
    <p class="p4"></p>
    <!--申请人集合-->
    <p class="p4" ng-repeat="applicant in adjustInfo.applicantArray">
        <!--公民-->
        <span ng-if="applicant.idType == '0'">
            申请人：{{applicant.personName}}，{{applicant.sex| id2Text:sexList}}，{{applicant.birthDay|date2Text}}出生，{{applicant.nation}}，{{applicant.certificatesType|id2Text:certificateTypeList}}：{{applicant.idNo}}，住{{applicant.domicile}}。
        </span>
        <!--法人或其它组织-->
        <span ng-if="applicant.idType != '0'">
            申请人：{{applicant.orgName}}，住所地：{{applicant.residence}}，{{applicant.legalType|id2Text:legalTypeList}},{{applicant.legalName}}，{{applicant.job}}
        </span>
        <span ng-repeat="agent in applicant.agentArray">
            <!--法定-->
            <span class="margin-left42" ng-if="agent.agentType == '1'">
                <br>法定代理人：{{agent.agentName}}，住{{agent.residence}}
            </span>
            <!--委托-->
            <span ng-if="agent.agentType == '0'">
                <!--律师或者法律工作者-->
                <span class="margin-left42" ng-if="agent.agentIdentity == '0' || agent.agentIdentity== '2'">
                    <br>委托代理人：{{agent.agentName}}，{{agent.companyName}}
                </span>
                <!--公民-->
                <span class="margin-left42" ng-if="agent.agentIdentity == '1'">
                    <br>委托代理人：{{agent.agentName}}，{{agent.sex| id2Text:sexList}}，{{agent.birthDay|date2Text}}出生，{{agent.nation}}，{{agent.certificatesType|id2Text:certificateTypeList}}：{{agent.idNo}}，住（暂无字段），
                    <!--近亲属-->
                    <span ng-if="agent.agentIdentityItem == '0'">
                        系<span ng-if="applicant.idType == '0'">{{applicant.personName}}</span>
                          <span ng-if="applicant.idType != '0'">{{applicant.orgName}}</span>
                        的{{agent.relation|id2Text:relationList}}
                    </span>
                    <!--非近亲属-->
                    <span ng-if="agent.agentIdentityItem == '1'">
                        系{{agent.companyName}}
                    </span>
                </span>
            </span>
        </span>
    </p>
    <p class="p5">
        <span>本院于{{adjustInfo.filingDate|date2Text}}立案受理了上述申请人的司法确认申请，请求确认人民调解协议效力一案。本院依法指定{{chiefJudge.postType |id2Text:postTypeList}}{{chiefJudge.name}}审查此案，现已审查完毕。</span>
    </p>
    <p class="p4">
        <span>该纠纷于{{adjustInfo.adjustDate|date2Text}}经{{adjustInfo.adjustOrgName}}调解，申请人之间达成了如下调解协议：</span>
    </p>
    <p class="p4">
        <span>{{adjustInfo.adjustResultRemark}}</span>
    </p>
    <p class="p4">
        <span>经审查，上述协议不违反法律规定，本院予以确认。</span>
    </p>
    <p class="p4">
        <span>本案申请人一致同意上述协议的内容自各方在司法确认笔录上签名或捺印后即具有法律效力并赋予上述协议强制执行的效力。双方应当按照协议约定自觉履行义务。一方当事人拒绝履行或未全部履行的，对方当事人可以向本院申请强制执行。</span>
    </p>
    <p class="p6"></p>
    <p class="p6"></p>
    <p class="p6"></p>
    <p class="p7">
        <span>{{chiefJudge.postType |id2Text:postTypeList}}  {{chiefJudge.name}}</span>
    </p>
    <p class="p6"></p>
    <p class="p6">
        <span> {{adjustInfo.filingDate|date2ChinaText}}</span>
    </p>
    <p class="p6">
        <span>本件与原件核对无异</span>
    </p>
    <p class="p7">
        <span>{{clerk.postType |id2Text:postTypeList}}  {{clerk.name}}</span>
    </p>
    <p class="p5"></p>
    <p class="p8"></p>
</div>