<div class="bg-default">
    <div class="modal-header">
        <h4 class="modal-title">
            <span class="h1_line"></span>
            <span ng-if="isNew">新建用户</span>
            <span ng-if="!isNew">编辑邮箱</span>

            <i class="iconfont icon-guanbi close" ng-click="cancel()"></i>
        </h4>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group" ng-class="{'has-error':loginAccountError}" ng-if="isNew">
                <div class="row  no-margin">
                    <div class="col-xs-3 text-right">
                        <label class="control-label"> <i class="xing">*</i>用户名</label>
                    </div>
                    <div class="col-xs-7 no-padding">
                        <input type="text" class="form-control ng-pristine ng-valid" name="loginAccount" ng-model="user.loginAccount" placeholder="请输入用户名">
                    </div>

                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':emailError}">
                <div class="row no-margin">
                    <div class="col-xs-3 text-right">
                        <label class="control-label"> <i class="xing">*</i>邮箱</label>
                    </div>
                    <div class="col-xs-7 no-padding">
                        <input type="text" class="form-control ng-pristine ng-valid" name=email"" ng-model="user.email" placeholder="请输入邮箱">
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="modal-footer ">
        <div class="text-center">
            <button type="button" class="btn btn-default " ng-click="cancel()">关闭</button>
            <button type="button" class="btn btn-brand " ng-click="ok()">确定</button>
        </div>
    </div>
</div>
