<div class="modal-header">
    <span class="pull-left" style="font-size: 16px;">添加</span>
    <i class="iconfont pull-right icon-guanbi close" ng-click="cancel()"></i>
    <div class=" no-padding pull-right" style="margin-right: 40px;">
        <button type="button" class="btn btn-brand mar-v-3" ng-click="querySysOrg()" style="margin-top: 0px;">搜索</button>
    </div>
    <div class="pull-right">
        <div class="search_box">
            <input type="text" class="input-xs search_input" ng-model="sysOrgName" placeholder="机构名称" style="width: 280px; margin-right: 15px;">
            <i class="iconfont icon-sousuo input-search-img"></i>
        </div>
    </div>
</div>
<div class="modal-body">
    <table class="table table-bordered" style="text-align: center;">
        <tr class="text-align-center-th">
            <th class="col-xs-1">序号</th>
            <th class="col-xs-2">组织名称</th>
            <th class="col-xs-2">组织代码</th>
            <th class="col-xs-1">组织类型</th>
            <th class="col-xs-1">关联</th>
        </tr>
        <tr ng-repeat="appraisalOrg in appraisalOrgList" >
            <td ng-bind="$index+1" style="vertical-align: middle;"></td>
            <td style="vertical-align: middle;">{{appraisalOrg.text}}</td>
            <td style="vertical-align: middle;">{{appraisalOrg.orgCode}}</td>
            <td style="vertical-align: middle;">{{appraisalOrg.category |orgType2Const}}</td>
            <td style="vertical-align: middle;"><i ng-click="addAppraisal(appraisalOrg)" class="iconfont icon-tianjia cursor_pointer" style="color: #3F65D6;"></i></td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <div class="form-group">
        <div class="col-xs-offset-5 col-xs-1">
            <button type="submit" class="btn btn-default" ng-click="cancel()">关闭</button>
        </div>
        <!--<div class="col-xs-1">
            <button type="submit" class="btn btn-brand bg-brand-color" ng-click="ok()">保存</button>
        </div>-->
    </div>
</div>