<div class="role_management_d relative_top">
    <div class="row bg-default">
        <div class="col-xs-12 role_management_right_d">
            <div class="role_management_right_t_d">
                <div class="col-xs-7 role_management_right_t_l_d no-padding">公安交警组织列表</div>
                <div class="col-lg-4 col-xs-4 line-height40 margin-top-6">
                    <div class="search_box">
                        <input type="text" class="input-xs search_input" ng-model="searchArea" placeholder="公安交警名称">
                        <i class="iconfont icon-sousuo input-search-img"></i>
                    </div>
                </div>
                <div class="col-lg-1 col-xs-1 line-height40 no-padding margin-top-6">
                    <button type="button" class="btn btn-brand mar-v-3" ng-click="refreshOrgList()">搜索</button>
                </div>
            </div>
            <div class="clear"></div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="col-xs-1">序号</th>
                            <th class="col-xs-2">组织名称</th>
                            <th class="col-xs-2">组织代码</th>
                            <th class="col-xs-2">区域</th>
                            <th class="col-xs-1">医院机构设置</th>
                            <th class="col-xs-1">工伤医保设置</th>
                            <th class="col-xs-1">鉴定机构设置</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="sysOrg in sysOrgViewList">
                            <td ng-bind="$index+1"></td>
                            <td>{{sysOrg.text}}</td>
                            <td>{{sysOrg.orgCode}}</td>
                            <td>{{sysOrg.extPro | str2JsonContent}}</td>
                            <td class="action_bar">
                                <i class="iconfont icon-fuzhi" style="font-size:18px;" ng-click="relationSysOrg(sysOrg,'#06')"></i>
                            </td>
                            <td class="action_bar">
                                <i class="iconfont icon-sifaju" style="font-size:18px;" ng-click="relationSysOrg(sysOrg,'#07')"></i>
                            </td>
                            <td class="action_bar">
                                <i class="iconfont icon-lian" style="font-size:18px;" ng-click="relationSysOrg(sysOrg,'#03')"></i>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>