
<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">绑定邮箱 <i class="iconfont icon-guanbi close" data-dismiss="modal" ng-click="$dismiss('cancel')"></i></h4>
</div>
<div class="modal-body">
    <form role="form">
    	<div class="form-group">
            <div class="row">
              <div class="col-xs-3 password_reset">
            		<i class="iconfont mailbox green_color">&#xe628;</i>
            	</div>
            	<div class="col-xs-8">
    					<p class="edit_success">恭喜您，邮箱账号绑定成功。</p>
    					<button type="button" class="btn btn-brand" ng-click="$dismiss('cancel')">关闭</button>
            	</div>
            	<div class="col-xs-1"></div>
            </div>
        </div>
       	<br>
       	<br>
    </form>
</div>
  










