<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">修改邮箱 <i class="iconfont icon-guanbi close" data-dismiss="modal" ng-click="cancel()"></i></h4>
</div>
<div class="modal-body">
    <form role="form">
    	<div class="form-group">
            <div class="row">
            	<div class="col-xs-3 password_reset">
            		<i class="iconfont mailbox">&#xe669;</i>
            	</div>
            	<div class="col-xs-8 myForm2_contain">
					<p>激活链接已发送到您的邮箱</p>
					<button type="button" class="btn btn-brand" ng-click="openEmail()">进入邮箱</button>
					<div>如果点击按钮没有反应请登录您的邮箱：{{email}}，完成邮箱绑定操作。</div>
            	</div>
            	<div class="col-xs-1"></div>
            </div>
        </div>
       	<br>
       	<br>
    </form>
</div>











