<div class="row relative_top">
	<div class="col-xs-12 bg-default" style="padding-bottom:60px;">
		<div ng-show="selected">Selection from a modal: {{ selected }}</div>
		<div class="col-xs-12 tit_box">
			<div class="tit_line"></div>
			<div class="tit_personal">个人信息</div>
		</div>
		<div class="">
			<div class="col-xs-1"></div>
			<div class="col-xs-8 personal_information">
				<input ng-model="id" hidden/>
				<p class="per_infor"><span>真实姓名：&nbsp;</span><b>{{name}}</b></p>
				<p class="per_infor"><span>证件类型：&nbsp;</span><b>{{certificateType}}</b></p>
				<p class="per_infor"><span>证件号码：&nbsp;</span><b>{{certificateNumber}}</b></p>
				<p class="per_infor"><span>所属区域：&nbsp;</span><b>{{regionName}}</b></p>
				<p class="edit text-decoration"><span ng-click="open()"><i class="iconfont icon-bianji"></i> 编辑</span></p>
			</div>
			<div class="col-xs-3 personal_information">
				<div style="width: 88px; height: 88px;">
					<img style="width: 100%;" ng-src="{{head}}" alt="..." class="img-rounded">
					<div style="width:140px; position: absolute; top: 12px;left: 110px; z-index: 10;" class="QR_code">
						<img style="width: 100%;" ng-src="{{codeFileName}}" class="img-rounded" ng-click="createCode()">
					</div>
				</div>
				<p class="edit_head text-decoration" data-toggle="modal" data-target="#edit_picture" ng-click="open_head()"><i class="iconfont icon-shangchuan"></i>修改头像</p>
			</div>
		</div>
		<div class="col-xs-12 tit_box" >
			<div class="tit_line"></div>
			<div class="tit_personal">安全信息</div>
		</div>
		<div class="">
			<div class="col-xs-12 safe_information">
				<div class="col-xs-1 text-center">
					<div class="phone_binding" ng-class="{'key_binding':mobile}"><i class="iconfont icon-shouji1"></i></div>
				</div>
				<div class="col-xs-8 text-left">
					<div class="safe_infor_center">
						<p class="phone_number" style="margin-top:15px;">手机号
							<span ng-show="!mobile">（还未绑定）</span>
							<span ng-show="mobile" class="have_binding">{{mobile}}</span>
						</p>
					</div>
				</div>
				<div class="col-xs-3 text-right">
					<p class="binding text-decoration" data-toggle="modal" data-target="#edit_phone" ng-click="open_phone()">立即绑定<!--修改手机号--></p>
				</div>
			</div>
			<div class="col-xs-12 safe_information">
				<div class="col-xs-1 text-center">
					<div class="phone_binding" ng-class="{'key_binding':email}" data-toggle="modal"><i class="iconfont icon-youjian"></i></div>
				</div>
				<div class="col-xs-8">
					<div class="safe_infor_left">
						<p class="phone_number" style="margin-top:15px;">邮箱
							<span ng-show="!email">（还未绑定）</span>
							<span ng-show="email" class="have_binding" >{{email}}</span></p>
					</div>
				</div>
				<div class="col-xs-3 text-right">
					<p class="binding text-decoration" data-toggle="modal" data-target="#edit_mailbox" ng-click="open_mailbox()">立即绑定<!--修改邮箱--></p>
				</div>
			</div>
			<div class="col-xs-12 safe_information">
				<div class="col-xs-1 text-center">
					<div class="phone_binding key_binding"><i class="iconfont icon-yaochi"></i></div>
				</div>
				<div class="col-xs-8">
					<div class="safe_infor_center">
						<p class="phone_number">密码<span></span></p>
						<div class="phone_number_intro">密码要求必须包含字母和数字，且位数在6~16位之间</div>
					</div>
				</div>
				<div class="col-xs-3 text-right">
					<p class="binding text-decoration" data-toggle="modal" data-target="#edit_password" ng-click="open_password()">修改密码</p>
				</div>
			</div>
		</div>
	</div>
</div>