<div class="applicant_cont_box background_color_d" style="width: 1024px; margin: 0 auto;">
  <div class="col-xs-12 boder_bottom padding_top_bottom background_color_d" style="padding: 5px 0px; margin-bottom: 15px;">
    <h4 class="col-xs-8"> <span class="h1_line"></span>
       <span class="ng-scope ng-binding">展示信息</span>
    </h4>
  </div>

  <div class="col-xs-12">
    <div style="padding:26px 0 20px;border-bottom: 1px dashed #ccc;">
      <table class="table table-bordered text-center" >
        <tr class="bg-color">
          <th class="text-center">文件名称</th>
          <th class="text-center">上传时间</th>
          <th class="text-center">下载</th>
        </tr>
        <tr ng-repeat="file in fileList | filter:{picture: false}">
          <td>{{file.name}}</td>
          <td>{{file.createDate}}</td>
          <td><a ng-href="{{downloadFile(file)}}"><i class="iconfont icon-xiazai brand-color"></i></a></td>
        </tr>
      </table>
    </div>
  </div>


  <div class="preview-img" ng-repeat="url in imageList" ng-if="imageList.length > 0">
    <img ng-src="{{url}}" width="1024" style="margin-bottom: 10px;">
  </div>
  <div class="preview-img" ng-repeat="url in imageList" ng-if="imageList.length == 0">
     没有数据
  </div>
</div>