<div class="trail-bg" >
	<div class="trail-border">
		<div class="trail-box">
			<b class="trail-title"><img src="views/images/online_trail.png" alt=""></b>
			<div class="trail-form">
				<form class=" form-horizontal">
					<div class="form-group">
						<label class="control-label col-xs-2 no-padding">证件号</label>
						<div class="col-xs-9">
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-2 no-padding">庭审码</label>
						<div class="col-xs-9">
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-offset-2 col-xs-9">
							<button class="btn btn-trail col-xs-12">进入庭审</button>
						</div>
					</div>
				</form>
			</div>
			<p style="color: #d8faff;">对于正在开庭的案件，只需输入证件号和手机短信接收到的“庭审码”，即可快速进入到庭审界面。</p>
			<button class="btn btn-trail1 look-for" ui-sref="home_page.helpCenter({online:1})">查看在线庭审</button>
		</div>
	</div>
</div>