<div class="shakingNumber_bj">
	<div class="shakingNumber_l">
		<div class="shakingNumber_l_top">
			<div ng-click="checkbox()" ng-class="{shakingNumber_checkbox:notSelect ,shakingNumber_checkbox_c:select}"><input type="checkbox" name=""></div>区域选择
		</div>
		<div class="shakingNumber_l_cont" style="height: 1172px; overflow-y: auto; width: 455px;"> 
			<div class="shakingNumber_l_cont_e" ng-repeat="item in ballArr track by $index">
				<div class="shakingNumber_l_cont_e_l">{{$index + 1 }}</div> 北京中天永信会计师
			</div>
		</div>
	</div>
	<div class="shakingNumber_r">
		<div class="stopWatch"><span>{{stopNum}}</span>s</div>
		<div class="shakingNumber_img_box">
			<!-- 箱中 -->
			<img class="shakingNumberBall" ng-class="{{'{ball'+($index*1+1)+ ': true, ' + 'diaoluo' + ($index*1+1) +': diaoluo, ' + 'wieyi' + ($index*1+1) + ': start}'}}" ng-hide="($index==1||$index==0)&&rollOut" ng-repeat="item in ballArr track by $index" src="views/images/shakingNumber_ball.png"><div>{{$index}}</div>
			<!-- 入口 -->
			<img class="shakingNumberBall ball_e1" src="views/images/shakingNumber_ball.png">
			<img class="shakingNumberBall ball_e2" src="views/images/shakingNumber_ball.png">
			<img class="shakingNumberBall ball_e3" src="views/images/shakingNumber_ball.png">
			<!-- 出口 -->
			<div class="shakingNumberBall ballHide rollOutball"  ng-class="{ball_e4:rollOut}">
				<img  src="views/images/shakingNumber_ball.png">
				<div>1</div>
			</div>
			<div class="shakingNumberBall ballHide rollOutball"  ng-class="{ball_e5:rollOut}">
				<img  src="views/images/shakingNumber_ball.png">
				<div>2</div>
			</div>
			<!-- 鉴定机构名称 -->
			<div class="two_name">
				<p class="">北京中天永信会计师1</p>
				<p class="" style="font-size: 20px;">北京中天永信会计师2<span style="color: #ff0000;">(备选)</span></p>
			</div>
			<div class="one_name">
				<p>北京中天永信会计师1</p>
			</div>
			<!-- 背景图 -->
			<img src="views/images/shakingNumber_box.png"> 
 
		</div>
		<!-- 手动按钮 -->
		<div class="manualButton">
			<img src="views/images/shakingNumber_btn.png">
			<img src="views/images/shakingNumber_btn.png" ng-hide="manualButton_h"  ng-click="manualShakingNumber()">
			<img class="hoverImg"  src="views/images/shakingNumber_btn_h.png">
		</div>
		<!-- 自动按钮 -->
		<div class="automaticButton" >
			<img src="views/images/shakingNumber_btn2.png">
			<img src="views/images/shakingNumber_btn2.png" ng-hide="automaticButton_h" ng-click="stopWatch()">
			<img class="hoverImg"  src="views/images/shakingNumber_btn2_h.png">
		</div>
	</div>
	<div class="clear"></div>
</div>