<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0;border-color: rgba(255,255,255,0.27)">
    <div class="navbar-header col-xs-6">
        <a class="AIO-navbar-brand">
            <img style="width: 800px;" class="bd_logo" src="views/images/AIO_logo.png">
        </a>
    </div>
    <div class="navbar-header col-xs-6">
        <span ng-show="showHeaderQuitBtn" class="AIO-header-btn pull-right btnPress" style="margin-right: 15px;font-size: 26px;" ng-click="handleExit()"><i class="iconfont" style="margin-right: 7px;font-size: 26px;line-height: 62px;">&#xe6c6;</i>退出</span>
        <span ng-show="showHeaderBackBtn" class="AIO-header-btn pull-right back btnPress" style="margin-right: 20px;" ng-click="handlePrev()">返回</span>
    </div>

    <!--退出提示框-->
    <!-- <div class="AIO-masker" ng-show="boxShow">
        <div class="AIO-alert-box">
            <p class="title">确定退出吗？</p>
            <p class="content">退出后将返回首页</p>
            <div style="text-align: center; margin-top: 25px;">
                <button ng-click="handleAlertBox1()" class="btn1 btnPress">取消</button>
                <button ng-click="handleAlertBox2()" class="btn2 btnPress">确定</button>
            </div>
        </div>
    </div>
 -->
    <!--文本提示框-->
    <!-- <div class="AIO-masker" ng-show="infoBoxShow">
        <div class="AIO-alert-box">
            <p class="title">提示</p>
            <p class="content">{{infoBoxShowTxt}}</p>
            <div style="text-align: center; margin-top: 25px;">
                <button ng-click="handleInfoBtn()" class="btn2 btnPress">确定</button>
            </div>
        </div>
    </div> -->
</nav>