<div class="module-box bg-default">
	<div class="nav-line-left">
		<h4>
			<span class="h1_line"></span>
			待审批
		</h4>
	</div>
	<div class="module-content font-size13">
		<form role="form" class="form-horizontal form-input">

			<div class="row clearfix ">
				<div class="form-group col-lg-6 col-xs-5 row clearfix">
					<div class="col-lg-3 col-xs-5 text-right">
						<label class=" control-label"><i>*</i> 收件日期</label>
					</div>
					<div class="col-lg-9 col-xs-6">
						<div class="input-group">
							<input type="text" class="form-control" readonly datepicker-popup="yyyy-MM-dd" name="receiveDate" ng-model="law.receiveDate" is-open="law.opened" datepicker-options="{startingDay:1}"  show-weeks="false" show-button-bar="false">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="open($event,law)">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group col-xs-6" ng-if="law.lawPersonType">
					<label class="col-lg-3 col-xs-12 control-label"> <i>*</i>是否诉前调解</label>
					<div class="col-lg-9 col-xs-11">
						<label class="radio-inline col-xs-5">
							<input type="radio" name="isAdjustName" value="1" ng-model="law.isAdjust" > 是
						</label>
						<label class="radio-inline col-xs-5">
							<input type="radio" name="isAdjustName" value="2" ng-model="law.isAdjust" > 否
						</label>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>