<div class="bg-default" style="margin-left: -15px; margin-right: -15px;">
	<div class=" panel-heading">
		<div class="row">
			<h4 class="col-xs-4 col-lg-7"><span class="h1_line"></span>{{options.title}}</h4>
			<div class="row col-xs-8 col-lg-5">
				<div class="col-xs-12 line-height40">
					<button type="button" class="btn btn-brand pull-right" style="margin-right: 15px; margin-left: 14px; margin-top: 3px;" ng-click="handleSearch()">搜索</button>
					<div class="search_box pull-right"  style="width: 212px;">
						<input type="text" class="input-xs search_input" ng-model="searchVO.searchPerson" placeholder="请输入流水号，案号，当事人">
						<i class="iconfont icon-sousuo input-search-img"></i>
					</div>
					<button type="button" style="margin-bottom: 3px;" class="btn btn-brand" ng-if="options.flag==0" ng-click="addLawCase()">新增案件</button>
				</div>
			</div>
		</div>
	</div>

	<div class="panel-body no-padding-v" ng-if="secondIntanceInfoList.length != 0">
		<table class="table table-striped-info table-hover table-fixed">
			<thead>
				<tr>
					<th>流水号</th>
					<th ng-hide="searchVO.state == '1001'">案号</th>
					<th ng-if="searchVO.state == '1001'">原审案号</th>
					<th>当事人</th>
					<th>案由</th>
					<th>立案登记日期</th>
					<th>状态</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="secondIntanceInfo in secondIntanceInfoList">
					<td><label class="cur-pointer"><a ng-click="queryDetail(secondIntanceInfo)" title="点击查询详细">{{secondIntanceInfo.serialNo}}</a></label></td>
					<td ng-hide="searchVO.state == '1001'">{{secondIntanceInfo.secondLawNo}}</td>
					<td ng-if="searchVO.state == '1001'">{{secondIntanceInfo.orgLawNo}}</td>
					<td class="hide-nowrap">
						<span>上诉人：{{secondIntanceInfo.appellantAll}}</span>
						<br>
						<span>被上诉人：{{secondIntanceInfo.appelleeAll}}</span>
					</td>
					<td>{{secondIntanceInfo.reason | reason2Text:factTypeList}}</td>
					<td>{{secondIntanceInfo.filingDate.split(' ')[0]}}</td>
					<td>{{secondIntanceInfo.state | reason2Text:stateList}}</td>
				</tr>
			</tbody>
		</table>
		<div class="text-center">
			<pagination previous-text="<" next-text=">" first-text="<<" last-text=">>" items-per-page="searchVO.pageSize" class="pagination-custom" total-items="searchVO.pageTotal" ng-model="searchVO.pageNo" max-size="7" boundary-links="true" rotate="false" ng-change="pageChanged()"></pagination>
		</div>
	</div>
	<div ng-if="secondIntanceInfoList.length == 0" class="text-center" style="padding-bottom: 20px;">
		<img src="views/images/search_null.png" ><br>
		抱歉，未找到相关内容！
	</div>
</div>
