<style type="text/css">.form-group{margin-bottom: 20px;}</style>
<!-- 上诉人 -->
<!-- 添加上诉人 -->
<div class="add_Applicant ng-scope ng-binding" ng-show="options.step <= 3" ng-click="addApplicant()"><i class="iconfont icon-tianjia"></i> &nbsp;&nbsp; 添加{{stepArray[options.step-1].value}}</div>
<div class="">
	<div class="row background_color_d panel-body clear" style="padding-left: 15px; padding-right: 15px;margin-top:10px" ng-repeat="applicant in secondInstanceInfoVO.secondInstanceApplicantArray | filter:{'personType': options.step-1}">
		<div class="applicant_cont_box background_color_d" >
		  <!-- 申请人标题-->
		  <div class="row background_color_d" style="padding-left: 15px; padding-right: 15px;">
			<div class="col-xs-12 boder_bottom padding_top_bottom" style="padding: 5px 0px;">
			  <h4 class="col-xs-8" style="margin-left: -10px;"> <span class="h1_line"></span>
			  <span>{{stepArray[options.step-1].value}}信息</span>
			  </h4>
			  <div class="pull-right"  style="color: #3F65D6; line-height: 40px; cursor: pointer; margin-right: 20px;" ng-click="deleteApplicant(applicant)">删除{{stepArray[options.step-1].value}}</div>
			</div>
		  </div>
		  <div class="row padding_top_bottom background_color_d">
			  <div ng-if="applicant.certificatesType!=5 && applicant.idType == 0" class="col-xs-12 text-right line_heght control-label" style="color:#666">温馨提示：请先上传证件照片，上传小于10M大小的图片</div>
		  </div>
		</div>
	  <!-- 显示内容 -->
	  <div class="row show_cont background_color_d " style="margin-bottom: 15px;">
	    <div class="row">
	      <form class="col-xs-6 form-horizontal">
	      	<div class="col-xs-12 form-group form-group-sm">
	          <label class="col-xs-4 control-label" >
	            <span class="Required">*</span>
	            <span>原审诉讼地位</span>
	          </label>
	          <div class="col-xs-8" ng-class="{'has-error': applicant.lawTypeError}">
	            <select class="form-control" ng-model="applicant.lawType">
					<option ng-selected="applicant.lawType == 0" value="0">请选择</option>
	            	<option ng-selected="applicant.lawType == 1" value="1">原告</option>
		            <option ng-selected="applicant.lawType == 2" value="2">被告</option>
	            </select>
	          </div>
	        </div>
	        <div class="col-xs-12 form-group form-group-sm">
	          <label class="col-xs-4 control-label" >
	            <span class="Required">*</span>
	            <span>身份类型</span>
	          </label>
	          <div class="col-xs-8" >
	            <div class="radio" >
					<label class="margin-right-20" ng-repeat="type in options.idTypeList">
						<input type="radio" name="idType" ng-value="type.id" ng-model="applicant.idType">{{type.value}}
					</label>
				</div>
	          </div>
	        </div>
		    <!-- 身份类型：公民 -->
		    <div ng-if="applicant.idType == 0">
				<div class="col-xs-12 form-group form-group-sm">
				  <label class="col-xs-4 control-label" >
					<span class="Required">*</span>
					<span>{{stepArray[options.step-1].value}}姓名</span>
				  </label>
				  <div class="col-xs-8" ng-class="{'has-error': applicant.personNameError}">
					<input type="text" class="form-control" ng-model="applicant.personName" placeholder="请填写上诉人姓名" maxlength="30">
				  </div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
				  <label class="col-xs-4 control-label" >
					<span class="Required">*</span>
					<span>证件类型</span>
				  </label>
				  <div class="col-xs-8" >
					<select class="form-control" ng-change="certificatesTypeChange(applicant, true)" ng-model="applicant.certificatesType" ng-init="certificatesTypeChange(applicant)">
						<option ng-selected="applicant.certificatesType == item.id" ng-value="item.id" ng-repeat="item in options.certificatesTypeList">{{item.value}}</option>
					</select>
				  </div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
				  <label class="col-xs-4 control-label"><span class="Required">*</span>证件号码</label>
				  <div class="col-xs-8" ng-class="{'has-error': applicant.idNoError}">
					<input type="text" class="form-control" ng-model="applicant.certificatesNo" placeholder="请填写证件号码" maxlength="30" ng-blur="checkIdentity(applicant)">
				  </div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
				  <label class="col-xs-4 control-label">
					<span class="Required">*</span>
					<span>性别</span>
				  </label>
				  <div class="col-xs-8">
					<div class="radio" style="padding-top: 0px;">
					  <label>
						<input type="radio" name="gender" value="0" ng-model="applicant.sex">男
					  </label>
					  <label></label>
					  <label>
						<input type="radio" name="gender" value="1" ng-model="applicant.sex">女
					  </label>
					</div>
				  </div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
				  <label class="col-xs-4 control-label"><i>*</i>出生日期</label>
				  <div class="col-xs-8">
					<p class="input-group" ng-class="{'has-error': applicant.birthDayError}">
					  <input type="text" class="form-control" is-open="options.birthdayOpened" ng-model="applicant.birthday" datepicker-popup="yyyy-MM-dd" max-date="toDay" close-text="关闭" clear-text="清除" current-text="今天" readonly />
					  <span class="input-group-btn">
						<button type="button" class="btn btn-default btn-default-padding" ng-click="openBirthdayInfoDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					  </span>
					</p>
				  </div>
				</div>
				<div class="col-xs-12 form-group form-group-sm" style="margin-top: -10px;">
				  <label class="col-xs-4 control-label"><span class="Required">*</span>民 族</label>
				  <div class="col-xs-8" ng-class="{'has-error': applicant.nationError}">
					<input type="text" class="form-control" ng-model="applicant.nation" placeholder="请填写民族" maxlength="4">
				  </div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
				  <label class="col-xs-4 control-label">电话号码</label>
				  <div class="col-xs-8" style="position: relative;" ng-class="{'has-error': applicant.telephoneError}">
					<input type="text" maxlength="20" class="form-control" ng-model="applicant.telephone" placeholder="请填写手机号或座机号(注：座机号无法接收短信)">
				  </div>
				</div>
				<div class="col-xs-12 form-group form-group-sm" ng-if="applicant.lawType == 2">   <!-- 原审诉讼地位:被告显示 -->
				  <label class="col-xs-4 control-label">车牌号</label>
				  <div class="col-xs-8" style="position: relative;">
					<input type="text" maxlength="20" class="form-control" ng-model="applicant.plateNo" placeholder="请填写车牌号">
				  </div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
				  <label class="col-xs-4 control-label">电子邮箱</label>
				  <div class="col-xs-8" style="position: relative;" ng-class="{'has-error': applicant.emailError}">
					<input type="text" maxlength="20" class="form-control" ng-model="applicant.email" placeholder="请填写电子邮箱">
				  </div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
				  <label class="col-xs-4 control-label"><span class="Required">*</span>户籍所在地</label>
				  <div class="col-xs-8" ng-class="{'has-error': applicant.domicileError}">
					<input type="text" class="form-control" ng-model="applicant.domicile" placeholder="请填写户籍所在地" maxlength="50">
				  </div>
				</div>
				<div class="col-xs-12 form-group form-group-sm">
				  <label class="col-xs-4 control-label">
					<span class="Required">*</span>居住地
				  </label>
				  <div class="col-xs-8" ng-class="{'has-error': applicant.residenceError}">
					<input type="text" class="form-control" ng-model="applicant.residence" placeholder="请填写居住地" maxlength="50">
				  </div>
				</div>
				<div class="col-xs-12 form-group form-group-sm" >
				  <label class="col-xs-4 control-label "><span class="Required">*</span>送达地址</label>
				  <div class="col-xs-8" ng-class="{'has-error': applicant.sendAddressError}">
					<input type="text" class="form-control" ng-model="applicant.sendAddress" placeholder="请填写送达地址" maxlength="100">
				  </div>
				</div>
		    </div>
		    <!-- 身份类型：公民 -->

		    <!-- 身份类型：法人 -->
		    <div ng-if="applicant.idType != 0">
				<div class="col-xs-12 form-group form-group-sm" ng-if="applicant.lawType == 2 && applicant.idType != 2"> <!-- 原审诉讼地位=被告 -->
		          <label class="col-xs-4 control-label">类型</label>
		          <div class="col-xs-8">
		            <div class="row radio col-xs-6" ng-repeat="type in options.companyTypeList">
		              <label>
		                <input type="radio" ng-model="applicant.companyType" ng-value="type.id">{{type.value}}
		              </label>
		            </div>
		          </div>
		        </div>
		        <div class="col-xs-12 form-group form-group-sm">
		          <label class="col-xs-4 control-label">
		            <span class="Required">*</span>
		            <span ng-if="applicant.idType == 1">企业名称</span>
		            <span ng-if="applicant.idType == 2">组织名称</span>
		          </label>
		          <div class="col-xs-8" ng-class="{'has-error':applicant.personNameError}">
		            <input type="text" class="form-control" ng-model="applicant.personName" placeholder="请填写名称"  maxlength="50">
		          </div>
		        </div>
		        <div ng-if="applicant.companyType == 1 && applicant.lawType == 2 && applicant.idType != 2"><!-- 原审诉讼地位=被告、身份类型=法人、类型=保险公司时显示 -->
		          <div>
		            <div class="col-xs-12 form-group form-group-sm" >
		              <label class="col-xs-4 control-label">总公司</label>
		              <div class="col-xs-8" style="position: relative;">
		                <input type="text" class="form-control" ng-model="applicant.centralCompanyName" ng-focus="insuranceFocus()" ng-blur="blurInsurance()" placeholder="请填写承保保险公司" readonly maxlength="50">
						  <ul class="select_border position_ul" ng-show="insuranceShow" style="cursor: pointer">
						    <li ng-repeat="x in insuranceList" id = "x.id" ng-click="selectItems(applicant, x)">{{x.text}}</li>
						  </ul>
		              </div>
		            </div>
		            <div class="col-xs-12 form-group form-group-sm " >
		              <div class="col-xs-8 col-xs-offset-4 company_box">
		                <span class="select_company" ng-click="selectCompanyPopup = true">选择常用保险公司</span> | <span class="select_company" ng-click="saveInsurance(applicant)">保存到常用保险公司</span>
		                <div class="row select_company_popup" ng-show="selectCompanyPopup">
		                  <div class="col-xs-12 ">
		                    <div class="col-xs-4 mar-top-10"><h4>选择常用保险公司</h4></div>
		                    <div class="col-xs-1 pull-right  line-height-34 no-padding"><i class="iconfont icon-guanbi pull-right" ng-click="selectCompanyPopup = false"></i></div>
		                    <div class="col-xs-7 margin_top pull-right">
		                      <div class="input-group col-xs-12">
		                        <input type="text" class="form-control" placeholder="请输入关键字搜索" ng-model="commonCompany.searchName" >
		                      </div>
		                    </div>
		                  </div>
		                  <div class="col-xs-12 select_company_popup_box" style="max-height:114px; overflow: auto">
		                    <div class="col-xs-12 radio" ng-repeat="x in commonInsuranceList | filter:{headOffice:commonCompany.searchName}" style="overflow: hidden; height: 25px;">
		                      <label>
		                        <input type="radio" ng-model="applicant.commonInsurance" value="{{x.id}}" ng-checked="applicant.commonInsurance == x.id">{{x.headOffice}} | {{x.companyName}}{{x.legalName? " | "+x.legalName: ""}}{{x.telephone? " | "+x.telephone: ""}}
		                      </label>
		                    </div>
		                  </div>
		                  <div class="col-xs-12" style="margin-bottom: 10px;">
		                    <button type="button" class="btn btn-brand pull-right" ng-click="selectCommonInsurance(applicant);selectCompanyPopup=false">确定</button>
		                  </div>
		                </div>
		              </div>
		            </div>
		            <div class="col-xs-12 form-group form-group-sm" >
		              <label class="col-xs-4 control-label">报案号</label>
		              <div class="col-xs-7">
		                <input type="text" class="form-control" ng-model="applicant.lossNo" placeholder="请填写报案号"  maxlength="30">
		              </div>
		              <div class="col-xs-1"><i class="iconfont icon-sousuo" style="margin-left: -10px; font-size: 20px; color: #3F65D6;" ng-click="queryPeopleInjured(applicant)"></i></div>
		            </div>
		          </div>
		        </div>
		        <div class="col-xs-12 form-group form-group-sm">
		          <label class="col-xs-4 control-label"><span class="Required">*</span>代表人类型</label>
		          <div class="col-xs-8">
		            <div class="radio col-xs-6" style="margin-left: -14px;" ng-repeat="type in options.legalTypeList">
		              <label>
		                <input type="radio" ng-model="applicant.legalType" ng-value="type.id">{{type.value}}
		              </label>
		            </div>
		          </div>
		        </div>
		        <div class="col-xs-12 form-group form-group-sm" ng-if="applicant.lawType != 0 || (applicant.lawType == 2 && (applicant.companyType == 2 || applicant.idType == 2))"> <!-- 身份类型=法人或其他组织时显示 -->
		          <label class="col-xs-4 control-label"><span class="Required">*</span>代表人姓名</label>
		          <div class="col-xs-8" ng-class="{'has-error':applicant.legalNameError}">
		            <input type="text" class="form-control" ng-model="applicant.legalName" placeholder="请填写代表人姓名" maxlength="20">
		          </div>
		        </div>
		        <div class="col-xs-12 form-group form-group-sm">
		          <label class="col-xs-4 control-label"><span class="Required">*</span>公司职务</label>
		          <div class="col-xs-8" ng-class="{'has-error':applicant.positionError}">
		            <input type="text" class="form-control" ng-model="applicant.position" placeholder="请填写公司职务"  maxlength="10">
		          </div>
		        </div>
		        <div class="col-xs-12 form-group form-group-sm" ng-if="!(applicant.idType == 2)"><!-- 原审诉讼地位=原告、身份类型=法人时显示 --><!-- 原审诉讼地位=被告、身份类型=法人时显示 -->
		          <label class="col-xs-4 control-label">组织机构代码证号</label>
		          <div class="col-xs-8">
		            <input type="text" class="form-control" ng-model="applicant.comCode" placeholder="请填写工商注册号"  maxlength="20">
		          </div>
		        </div>
		        <div class="col-xs-12 form-group form-group-sm">
		          <label class="col-xs-4 control-label">电话号码</label>
		          <div class="col-xs-8" ng-class="{'has-error':applicant.telephoneError}" style="position: relative;">
		            <input type="text" class="form-control" maxlength="20" ng-model="applicant.telephone" placeholder="请填写手机号或座机号(注：座机号无法接收短信)">
		          </div>
		        </div>
		        <div class="col-xs-12 form-group form-group-sm" ng-if="!(applicant.idType == 2 || applicant.lawType == 1) || (applicant.idType == 2 && applicant.lawType == 2)"> <!--  原审诉讼地位=被告显示 -->
		          <label class="col-xs-4 control-label">车牌号</label>
		          <div class="col-xs-8" ng-class="{'has-error':applicant.plateNoError}">
		            <input type="text" id="plateNo" class="form-control" ng-model="applicant.plateNo" placeholder="请填写车牌号" maxlength="20">
		          </div>
		        </div>
		        <div class="col-xs-12 form-group form-group-sm">
		          <label class="col-xs-4 control-label">
		            <span class="Required">*</span>居住地
		          </label>
		          <div class="col-xs-8" ng-class="{'has-error':applicant.residenceError}">
		            <input type="text" class="form-control" ng-model="applicant.residence" placeholder="请填写居住地" maxlength="50">
		          </div>
		        </div>
		        <div class="col-xs-12 form-group form-group-sm" >
		          <label class="col-xs-4 control-label "><span class="Required">*</span>送达地址</label>
		          <div class="col-xs-8" ng-class="{'has-error':applicant.sendAddressError}">
		            <input type="text" class="form-control" ng-model="applicant.sendAddress" placeholder="请填写送达地址"  maxlength="100">
		          </div>
		        </div>
		    </div>
		    <!-- 身份类型：法人 -->

	      </form>
			<!--  右边证件照 -->
			<div class="col-xs-6" style="margin-top: -10px;" ng-if="applicant.certificatesType!=5 && applicant.idType == 0">
				<div class="img_box_cont">
					<div class=" margin_top img_box_boder Front ">
						<img style="width: 278px;height:208.5px" class="id_img" ng-src="{{applicant.idFacePicture.indexOf(options.defaultImg)==-1&&applicant.idFacePicture.indexOf(options.defaultImg2)==-1 ?imageAddress+applicant.idFacePicture:applicant.idFacePicture}}" ngf-pattern="'image/*'" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" ngf-select="uploadImage($file, applicant, 'face', 'applicant')" ng-click="checkflash()">
						<div class="img_bottom_bar">
						  <p><span ng-if="applicant.certificatesType==0">证件照身份证号面</span><span ng-if="applicant.certificatesType!=0">{{applicant.certificatesType|certificatesTypeToText:options.certificatesTypeList}}正面</span><i class="iconfont icon-iconfont19" ng-click="removeApplicantImage(applicant, 'face')"></i></p>
						</div>
					</div>
				</div>
				<div class="img_box_cont">
					<div class=" margin_top img_box_boder Back ">
						<img style="width: 278px;height:208.5px" class="id_img" ng-src="{{applicant.idBackPicture.indexOf(options.defaultImg)==-1&&applicant.idBackPicture.indexOf(options.defaultImg3)==-1 ?imageAddress+applicant.idBackPicture:applicant.idBackPicture}}" ngf-pattern="'image/*'" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" ngf-select="uploadImage($file, applicant, 'back', 'applicant')" ng-click="checkflash()">
						<div class="img_bottom_bar">
						  <p><span ng-if="applicant.certificatesType==0">证件照国徽面</span><span ng-if="applicant.certificatesType!=0">{{applicant.certificatesType|certificatesTypeToText:options.certificatesTypeList}}反面</span><i class="iconfont icon-iconfont19" ng-click="removeApplicantImage(applicant, 'back')"></i></p>
						</div>
				  	</div>
				</div>
			</div>
	    <!--  右边证件照 -->
	    </div>
	  </div>
	  <!-- 显示内容 -->

	  <!-- 代理人 -->
	  <div class="row agent_list clearfix"  style="padding-left: 20px; padding-right: 20px; margin-top: 15px;" ng-repeat="agent in applicant.secondInstanceAgentInfoList">
	    <div class="col-xs-12 agent_list_e agent_list_bj hide" style="border-bottom: 1px dashed #b8b8b8;" ></div>
	    <div class="col-xs-12 agent_list_e agent_list_bj">
	      <div class="col-xs-12 padding_top_bottom ">
	        <div class="col-xs-8">
	          <div class="pull-left line_heght">
	            代理人
	          </div>
	        </div>
	        <div class="col-xs-4">
	          <div class="pull-right" style="color: #3F65D6; line-height: 40px; cursor: pointer;" ng-click="deleteAgent(applicant, agent)">删除代理人</div>
	        </div>
	      </div>
	      <form class="form-horizontal">
	        <div class="col-xs-12 form-group form-group-sm">
	          <label class="col-xs-2 control-label"><i>*</i>代理人类型</label>
	          <div class="col-xs-2" ng-repeat="type in options.agentTypeList">
	            <div class="radio">
	              <label>
	                <input type="radio" ng-model="agent.agentType" ng-value="type.id" name="AgentType">{{type.value}}
	              </label>
	            </div>
	          </div>
			  <div class="col-xs-3 col-lg-2">
			    <div class="checkbox">
				  <label>
					<input class="ng-pristine ng-valid" type="checkbox" ng-false-value="0" ng-true-value="1" ng-model="agent.mainContacts"> 主要联系人
				  </label>
			    </div>
			  </div>
	        </div>
			<div class="col-xs-12 form-group form-group-sm" ng-if="agent.agentType != 1">
			  <label class="col-xs-2 control-label" ><i>*</i>代理人身份</label>
			  <div class="col-xs-2">
				  <select class="form-control" ng-model="agent.agentIdentity" ng-options="v.id as v.value for v in options.agentIdentityList">
				  </select>
			  </div>
			  <div class="col-xs-2" ng-if="agent.agentIdentity == 1">
			    <select class="form-control" ng-model="agent.agentIdentityItem" ng-options="v.id as v.value for v in options.agentIdentityItemList">
			    </select>
			  </div>
			  <div ng-if="agent.agentIdentity == 1 && agent.agentIdentityItem == 1">
				  <label class="col-xs-2 control-label"><i>*</i>与当事人关系</label>
				  <div class="col-xs-4" ng-class="{'has-error': agent.agentIdentityItemError}">
					  <input type="text" class="form-control" ng-model="agent.relation" placeholder="请填写与当事人关系">
				  </div>
			  </div>
			</div>
			<div class="col-xs-12 form-group form-group-sm">
			  <label class="col-xs-2 control-label" >
			  	<span class="Required">*</span>
			  	<span>证件类型</span>
			  </label>
			  <div class="col-xs-4" >
			  	<select class="form-control" ng-model="agent.certificatesType" ng-options="v.id as v.value for v in options.certificatesTypeList">
			  	</select>
			  </div>
			  <label class="col-xs-2 control-label" ng-if="agent.certificatesType != 5"><i>*</i>证件号码</label>
			  <div class="col-xs-4" ng-class="{'has-error': agent.idNoError}" ng-if="agent.certificatesType != 5">
				  <input type="text" class="form-control" ng-model="agent.idNo" placeholder="请填写证件号码" ng-blur="agentCheckIdentity(agent)">
			  </div>
			</div>
		    <!--出生日期 公民时出现-->
		    <div class="col-xs-12 form-group form-group-sm" ng-if="agent.agentIdentity == 1">
				<label class="col-xs-2 control-label"><i>*</i>出生日期</label>
				<div class="col-xs-3">
					<p class="input-group" ng-class="{'has-error': agent.birthDayError}">
						<input type="text" class="form-control" is-open="options.agentBirthdayOpened" ng-model="agent.birthDay" datepicker-popup="yyyy-MM-dd" max-date="toDay" close-text="Close" readonly />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default btn-default-padding" ng-click="openAgentBirthdayInfoDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</p>
				</div>
				<label class="col-xs-1 control-label">
					<span class="Required">*</span>
					<span>性别</span>
				</label>
				<div class="col-xs-2">
					<div class="radio" style="padding-top: 0px;">
						<label>
							<input type="radio" name="agentGender" value="0" ng-model="agent.sex">男
						</label>
						<label></label>
						<label>
							<input type="radio" name="agentGender" value="1" ng-model="agent.sex">女
						</label>
					</div>
				</div>
				<label class="col-xs-1 control-label"><span class="Required">*</span>民 族</label>
				<div class="col-xs-3" ng-class="{'has-error': agent.nationError}">
					<input type="text" class="form-control" ng-model="agent.nation" placeholder="请填写民族" maxlength="4">
				</div>
			</div>
	        <!-- 代理人委托 -->
	        <div>
	          <div class="col-xs-12 form-group form-group-sm" ng-if="agent.agentType != 1">
	            <label class="col-xs-2 control-label"><i>*</i>委托授权</label>
	            <div class="col-xs-4">
	              <select class="form-control" ng-model="agent.entrustPower" ng-options="v.id as v.value for v in options.entrustPowerList">
	              </select>
	            </div>
	          </div>
	          <div class="col-xs-12 form-group form-group-sm" ng-if="agent.agentType != 1">
	            <div class="col-xs-10 col-xs-offset-2">
	              <div class="checkbox col-xs-6 col-lg-4 padding-right0" ng-repeat="v in options.agentPowerList">
	                <label class="margin-left--12">
						<input type="checkbox" ng-checked="agent.entrustPowerDetail['id_'+v.id]" ng-click="agentPower($event, agent, v)">{{v.name}}
	                </label>
	              </div>
	            </div>
	          </div>
			  <div class="col-xs-12 form-group form-group-sm" ng-if="agent.agentType == 1">
			  	<label class="col-xs-2 control-label" >
				  <span class="Required">*</span>
				  <span>与当事人关系</span>
			  	</label>
			  	<div class="col-xs-4" >
				  <select class="form-control" ng-model="agent.relation" ng-options="v.id as v.value for v in options.relationList">
			  	  </select>
			  	</div>
			  </div>
	          <div class="col-xs-12 form-group form-group-sm">
	            <label class="col-xs-2 control-label"><i>*</i>代理人姓名</label>
	            <div class="col-xs-4" ng-class="{'has-error': agent.agentNameError}">
	              <input type="text" class="form-control" ng-model="agent.agentName" placeholder="请填写代理人姓名" maxlength="20">
	            </div>
	            <label class="col-xs-2 control-label"><i>*</i>手机号</label>
	            <div class="col-xs-4" ng-class="{'has-error': agent.telephoneError}">
	              <input type="text" data-flag="agent" maxlength="20" class="form-control" ng-model="agent.telephone" placeholder="请填写11位手机号码">
	            </div>
	          </div>
				<!--户籍所在地-->
			  <div class="col-xs-12 form-group form-group-sm" ng-if="agent.agentType == 1 || agent.agentIdentity == 1">
				<label class="col-xs-2 control-label"><i>*</i>户籍地</label>
				<div class="col-xs-10" ng-class="{'has-error': agent.domicileError}">
					<input type="text" class="form-control" ng-model="agent.domicile" placeholder="请填写户籍地">
				</div>
			  </div>
	          <div class="col-xs-12 form-group form-group-sm" ng-if="agent.agentType != 1">
	            <label class="col-xs-2 control-label">单位名称</label>
	            <div class="col-xs-4">
	              <input type="text" maxlength="50" ng-model="agent.companyName" class="form-control" placeholder="请填写单位名称">
	            </div>
	          </div>
				<!--居住地-->
			  <div class="col-xs-12 form-group form-group-sm" ng-if="agent.agentType == 1">
				<label class="col-xs-2 control-label"><i>*</i>居住地</label>
				<div class="col-xs-4" ng-class="{'has-error': agent.residenceError}">
					<input type="text" ng-model="agent.residence" class="form-control" placeholder="请填写居住地">
				</div>
			  </div>
	          <div class="col-xs-12 form-group form-group-sm">
	            <label class="col-xs-2 control-label"><i>*</i>送达地址</label>
	            <div class="col-xs-10" ng-class="{'has-error': agent.sendAddressError}">
	              <input type="text" class="form-control" ng-model="agent.sendAddress" placeholder="请填写送达地址" maxlength="100">
	            </div>
	          </div>
	          <div class="col-xs-12 form-group form-group-sm" >
	            <div class="col-xs-12" style="color: #666;">温馨提示：上传小于10M大小的图片</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
				  <div class=" margin_top img_box_boder Front ">
					  <img style="width: 100%;height:160.5px" class="id_img" ng-src="{{agent.idFront.indexOf(options.defaultImg)==-1&&agent.idFront.indexOf(options.defaultImg2)==-1 ?imageAddress+agent.idFront:agent.idFront}}" ngf-pattern="'image/*'" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" ngf-select="uploadImage($file, agent, 'agentFace', 'agent')" ng-click="checkflash()">
					  <div class="img_bottom_bar">
						  <p>代理人证件照身份证号面<i class="iconfont icon-iconfont19" ng-click="removeApplicantImage(agent, 'agentFace')"></i></p>
					  </div>
				  </div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
				  <div class=" margin_top img_box_boder Front ">
					  <img style="width: 100%;height:160.5px" class="id_img" ng-src="{{agent.idBack.indexOf(options.defaultImg)==-1&&agent.idBack.indexOf(options.defaultImg3)==-1 ?imageAddress+agent.idBack:agent.idBack}}" ngf-pattern="'image/*'" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" ngf-select="uploadImage($file, agent, 'agentBack', 'agent')" ng-click="checkflash()">
					  <div class="img_bottom_bar">
						  <p>代理人证件照国徽面<i class="iconfont icon-iconfont19" ng-click="removeApplicantImage(agent, 'agentBack')"></i></p>
					  </div>
				  </div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" ng-if="agent.agentType != 1">
				  <div class=" margin_top img_box_boder Front ">
					  <img style="width: 100%;height:160.5px" class="id_img" ng-src="{{agent.entrustFile.indexOf(options.defaultImg)==-1&&agent.entrustFile.indexOf(options.defaultImg)==-1 ?imageAddress+agent.entrustFile:agent.entrustFile}}" ngf-pattern="'image/*'" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" ngf-select="uploadImage($file, agent, 'entrust', 'agent')" ng-click="checkflash()">
					  <div class="img_bottom_bar">
						  <p>委托书<i class="iconfont icon-iconfont19" ng-click="removeApplicantImage(agent, 'agentEntrust')"></i></p>
					  </div>
				  </div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" ng-if="agent.agentType != 1">
				  <div class=" margin_top img_box_boder Front ">
					  <img style="width: 100%;height:160.5px" class="id_img" ng-src="{{agent.feeCertificate.indexOf(options.defaultImg)==-1&&agent.feeCertificate.indexOf(options.defaultImg)==-1 ?imageAddress+agent.feeCertificate:agent.feeCertificate}}" ngf-pattern="'image/*'" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" ngf-select="uploadImage($file, agent, 'feeCertificate', 'agent')" ng-click="checkflash()">
					  <div class="img_bottom_bar">
						  <p>不收取费用证件书<i class="iconfont icon-iconfont19" ng-click="removeApplicantImage(agent, 'agentFeeCertificate')"></i></p>
					  </div>
				  </div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" ng-if="agent.agentType == 1">
				  <div class=" margin_top img_box_boder Front ">
					  <img style="width: 214px;height:160.5px" class="id_img" ng-src="{{agent.relationSupport.indexOf(options.defaultImg)==-1&&agent.relationSupport.indexOf(options.defaultImg)==-1 ?imageAddress+agent.relationSupport:agent.relationSupport}}" ngf-pattern="'image/*'" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" ngf-select="uploadImage($file, agent, 'relationSupport', 'agent')" ng-click="checkflash()">
					  <div class="img_bottom_bar">
						  <p>与当事人的关系证明<i class="iconfont icon-iconfont19" ng-click="removeApplicantImage(agent, 'agentRelationSupport')"></i></p>
					  </div>
				  </div>
				</div>
	          </div>
	        </div>
	        <!-- 代理人委托 -->
	      </form>
	    </div>
	  </div>
	  <!-- 添加代理人按钮 -->
	  <div class="row background_color_d" style="margin-bottom: 10px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px;" ng-click="addAgent(applicant)">
	    <div class="col-xs-12 agent_list_bj">
	      <div class="add_Agent" style="width: 100%;">
	        <p><i class="iconfont icon-tianjia"></i>添加代理人</p>
	      </div>
	    </div>
	  </div>
	</div>
</div>